﻿@model OnlineJewelleryShopping.Areas.Admin.Models.BannerModel

@{
    ViewBag.Title = "Create";
}
@{
    ViewBag.PageHeading = "Create Banner";
    
}
<div id="table-content">
    @using (Html.BeginForm("Create", "Banner", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table width="100%" id="table-form">
            <tr align="left">
                <th width="100px">Url</th>
                <td>@Html.TextBoxFor(m => m.banner_url, new { id = "banner_url" }) @Html.ValidationMessageFor(m => m.banner_url)</td>
            </tr>
            <tr>
                <th width="100px" align="left">Image</th>
                <td>@Html.TextBoxFor(m => m.banner_image, new { id = "banner_image", @readonly = "readonly" }) <input type="button" name="name" value="Browse Server" onclick="BrowseServerFile('banner_image');" /> @Html.ValidationMessageFor(m => m.banner_image)</td>
            </tr>
            <tr><th colspan="2" align="left"><input type="submit" value="Save" /> @Html.ActionLink("Back to List", "Index")</th></tr>
        </table>
    }
</div>

