﻿@model OnlineJewelleryShopping.Models.banner

@{
    ViewBag.Title = "Delete";
}
@{

    ViewBag.PageHeading = "Delete banner";
}
<h3>Are you sure you want to delete this?</h3>
<div id="table-content">
    <table width="100%" id="table-form">
        <tr align="left">
            <th width="100px">Url</th>
            <td>@Html.DisplayFor(model => model.banner_url)</td>
        </tr>
        <tr align="left">
            <th>Image</th>
            <td><img src="@Url.Content(Model.banner_image)" alt="" style="max-width:930px;" /></td>
        </tr>
       
        <tr>
            <th colspan="2">
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()

                    <input type="submit" value="Delete" /> 
        @Html.ActionLink("Back to List", "Index")

}
            </th>
        </tr>
    </table>
</div>

