﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.banner>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
@{

    ViewBag.PageHeading = "List Banner";
}

<p>
    @Html.ActionLink("Create New", "Create") 
</p>
<br />
<br />
<form id="mainform" method="post">
    <div id="table-content">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
            <tr>
                <th class="table-header-check" ><a id="toggle-all"></a></th>
                <th class="table-header-repeat line-left"><a href="">Url</a></th>
                <th class="table-header-repeat line-left" width="510px"><a href="">Image</a></th>
                <th class="table-header-options line-left" width="100px"><a href="">Options</a></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td valign="top">
                        <input type="checkbox" name="@item.banner_id" />
                    </td>
                    <td valign="top">
                        @Html.DisplayFor(modelItem => item.banner_url)
                    </td>
                    <td>
                        <img src="@Url.Content(item.banner_image)" style="max-width:400px;" />
                    </td>
                    <td valign="top">
                        @Html.ActionLink("Edit", "Edit", new { id = item.banner_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.banner_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.banner_id })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div id="actions-box"><input type="submit" value="Delete" onclick="javascript: return confirm('Are you sure to delete ?');" /></div>
</form>
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/Banner/Index?PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/Banner/Index?PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/Banner/Index?PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/Banner/Index?PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="CatchEnterKeyPress(event, this);" />
        </td>
    </tr>
</table>

<div class="clear"></div>
@section Scripts{
    <script>
        function CatchEnterKeyPress(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString())) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/Banner/Index?SortOrder=@ViewBag.CurrentSort&SearchName=@ViewBag.SearchName&PageNumber=" + textarea.value;
                }
            }
        }
    </script>
}
