﻿@model OnlineJewelleryShopping.Models.advertise

@{
    ViewBag.Title = "Delete";
    ViewBag.PageHeading = "Delete advertise";
}
<div id="table-content">
    <h4>Are you sure to delete this Advertise ?</h4>
    <table id="table-form" width="100%" height="200px">
        <tr>
            <th width="100px">Position : </th>
            <td>@Html.DisplayFor(m => m.advertise_name)</td>
        </tr>
        <tr>
            <th width="100px">Url : </th>
            <td>@Html.DisplayFor(m => m.advertise_url)</td>
        </tr>
        <tr>
            <th width="100px">Date added : </th>
            <td>@Html.DisplayFor(m => m.advertise_date)</td>
        </tr>
        <tr>
            <th width="100px">Image : </th>
            <td><img src="@Model.advertise_image" alt="" style="max-width:500px" /></td>
        </tr>
        <tr>
            <td colspan="2">
                @using (Html.BeginForm())
                {
                    
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" />
                    @Html.ActionLink("Back to List", "Index")

                }

            </td>
        </tr>

    </table>
</div>
