﻿@model OnlineJewelleryShopping.Models.advertise
@{
    ViewBag.Title = "Advertise Details";
}
@{
    ViewBag.PageHeading = "Advertise detail";
}
<div id="table-content">
    <table id="table-form" width="100%" height="200px">
        <tr>
            <th width="100px">Position</th>
            <td>@Model.advertise_name</td>
        </tr>
        <tr>
            <th width="100px">Url</th>
            <td>@Model.advertise_url</td>
        </tr>
        <tr>
            <th width="100px">Date added</th>
            <td>@Model.advertise_date</td>
        </tr>
        <tr>
            <th width="100px">Image</th>
            <td><img src="@Model.advertise_image" alt="" style="max-width:500px" /></td>
        </tr>
        <tr>
            <th colspan="2">@Html.ActionLink("Edit", "Edit", new { id = Model.advertise_id }) |
            @Html.ActionLink("Back to List", "Index")</th>
        </tr>
        
    </table>
</div>