﻿@model OnlineJewelleryShopping.Areas.Admin.Models.AdvModel
@{
    ViewBag.Title = "Edit Advertise"; ViewBag.PageHeading = "Edit Advertise";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.advertise_id)
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="200px" align="left" scope="row">Position:</th>
                <td>@Html.DropDownListFor(m => m.advertise_name, (SelectList)ViewBag.Position) @Html.ValidationMessageFor(m => m.advertise_name) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Target :</th>
                <td>@Html.DropDownListFor(m => m.advertise_target, (SelectList)ViewBag.Target) @Html.ValidationMessageFor(m => m.advertise_target)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Url :</th>
                <td>@Html.TextBoxFor(m => m.advertise_url) @Html.ValidationMessageFor(m => m.advertise_url)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Image :</th>
                <td>
                    @Html.TextBoxFor(m => m.advertise_image, new { @readonly = "readonly", @id = "advertise_image" })
                    <input type="button" name="btnBrowse" value="Browse Server" onclick="BrowseServerFileAndSetImage('advertise_image', 'imgPreView');" />
                    @Html.ValidationMessageFor(m => m.advertise_image)
                    <br />
                    <img src="@Url.Content(Model.advertise_image)" id="imgPreView" style="max-width:900px;max-height:300px;" />
                </td>
            </tr>
            <tr><th align="left" colspan="2"><input type="submit" name="Submit" value="Save" /> @Html.ActionLink("Back to list", "Index")</th></tr>
        </table>
    </div>
}
<div class="clear"></div>
