﻿@model OnlineJewelleryShopping.Areas.Admin.Models.ContactModel

@{
    ViewBag.Title = "Edit contact infomation";
}

@{ViewBag.PageHeading = "Edit contact infomation";}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="100px" align="left" scope="row">Address:</th>
                <td >@Html.TextBoxFor(m => m.address) @Html.ValidationMessageFor(m => m.address) </td>
            </tr>
            <tr>
                <th  align="left" scope="row">Email :</th>
                <td >@Html.TextBoxFor(m => m.email) @Html.ValidationMessageFor(m => m.email)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Phone :</th>
                <td >@Html.TextBoxFor(m => m.phone) @Html.ValidationMessageFor(m => m.phone)</td>
            </tr>
            <tr>
                <th  align="left" scope="row">Fax :</th>
                <td >@Html.TextBoxFor(m => m.fax) @Html.ValidationMessageFor(m => m.fax)</td>
            </tr>
            <tr>
                <th  align="left" scope="row">Skype :</th>
                <td>@Html.TextBoxFor(m => m.skype) @Html.ValidationMessageFor(m => m.skype)</td>
            </tr>
            <tr><th colspan="2" align="left"><input type="submit" name="name" value=" Submit" /> @Html.ActionLink("Back", "Index")</th></tr>
        </table>
        <div class="clear"></div>
    </div>

}
