﻿@model OnlineJewelleryShopping.Areas.Admin.Models.ContactModel

@{
    ViewBag.Title = "Contact Infomation";
}

@{ViewBag.PageHeading = "Contact Infomation";}

<div id="table-content">
    <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
        <tr>
            <th width="80px" align="left" scope="row">Address:</th>
            <td>@Html.DisplayFor(m => m.address) </td>
        </tr>
        <tr>
            <th  align="left" scope="row">Email :</th>
            <td >@Html.DisplayFor(m => m.email) </td>
        </tr>
        <tr>
            <th align="left" scope="row">Phone :</th>
            <td>@Html.DisplayFor(m => m.phone) </td>
        </tr>
        <tr>
            <th  align="left" scope="row">Fax :</th>
            <td >@Html.DisplayFor(m => m.fax) </td>
        </tr>
        <tr>
            <th  align="left" scope="row">Skype :</th>
            <td>@Html.DisplayFor(m => m.skype) </td>
        </tr>
        <tr><th colspan="2" align="left">@Html.ActionLink("Change Info", "Edit")</th></tr>
    </table>
</div>
