﻿@model IEnumerable<OnlineJewelleryShopping.Models.product>
@{
    
    ViewBag.Title = "Product Infomation";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}
<script type="text/javascript">
    $(window).load(function () {
        $('#camaccordion').dcAccordion({
            classExpand: 'cid20',
            menuClose: false,
            autoClose: true,
            saveState: false,
            disableLink: true,
            autoExpand: true
        });
    });
</script>

<div id="container">

    <!--Left Part Start-->
    <aside id="column-left">

        @{Html.RenderAction("Menuleft", "Product");}

        @{Html.RenderAction("Featured", "Category");}<script>
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 00,
                    max: 500,
                    values: [22, 500],
                    slide: function (event, ui) {
                        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    },
                    stop: function (event, ui) {
                        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));
                        var from = $("#slider-range").slider("values", 0);
                        var to = $("#slider-range").slider("values", 1);
                        //window.location.href = "http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/product_sort&from=" + from + "&to=" + to;
                        window.location.href = "@Url.Action("PriceRange", "Product")?from=" + from + "&to=" + to;
                    }
                });
                $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));
            });
</script>
@{Html.RenderAction("pricerangeshow", "Product");}
        <!--Featured Product end-->
        <!--Special Offer Start-->
        @{Html.RenderAction("Advproduct", "Site");}
        <!--Special Offer End-->
    </aside>
    <!--Left Part End-->

    <section id="mainContent">
        <div id="content">

            <!--Social Icons Start-->
            @RenderPage("~/Views/Shared/_social.cshtml")
            <!--Social Icons End-->
            @foreach (var product in Model)
            {
                <div class="product-info">

                    <div class="left">
                        <div class="image">
                            <a href="@Url.Content(product.product_images_02)" title="Diamond Rings" class="cloud-zoom thumbnail" id='zoom1' rel="adjustX: 10, adjustY:-4, tint:'#000000',tintOpacity:0.2, zoomWidth:365, zoomHight: 275, position:'inside', showTitle:true">
                                <img src="@Url.Content(product.product_images_02)" title="@product.product_name" alt="@product.product_name" id="image" width="300" height="300" />
                            </a>
                        </div>
                        <div class="image-additional">
                            <a href="@Url.Content(product.product_images_03)" title="Diamond Rings" rel="useZoom: 'zoom1', smallImage: '@Url.Content(product.product_images_03)'" class="cloud-zoom-gallery thumbnail">
                                <img src="@Url.Content(product.product_images_03)" title="@product.product_name" alt="@product.product_name" width="75" height="75" />
                            </a>
                            <a href="@Url.Content(product.product_images_04)" title="Diamond Rings" rel="useZoom: 'zoom1', smallImage: '@Url.Content(product.product_images_04)'" class="cloud-zoom-gallery thumbnail">
                                <img src="@Url.Content(product.product_images_04)" title="@product.product_name" alt="@product.product_name" width="75" height="75" />
                            </a>
                            <a href="@Url.Content(product.product_images_05)" title="Diamond Rings" rel="useZoom: 'zoom1', smallImage: '@Url.Content(product.product_images_05)'" class="cloud-zoom-gallery thumbnail">
                                <img src="@Url.Content(product.product_images_05)" title="@product.product_name" width="75" height="75" alt="@product.product_name" />
                            </a>
                        </div>
                    </div>

                    <div class="right">
                        <div class="description">
                            <h1>@product.product_name</h1>
                            <span>Brand: </span>
                            <a href="@Url.Action("Brand", "Product", new { id = @product.brand_id })">@product.brand.brand_name</a><br />
                            <span>Product Code:</span> Product @product.product_id<br />
                            <span>Availability:</span>
                            @if (@product.product_quantity > 0)
                            {
                                @Html.Label("Number in stock: ") @product.product_quantity<br />
                            }
                            else
                            {
                                @Html.Label("Out stock")<br />
                            }
                            @foreach (var item in product.product_discount_detail)
                            {
                                if(item.product_discount.product_discount_startdate<= DateTime.Now && item.product_discount.product_discount_enddate>= DateTime.Now)
                                {
                                    <span>Discounts: </span><a>From @string.Format("{0:dd-MM-yyyy}", @item.product_discount.product_discount_startdate) to @string.Format("{0:dd-MM-yyyy}", @item.product_discount.product_discount_enddate) </a>
                            }
                            }
                        </div>
                        <div class="price">
                            @if (product.product_discount_detail.Count > 0)
                            {
                                foreach (var item in product.product_discount_detail)
                                {
                                    if (item.product_discount.product_discount_startdate <= DateTime.Now && item.product_discount.product_discount_enddate >= DateTime.Now)
                                    {
                                        <div class="price-bg">
                                            <span class="price-old">$@string.Format("{0:F}", @product.product_price)</span>
                                            <span class="price-new">$@string.Format("{0:F}", @ViewBag.saveyou)</span>
                                            <span class="price-tax">Discount:@ViewBag.per%</span>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="price-bg">
                                            <span class="price-new">
                                                Price<br />
                                                $@string.Format("{0:F}", @product.product_price)
                                            </span>
                                        </div>

                                    }
                                }
                            }
                            else
                            {

                                <div class="price-bg">
                                    <span class="price-new">
                                        Price<br />
                                        $@string.Format("{0:F}", @product.product_price)
                                    </span>
                                </div>
                            }
                        </div>
                        <div class="options">
                            <h2>Available Options</h2>
                            <br>
                            <div id="option-217" class="option">
                                <span class="button">Material:</span>
                                <b>@product.product_material</b><br>
                            </div>
                            <br>

                            <div id="option-217" class="option">
                                <span class="button">Weight:</span>
                                <b>@product.product_weight</b><br>
                            </div>
                            <br>

                            <div id="option-217" class="option">
                                <span class="button">Dimention:</span>
                                <b>@product.product_dimention</b><br>
                            </div>
                            <br>

                            <div id="option-217" class="option">
                                <span class="button">Color:</span>
                                <b>@product.product_color</b><br>
                            </div>
                            <br>
                        </div>
                        @if (@product.product_quantity != 0)
                        {
                            using (Html.BeginForm("AddToCart", "Checkout", FormMethod.Post))
                            {
                                <div class="cart">
                                    <div class="qty">
                                        Qty: <a class="qtyBtn mines" href="javascript:void(0);">&nbsp;</a>
                                        <input id="qty" type="text" name="quantity" size="2" value="1" />
                                        <a class="qtyBtn plus" href="javascript:void(0);">&nbsp;</a>
                                        <input type="hidden" name="txtproduct_id" value="@product.product_id" />
                                        <label class="btn"><input type="submit" value="Add to Cart" class="button" /></label>

                                    </div>
                                    <div class="add-link">
                                        @Html.ActionLink("Add to Wish List", "WishList", "Account")
                                    </div>
                                </div>
                            }
                        }
                        else
                        {

                            using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
                            {
                                <label class="btn"><input type="submit" value="Out stock - Please contact shop" class="button" /></label>
                            }
                        }
                    </div>
                </div>

            }
        </div>
        <div id="tabs" class="htabs">
            <a href="#tab-description" class="selected">Description</a>
            <a href="#tab-review">Reviews</a>
        </div>
        @foreach (var item in Model)
        {
            <div id="tab-description" class="tab-content">
                <div>
                    @Html.Raw(@item.product_descripttion)
                </div>
            </div>
        }
        @{Html.RenderAction("Review", "Product");}
    </section>
</div>
