﻿<div class="box">
    <div class="box-heading">Categories</div>
    <div class="box-content">
        <div class="box-category">
            @{Html.RenderAction("Menu", "Category");}
        </div>
    </div>
</div>