﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.product_review>

@using PagedList.Mvc;
<div id="tab-review" class="tab-content" style="display: block;">
    <div id="review">
        @foreach(var item in Model)
        {
            if(item.product_review_status==true)
            {
        <div class="review-list">
            <div class="author"><b>@item.product_review_name</b>  </div>
            <div class="rating">@string.Format("{0:dd-MM-yyyy}", item.product_review_date)</div>
            <div class="text">@item.product_review_text</div>
        </div>
            }
            }
        
        <div class="pagination">
            Showing (
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount )
           
            @Html.PagedListPager(Model, page => Url.Action("Review", "Product", new { page, currentfiler = ViewBag.txtname }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

        </div>

    </div>
    <h2 id="review-title">Write a review</h2>
    @using(Html.BeginForm())
    { 
    <b class="mb5">Your Name:</b><br>
        
            <input type="hidden"  name="txtproduct_id" value="@ViewBag.product_id" />
        
    <input type="text" class="form-control" required="" name="fullname" value="">
    <br>
    <br>
    <b class="mb5">Your Review:</b>
    <textarea name="txtcontent" class="form-control" required="" cols="40" rows="8" style="width: 97%;"></textarea>
    <span style="font-size: 11px;"><span style="color: #FF0000;">Note:</span> HTML is not translated!</span><br>
    <br>
    <div class="buttons">
        <div class="left">
            <input type="submit" value="Continue" class="button" />
        </div>
    </div>
    }
</div>