﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.product>
@using PagedList.Mvc;
@{

    ViewBag.Title = "Search By Name Product";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(input)
    }
    else
    {
        var thisString = input.Substring(0, length);
        @Html.Raw(thisString)
    }
}

<div id="content">

    <h1>Search - @ViewBag.name</h1>
    <b>Search According Name Product</b>
    @using (Html.BeginForm("SearchByName", "Product", FormMethod.Get, new {id = "frmTimKiem" }))
    {
        <div class="content">
            <p>
                Search:

                <input type="text" name="Keyword" value="@ViewBag.name" />
                @Html.DropDownList("Brand", (SelectList)ViewBag.Brand, "Brand")
                @Html.DropDownList("Category", (SelectList)ViewBag.TopCategory, "Category")

            </p>


        </div>
        <div class="buttons">
            <div class="right"><label class="btn"><input type="submit" value="Search" id="button-search" class="button"></label></div>
        </div>
        <h2>Products meeting the search criteria</h2>
        <div class="product-filter">
            <div class="display"><b>Display:</b> <span class="list">List</span> </div>
            <div class="limit">
                Show:
                <select onchange ="javascript: return document.getElementById('frmTimKiem').submit();" name="PageSize">
                    <option value="15" selected="selected">15</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    </select>
</div>
            <div class="sort">
                <!--onchange="location.href = '/Product/SearchByName?Keyword=@ViewBag.CurrentKeyword&Brand=@ViewBag.CurrentBrand&Category=@ViewBag.CurrentCategory';"-->
                Sort By Price:
                <select onchange="javascript: return document.getElementById('frmTimKiem').submit();"  name="order">

                    <option value="default" @if (ViewBag.CurrentOrder == "default")
                                            { @Html.Raw("selected")        ; }>Default</option>
                    <option value="asc" @if (ViewBag.CurrentOrder == "asc")
                                        { @Html.Raw("selected")    ;
                                        }>Price (Low > High)</option>
                    <option value="desc" @if (ViewBag.CurrentOrder == "desc")
                                         { @Html.Raw("selected")     ;
                                         }>Price (High > Low)</option>
                    <option value="namea" @if (ViewBag.CurrentOrder == "namea") { @Html.Raw("selected")      ; }>Name (A > Z)</option>
                    <option value="namez" @if (ViewBag.CurrentOrder == "namez") { @Html.Raw("selected")       ; }>Name (Z > A)</option>

                </select>
            </div>
        </div>

    }
    <div class="product-list">
        @foreach (var item in Model)
        {
            <div>
                <div class="right">
                    @if (item.product_discount_detail.Count > 0)
                    {
                        <div class="price">
                            @foreach (var dis in item.product_discount_detail)
                            {
                                if (dis.product_discount.product_discount_startdate <= DateTime.Now && dis.product_discount.product_discount_enddate >= DateTime.Now)
                                {
                                    <span class="price-old">$@item.product_price</span>
                                    <span class="price-new">
                                        @{float pricenew = (float)item.product_price * (float)dis.product_discount.product_discount_amount / 100;}
                                        @{float pricen = (float)item.product_price - pricenew;}
                                        $@string.Format("{0:f}", pricen)
                                    </span>
                                }
                            }
                        </div>
                    }
                    else
                    {

                        <div class="price">
                            $@string.Format("{0:f}", @item.product_price) <br>
                        </div>
                    }
                    <div class="cart">
                        <label class="btn">
                            @if (item.product_quantity != 0)
                            {
                                <a href="@Url.Action("Index", "Product", new { id = @item.product_id })">
                                    <input type="button" value="Add to Cart" class="button">
                                </a>
                            }
                            else
                            {

                                <a href="@Url.Action("Index", "Product", new { id = @item.product_id })">
                                    <input type="button" value="Out stock" class="button">
                                </a>
                            }
                        </label>
                    </div>
                </div>
                <div class="left">
                    <div class="image">
                        <a href="@Url.Action("Index", "Product", new { id = @item.product_id })">
                            <img src="@Url.Content(@item.product_images_01)" title="@item.product_name" alt="@item.product_name" height="80" width="80" />
                        </a>
                    </div>
                    <div class="name">
                        <a href="@Url.Action("Index", "Product", new { id = @item.product_id })">@item.product_name</a>
                    </div>
                    <div class="description">
                        @Truncate(@item.product_descripttion, 70)
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="pagination">
        Showing (
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount )
        @Html.PagedListPager(Model, Pagenumber => Url.Action("SearchByName", new { Keyword = ViewBag.name, Brand = ViewBag.Brandcurrent, Category = ViewBag.Categorycurrent, order = ViewBag.CurrentOrder, Pagesize = ViewBag.pagesize, Pagenumber }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

    </div>
</div>
