﻿@model OnlineJewelleryShopping.Areas.Admin.Models.AcountantModel

@{
    ViewBag.Title = "Edit Acountant Value";
}
@{
    ViewBag.PageHeading = "Edit Acoutant Value";

}
@using (Html.BeginForm("Edit", "Acountant", FormMethod.Post, new { onsubmit = "ValidateForm();" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="20%" align="left" scope="row">VAT (%):</th>
                <td width="80%">@Html.TextBoxFor(m => m.account_tant_vat)  @Html.ValidationMessageFor(m => m.account_tant_vat)</td>
            </tr>
            @*<tr>
                <th width="20%" align="left" scope="row">Discount :</th>
                <td width="80%">@Html.TextBoxFor(m => m.account_tant_discount) @Html.ValidationMessageFor(m => m.account_tant_discount) </td>
            </tr>*@
            <tr><th><input type="submit" name="name" value="Save" /> @Html.ActionLink("Back to view value", "Index")</th></tr>
        </table>
    </div>
    <div class="clear"></div>
}