﻿@model OnlineJewelleryShopping.Areas.Admin.Models.AcountantModel

@{
    ViewBag.Title = "Acoutant value";
}

@{ViewBag.PageHeading = "Acountant Value";}

<div id="table-content">
    <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
        <tr>
            <th width="20%" align="left" scope="row">VAT:</th>
            <td width="80%">@Html.DisplayFor(m => m.account_tant_vat) % </td>
        </tr>
        @*<tr>
            <th width="20%" align="left" scope="row">Discount :</th>
            <td width="80%">@Html.DisplayFor(m => m.account_tant_discount) </td>
        </tr>*@
        <tr><th>@Html.ActionLink("Change Value", "Edit")</th></tr>
    </table>
</div>
