﻿.AboutUsContent {
    margin: 10px 10px;
    padding: 0;
    width: 100%;
    max-height: 1200px;
    overflow-x: scroll;
}

a:link {
    text-decoration: none;
}

.btn {
    display: block;
    padding:10px;
    margin: 5px;
    background-color: #949494;
    border: 0;
    bottom: 5px;
    float: left;
    font-weight: bold;
    color: white;
}

a .btn {
      display: block;
    padding:20px;
    margin: 20px;
    background-color: #949494;
    border: 0;
    font-weight: bold;
    color: white; 

}
