﻿@model OnlineJewelleryShopping.Areas.Admin.Models.ProductModel

@{
    ViewBag.Title = "Create";
}
@{
    ViewBag.PageHeading = "Create Product";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="150px" align="left" scope="row">Product Name: </th>
                <td >@Html.TextBoxFor(m => m.product_name) @Html.ValidationMessageFor(m => m.product_name) </td>
            </tr>
            <tr>
                <th  align="left" scope="row">Brand: </th>
                <td >@Html.DropDownListFor(m => m.brand_id, (SelectList)ViewBag.Brand, new {width = "200px" }) @Html.ValidationMessageFor(m => m.brand_id)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Category: </th>
                <td >@Html.DropDownListFor(m => m.category_id, (SelectList)ViewBag.Category, new {width = "200px" }) @Html.ValidationMessageFor(m => m.category_id)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Price: </th>
                <td>@Html.TextBoxFor(m => m.product_price) @Html.ValidationMessageFor(m => m.product_price) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Quantity: </th>
                <td>@Html.TextBoxFor(m => m.product_quantity) @Html.ValidationMessageFor(m => m.product_quantity) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Metarial: </th>
                <td>@Html.TextBoxFor(m => m.product_material) @Html.ValidationMessageFor(m => m.product_material) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Weight: </th>
                <td>@Html.TextBoxFor(m => m.product_weight) @Html.ValidationMessageFor(m => m.product_weight) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Color: </th>
                <td>@Html.TextBoxFor(m => m.product_color) @Html.ValidationMessageFor(m => m.product_color) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Dimention: </th>
                <td>@Html.TextBoxFor(m =>m.product_dimention) @Html.ValidationMessageFor(m => m.product_dimention) </td>
            </tr>

            <tr>
                <th align="left" scope="row">Image : </th>
                <td>@Html.TextBoxFor(m => m.product_images_01, new { id = "product_images_01", @readonly = "readonly" }) <input type="button" name="browse" value="Browse" onclick="BrowseServerFile('product_images_01');" /> @Html.ValidationMessageFor(m => m.product_images_01) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Image : </th>
                <td>@Html.TextBoxFor(m => m.product_images_02, new { id = "product_images_02", @readonly = "readonly" }) <input type="button" name="browse" value="Browse" onclick="BrowseServerFile('product_images_02');" /> @Html.ValidationMessageFor(m => m.product_images_02) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Image : </th>
                <td>@Html.TextBoxFor(m => m.product_images_03, new { id = "product_images_03", @readonly = "readonly" }) <input type="button" name="browse" value="Browse" onclick="BrowseServerFile('product_images_03');" /> @Html.ValidationMessageFor(m => m.product_images_03) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Image : </th>
                <td>@Html.TextBoxFor(m => m.product_images_04, new { id = "product_images_04", @readonly = "readonly" }) <input type="button" name="browse" value="Browse" onclick="BrowseServerFile('product_images_04');" /> @Html.ValidationMessageFor(m => m.product_images_04) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Image : </th>
                <td>@Html.TextBoxFor(m => m.product_images_05, new { id = "product_images_05", @readonly = "readonly" }) <input type="button" name="browse" value="Browse" onclick="BrowseServerFile('product_images_05');" /> @Html.ValidationMessageFor(m => m.product_images_05) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Description: </th>
                <td>@Html.TextAreaFor(m => m.product_descripttion, new { @class = "ckeditor" }) @Html.ValidationMessageFor(m => m.product_descripttion) </td>
            </tr>
            <tr><td align="left"><input type="submit" value="Submit" />@Html.ActionLink("Back to List", "Index")</td></tr>
        </table>
    </div>
}
<div class="clear"></div>


