﻿@model OnlineJewelleryShopping.Models.product

@{
    ViewBag.Title = "Product Detail";
}
@{
    ViewBag.PageHeading = "Product Details";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.product_id)
    <div id="table-content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table-form">
            <tr>
                <th width="100px" align="left" scope="row">Product Name: </th>
                <td>@Model.product_name </td>
            </tr>
            <tr>
                <th align="left" scope="row">Brand: </th>
                <td>@Model.brand.brand_name</td>
            </tr>
            <tr>
                <th align="left" scope="row">Category: </th>
                <td>@Model.category.category_name</td>
            </tr>
            <tr>
                <th align="left" scope="row">Price: </th>
                <td>@Model.product_price </td>
            </tr>
            <tr>
                <th align="left" scope="row">Quantity: </th>
                <td>@Model.product_quantity </td>
            </tr>
            <tr>
                <th align="left" scope="row">Color: </th>
                <td>@Model.product_color </td>
            </tr>
            <tr>
                <th align="left" scope="row">Metarial: </th>
                <td>@Model.product_color </td>
            </tr>
            <tr>
                <th align="left" scope="row">Weight: </th>
                <td>@Model.product_weight </td>
            </tr>
            <tr>
                <th align="left" scope="row">Color: </th>
                <td>@Model.product_material </td>
            </tr>
            <tr>
                <th align="left" scope="row">Dimention: </th>
                <td>@Model.product_dimention </td>
            </tr>
            <tr>
                <th align="left" scope="row">Date Added: </th>
                <td>@Model.product_dateadd </td>
            </tr>
            <tr>
                <th align="left" scope="row">Sell status: </th>
                <td>@Model.product_status </td>
            </tr>
            <tr>
                <th align="left" scope="row">Image : </th>
                <td><img src="@Model.product_images_01" alt="" style="height:auto;max-height:200px;  width:auto;max-width:200px;" /></td>
            </tr>
            <tr>
                <th align="left" scope="row">Image : </th>
                <td><img src="@Model.product_images_02" alt="" style="height:auto;max-height:200px;  width:auto;max-width:200px;" /></td>
            </tr>
            <tr>
                <th align="left" scope="row">Image : </th>
                <td><img src="@Model.product_images_03" alt="" style="height:auto;max-height:200px;  width:auto;max-width:200px;" /></td>
            </tr>
            <tr>
                <th align="left" scope="row">Image : </th>
                <td><img src="@Model.product_images_04" alt="" style="height:auto;max-height:200px;  width:auto;max-width:200px;" /></td>
            </tr>
            <tr>
                <th align="left" scope="row">Image : </th>
                <td><img src="@Model.product_images_05" alt="" style="height:auto;max-height:200px;  width:auto;max-width:200px;" /></td>
            </tr>
            <tr>
                <th align="left" scope="row">Description: </th>
                <td>@Html.Raw(Model.product_descripttion) </td>
            </tr>
            <tr>
                <th align="left" colspan="2" style="padding-left:20px;">
                    @if (Model.orders_detail.Count() == 0)
                    {
                        <input type="submit" name="name" value="Delete" />
                    }
                    else
                    {
                        <h3>
                            Can not delete this Product
                        </h3>
                    }
                    @Html.ActionLink("Back to list", "Index")
                </th>
            </tr>
        </table>
    </div>
}
<div class="clear"></div>


