﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.product>
@using PagedList.Mvc

@{
    ViewBag.Title = "List Product";
    ViewBag.PageHeading = "List Product";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<form action="" method="get">
    <p>
        Brand :
        <select name="Brand">
            @foreach (SelectListItem b in ViewBag.Brands)
            {
                <option value="@b.Value" @if (ViewBag.CurrentBrand == b.Value) { @Html.Encode("selected") }>@b.Text</option>
            }
        </select>

        Category :
        <select name="Category">
            @foreach (SelectListItem b in ViewBag.Categories)
            {
                <option value="@b.Value" @if (ViewBag.CurrentCategory == b.Value) { @Html.Encode("selected")   }>@b.Text</option>
            }
        </select>
        Quantity :
        <select name="Quantity">
            <option value="All" @if (ViewBag.CurrentQuantity == "All") { @Html.Raw("selected") }>All</option>
            <option value="Available" @if (ViewBag.CurrentQuantity == "Available") { @Html.Encode("selected") }>Available</option>
            <option value="SoldOut" @if (ViewBag.CurrentQuantity == "SoldOut") { @Html.Encode("selected") }>Sold out</option>
        </select>
        Status :
        <select name="Status">
            <option value="Selling" @if (ViewBag.CurrentStatus == "Selling")
            { @Html.Encode("selected") }>Selling</option>
            <option value="NotSell" @if (ViewBag.CurrentStatus == "NotSell")
            { @Html.Encode("selected") }>Not Sell</option>
            <option value="All" @if (ViewBag.CurrentStatus == "All") { Html.Encode("selected"); }>All</option>
        </select>
        <br />
        Search :
        <input type="text" class="cboFilter" name="Keyword" value="@ViewBag.KeyWord" placeholder="Enter key word to search..." height="30px" />
        <input type="submit" value="Filter" />
    </p>
</form>
<br />
<form id="mainform" method="post">
    <div id="table-content">

        <table id="product-table" width="100%">
            <tr>
                <th class="table-header-check"><a id="toggle-all"></a></th>
                <th class="table-header-repeat line-left" width="45px"><a>ID</a></th>
                <th class="table-header-repeat line-left"><a>Image</a></th>
                <th class="table-header-repeat line-left"><a>Name</a></th>
                <th class="table-header-repeat line-left"><a>Price</a></th>
                <th class="table-header-repeat line-left"><a>Quantity</a></th>
                <th class="table-header-repeat line-left"><a>Option</a></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="@item.product_id" />
                    </td>
                    <td>
                        @item.product_id
                    </td>
                    <td align="center" valign="bottom">
                        <img src="@Url.Content(item.product_images_01)" width="50px" height="50px" alt="" />
                    </td>
                    <td>
                        @item.product_name
                    </td>
                    <td>
                       $@string.Format("{0:F}",item.product_price)
                    </td>
                    <td>
                        @item.product_quantity
                    </td>
                   
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.product_id }) |
                        @Html.ActionLink("Details", "Index", "Product", new { area = "", id = item.product_id }, new { target = "_blank" }) |
                        @Html.ActionLink("Review", "Review", new { id = item.product_id })
                        @if (item.orders_detail.Count() == 0)
                        {
                           <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = item.product_id })
                        }
                        
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="actions-box"><input type="submit" value="Delete" onclick="javascript: return confirm('Are you sure to delete ?');" /></div>
</form>
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/Products/Index?Keyword=@ViewBag.Keyword&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/Products/Index?Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/Products/Index?SortOrder=@ViewBag.CurrentSort&Keyword=@ViewBag.SearchName&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/Products/Index?SortOrder=@ViewBag.CurrentSort&Keyword=@ViewBag.SearchName&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>
<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString())) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/Products/Index?Keyword=@ViewBag.Keyword&PageNumber=" + textarea.value;
                }
            }
        }
    </script>
}
