﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.product_review>
@using PagedList.Mvc

@{
    ViewBag.Title = "List Product review";
    ViewBag.PageHeading = "List Product review";
}

<p>
    @using (Html.BeginForm("CreateReview", "Products", new { id = ViewBag.ID }, FormMethod.Get))
    {
        
        <span>Name: </span>        <input type="text" name="txtName" value=" " />
        <br />
       <span>Content: </span>        <input type="text" name="txtContent" value="" />
    <br />
    <input type="submit" name="" value="Create" />
    }

</p>
<br />
<form action="" method="get">
    <p>
        Search :
        <input type="text" class="cboFilter" name="Keyword" value="@ViewBag.KeyWord" placeholder="Enter key word to search..." height="30px" />
        <input type="submit" value="Filter" />
    </p>
</form>
<br />
<form id="mainform" method="post">
    <div id="table-content">

        <table id="product-table" width="100%">
            <tr>
                
                <th class="table-header-repeat line-left"><a>Content</a></th>
                <th class="table-header-repeat line-left" width="70px"><a>Option</a></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        <b>@item.product_review_name: </b>                    
                        @Html.Raw(item.product_review_text)
                    </td>
                    <td>
                        @if (item.product_review_status != null && item.product_review_status == true)
                        {
                            @Html.ActionLink("View", "IsView", new { id = item.product_review_id })
                        }
                        else
                        {
                            @Html.ActionLink("Hide", "IsView", new { id = item.product_review_id })
                        }
                       
                        @Html.ActionLink("Delete", "DeleteReview", new { id = item.product_review_id })
                    </td>

                </tr>
            }

        </table>
    </div>
</form>
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/Product/Review/@ViewBag.ID?Keyword=@ViewBag.Keyword&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/Product/Review/@ViewBag.ID?Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/Product/Review/@ViewBag.ID?Keyword=@ViewBag.SearchName&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/Product/Review/@ViewBag.ID?Keyword=@ViewBag.SearchName&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>
<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString())) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/Product/Review/@ViewBag.ID?Keyword=@ViewBag.Keyword&PageNumber=" + textarea.value;
                }
            }
        }
    </script>
}
