﻿@model OnlineJewelleryShopping.Models.CustomerChangePasswordModel
@{
    ViewBag.Title = "ChangePwd";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}
<div id="content">

    <h1>Change Password</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div class="rbox">
            <h2>Your Password</h2>
            @this.Session["message"]
            <div class="content">
                <table class="form">
                    <tbody>
                        <tr>
                            <td><span class="required">*</span> Password old:</td>
                            <td>
                                @Html.PasswordFor(model => model.customer_password_old)
                                @Html.ValidationMessageFor(model => model.customer_password_old)
                            </td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Password:</td>
                            <td>
                                @Html.PasswordFor(model => model.customer_password)
                                @Html.ValidationMessageFor(model => model.customer_password)
                            </td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Password Confirm:</td>
                            <td>                                
                                @Html.PasswordFor(model => model.customer_password_confirm)
                                @Html.ValidationMessageFor(model => model.customer_password_confirm)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttons borderTop">
            <div class="left"><label class="btn"><a href="@Url.Action("Index","Account")" class="button">Back</a></label></div>
            <div class="right"><label class="btn"><input type="submit" value="Continue" class="button"></label></div>
        </div>
}
</div>