﻿@{
    ViewBag.Title = "EditAddress";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@model OnlineJewelleryShopping.Models.customer
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}
<div id="content">




    <h1>Address Book</h1>
    @using (Html.BeginForm())
                {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="rbox">
            <h2>Edit Address</h2>
            <div class="content">
                <table class="form">
                    <tbody>
                        <tr>
                            <td><span class="required">*</span> First Name:</td>
                            <td>
                                <input type="text" name="customer_firstname" required="" min="3" max="100" value="@Model.customer_firstname" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Last Name:</td>
                            <td>
                                <input type="text" name="customer_lastname" required="" min="3" max="100" value="@Model.customer_lastname" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>
                        <tr>
                            <td>Company:</td>
                            <td>
                                <input type="text" name="customer_company" value="@Model.customer_company" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Address 1:</td>
                            <td>
                                <input type="text" name="customer_address1" required="" min="3" max="100" value="@Model.customer_address1" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>
                        <tr>
                            <td>Address 2:</td>
                            <td>
                                <input type="text" name="customer_address2" value="@Model.customer_address2" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> City:</td>
                            <td>
                                <input type="text" name="customer_city" required="" min="3" max="100" value="@Model.customer_city" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>

                        <tr>
                            <td><span class="required">*</span> State:</td>
                            <td>
                                <input type="text" name="customer_state" required="" min="3" max="100" value="@Model.customer_state" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>

                        <tr>
                            <td><span class="required">*</span> Zip Code:</td>
                            <td>
                                <input type="text" name="customer_zipcode" required="" min="3" max="100" value="@Model.customer_zipcode" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">


                            </td>
                        </tr>


                        <tr>
                            <td><span class="required">*</span> Country:</td>
                            <td>
                                 @Html.DropDownListFor(m => m.customer_country, (SelectList)ViewBag.country, new { width = "200px" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttons borderTop">
            <div class="left"><label class="btn"><a href="@Url.Action("Address","Account")" class="button">Back</a></label></div>
            <div class="right">
                <label class="btn"><input type="submit" value="Continue" class="button"></label>
            </div>
        </div>
}
</div>
