﻿@model OnlineJewelleryShopping.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] != null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Index" }));

}

<div id="content">

    <h1>Account Login</h1>
@using (Html.BeginForm())
{
                    @Html.ValidationSummary(true)
    
    <div class="login-content">
        <div class="left">
            <h2>New Customer</h2>
            <div class="content">
                <p><b>Register Account</b></p>
                <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                <label class="btn"><a class="button" href="@Url.Action("Register", "Account")">Continue</a></label>
            </div>
        </div>

        <div class="right">
            <h2>Returning Customer</h2>
                <div class="content">
                    <p>I am a returning customer</p>
                    <b>E-Mail Address:</b><br>
                   
                    @Html.TextBoxFor(u => u.customer_email)
                    @Html.ValidationMessageFor(u => u.customer_email)
                    <br>
                    <br>
                    <b>Password:</b><br>
                    @Html.PasswordFor(u => u.customer_password)
                    @Html.ValidationMessageFor(u => u.customer_password)
                    <br>
                    <a href="@Url.Action("Forget_Pwd", "Account")">Forgotten Password</a><br>
                    <br>
                      @Html.CheckBoxFor(u=>u.Remember) Remember my ID<br /><br />
                    
                    <label class="btn"><input type="submit" class="button" value="Login"></label>
                </div>
        </div>
    </div>
}
</div>