﻿@model  IEnumerable<OnlineJewelleryShopping.Models.order>
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}

@foreach (var order in Model)
{
    if (order.customer_id == Convert.ToInt16(Session["customer_id"]))
    {



        <div id="content">

            <h1>Order Information</h1>
            <table class="list">
                <thead>
                    <tr>
                        <td class="left" colspan="2">Order Details</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left" style="width: 50%;">
                            <b>Order ID:</b> #@order.orders_id<br>
                            <b>Date Added:</b> @string.Format("{0:dd-MM-yyyy}", @order.orders_date)
                        </td>

                        <td class="left" style="width: 50%;">
                            <b>Payment Method:</b> @order.orders_payment<br>
                            <b>Date Received:</b> @string.Format("{0:dd-MM-yyyy}", @order.orders_datereceive)
                        </td>
                    </tr>

                </tbody>
            </table>
            <table class="list">
                <thead>
                    <tr>
                        <td class="left">Billing Address</td>
                        <td class="left">Shipping Address</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left">@order.billing_firstname @order.billing_lastname<br>@order.billing_address1<br>@order.billing_address2<br>@order.billing_city<br>@order.billing_state - @order.billing_zipcode<br>@order.billing_country<br />@order.billing_phone</td>
                        <td class="left">@order.shipping_firstname @order.shipping_lastname<br>@order.shipping_address1<br>@order.shipping_address2<br>@order.shipping_city<br>@order.shipping_state - @order.shipping_zipcode<br>@order.shipping_country<br />@order.shipping_phone</td>

                    </tr>
                </tbody>
            </table>
            <table class="list">
                <thead>
                    <tr>
                        <td class="left">Product Name</td>
                        <td class="left">Model</td>
                        <td class="right">Quantity</td>
                        <td class="right">Price</td>
                        <td style="width: 1px;"></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orders_detail in order.orders_detail)
                    {
                        <tr>
                            <td class="left">@orders_detail.product.product_name</td>
                            <td class="left">Product @orders_detail.product.product_id</td>
                            <td class="right">@orders_detail.orders_detail_quantity</td>
                            @if (orders_detail.orders_detail_discount > 0)
                            {
                                <td class="right">
                                    @{float pricedis = (float)orders_detail.orders_detail_price - (float)orders_detail.orders_detail_discount;}
                                    @string.Format("{0:F}", @pricedis)<br />
                                    <div style="text-decoration:line-through">@string.Format("{0:F}", @orders_detail.orders_detail_price)</div>
                                </td>
                            }
                            else
                            {

                                <td class="right">@string.Format("{0:F}", @orders_detail.orders_detail_price)</td>
                            }
                            <td class="right"><a href=""><img src="@Url.Content("/data/files/return.png")" alt="Return" title="Return"></a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td class="right"><b>VAT:</b></td>
                        <td class="right">$@string.Format("{0:F}", @order.orders_vat)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="right"><b>Total:</b></td>
                        <td class="right">$@string.Format("{0:F}", @order.orders_total)</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <h2>Order History</h2>
            <table class="list">
                <thead>
                    <tr>
                        <td class="left">Date Send</td>
                        <td class="left">Status</td>
                        <td class="left">Comment</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left">@string.Format("{0:dd-MM-yyyy}", @order.orders_datesent)</td>
                        <td class="left">@order.orders_status</td>
                        <td class="left">@order.orders_comment</td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons">
                <div class="right"><label class="btn"><a href="@Url.Action("OrderHistory","Account")" class="button">Continue</a></label></div>
            </div>
        </div>
    }
    else
    {

        Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "OrderHistory" }));
    }



}