﻿@{
    ViewBag.Title = "OrderReturn";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}
<div id="content">


    <h1>Product Returns</h1>
    <div class="content">You have not made any previous returns!</div>
    <div class="buttons">
        <div class="right"><label class="btn"><a href="" class="button">Continue</a></label></div>
    </div>
</div>
