﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.order>

@using PagedList.Mvc;
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}
<div id="content">
    <h1>Order History</h1>
    @foreach (var item in Model)
    {
            <div class="order-list">
                <div class="order-id"><b>Order ID:@item.orders_id</b> </div>
                <div class="order-status"><b>Status:</b> @item.orders_status</div>
                <div class="order-content">
                    <div>
                        <b>Date Added:</b> @string.Format("{0:dd-MM-yyyy}", @item.orders_date)<br>

                    </div>
                    <div>
                        <b>Customer:</b> @item.customer.customer_firstname @item.customer.customer_lastname<br>
                        <b>Total:</b> $@string.Format("{0:F}", @item.orders_total)
                    </div>
                    <div class="order-info"><a href="@Url.Action("OrderDetails", "Account", new { id = @item.orders_id })"><img src="@Url.Content("/data/files/info.png")" alt="View" title="View"></a>&nbsp;&nbsp;<a href=""><img src="@Url.Content("/data/files/reorder.png")" alt="Reorder" title="Reorder"></a></div>
                </div>
            </div>
    }
    
    <div class="pagination">
        Showing (
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount )
        @Html.PagedListPager(Model, page => Url.Action("OrderHistory", "Account", new { page}), PagedListRenderOptions.OnlyShowFivePagesAtATime)

    </div>



        <div class="right"><label class="btn"><a href="@Url.Action("Index","Account")" class="button">Continue</a></label></div>
    
</div>