﻿@{
    ViewBag.Title = "OrderTrans";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}
<div id="content">


    <h1>Your Transactions</h1>
    <p>Your current balance is:<b> 0.00€</b>.</p>
    <table class="list">
        <thead>
            <tr>
                <td class="left">Date Added</td>
                <td class="left">Description</td>
                <td class="right">Amount (lei)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center" colspan="5">You do not have any transactions!</td>
            </tr>
        </tbody>
    </table>
    <div class="pagination"><div class="results">Showing 0 to 0 of 0 (0 Pages)</div></div>
    <div class="buttons">
        <div class="right"><label class="btn"><a href="" class="button">Continue</a></label></div>
    </div>
</div>
