﻿@model OnlineJewelleryShopping.Areas.Admin.Models.BrandModel

@{
    ViewBag.Title = "Create";
    ViewBag.PageHeading = "Create brand";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-from">
            <tr>
                <th width="200px" align="left" scope="row">Name</th>
                <td>@Html.TextBoxFor(m => m.brand_name) @Html.ValidationMessageFor(m => m.brand_name)</td>
            </tr>
            <tr>
                <th  align="left" scope="row">Phone</th>
                <td>@Html.TextBoxFor(m => m.brand_phone) @Html.ValidationMessageFor(m => m.brand_phone)</td>
            </tr>
            <tr>
                <th  align="left" scope="row">Fax</th>
                <td>@Html.TextBoxFor(m => m.brand_fax) @Html.ValidationMessageFor(m => m.brand_fax)</td>
            </tr>
            <tr>
                <th  align="left" scope="row">Address</th>
                <td>@Html.TextBoxFor(m => m.brand_address) @Html.ValidationMessageFor(m => m.brand_address)</td>
            </tr>
            <tr>
                <th  align="left" scope="row">Description</th>
                <td>@Html.TextAreaFor(m => m.brand_descripttion, new { height = "300px", @class = "ckeditor" })</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Create" /> @Html.ActionLink("Back to List", "Index")</td>
            </tr>
        </table>
    </div>
}
<div class="clear"></div>

