﻿@model OnlineJewelleryShopping.Areas.Admin.Models.BrandModel

@{
    ViewBag.Title = "Delete";
    ViewBag.PageHeading = "Delete brand";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.brand_id)
    <div id="table-content">

        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-from">
            <tr>
                <th width="100px" align="left">Name</th>
                <td>@Model.brand_name</td>
            </tr>
            <tr>
                <th width="100px" align="left">Phone</th>
                <td>@Model.brand_phone</td>
            </tr>
            <tr>
                <th width="100px" align="left">Fax</th>
                <td>@Model.brand_fax</td>
            </tr>
            <tr>
                <th width="100px" align="left">Address</th>
                <td>@Model.brand_address</td>
            </tr>
            <tr>
                <th width="100px" align="left">Description</th>
                <td>@Html.Raw(Model.brand_descripttion)</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    @if (ViewBag.Product == 0)
                    {
                        <input type="submit" value="Delete" />
                    }
                    else
                    {
                        <h3>Can not delete this Brand. Its have @ViewBag.Product product  </h3>
                    }
                   
                    @Html.ActionLink("Back to List", "Index")
                </td>
            </tr>
        </table>


    </div>

}

