﻿@model OnlineJewelleryShopping.Areas.Admin.Models.BrandModel

@{
    ViewBag.Title = "Detail";
    ViewBag.PageHeading = "Brand Detail";
}

    <div id="table-content">

        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-from">
            <tr>
                <th width="100px" align="left">Name</th>
                <td>@Model.brand_name</td>
            </tr>
            <tr>
                <th width="100px" align="left">Phone</th>
                <td>@Model.brand_phone</td>
            </tr>
            <tr>
                <th width="100px" align="left">Fax</th>
                <td>@Model.brand_fax</td>
            </tr>
            <tr>
                <th width="100px" align="left">Address</th>
                <td>@Model.brand_address</td>
            </tr>
            <tr>
                <th width="100px" align="left">Description</th>
                <td>@Html.Raw(Model.brand_descripttion)</td>
            </tr>
            <tr>
                <td colspan="2" align="center">@Html.ActionLink("Edit", "Edit", new {id = Model.brand_id }) @Html.ActionLink("Back to List", "Index")</td>
            </tr>
        </table>


    </div>

}

