﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.brand>
@using PagedList.Mvc

@{
    ViewBag.Title = "List Contacts";
    ViewBag.PageHeading = "List Contacts";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<form action="" method="get">
    <p>

        Search :
        <input type="text" class="cboFilter" name="Keyword" value="@ViewBag.KeyWord" placeholder="Enter key word to search..." height="30px" />
        Filter:
        <select name="Filter" class="Filter">
            <option value="All" @Html.Raw(ViewBag.Filter == "All" ? "selected" : "")>All</option>
            <option value="Name" @Html.Raw((ViewBag.Filter == "Name" ? "selected" : ""))>Name</option>
            <option value="Address" @Html.Raw((ViewBag.Filter == "Address" ? "selected" : ""))>Address</option>
        </select>
        Order:
        <select name="Order" class=" cboFilter">
            <option value="asc" @Html.Raw((ViewBag.Order == "asc" ? "selected" : ""))>Ascending</option>
            <option value="desc" @Html.Raw((ViewBag.Order == "desc" ? "selected" : ""))>Descending</option>
        </select>
        <input type="submit" value="Filter" />

    </p>
</form>
<br />
<form id="mainform" method="post">
    <div id="table-content">

        <table id="product-table" width="100%">
            <tr>
                <th class="table-header-check"><a id="toggle-all"></a></th>
                <th class="table-header-repeat line-left"><a href="">Name</a></th>
                <th class="table-header-repeat line-left"><a href="">Address</a></th>
                <th class="table-header-repeat line-left"><a href="">Phone</a></th>
                <th class="table-header-repeat line-left"><a href="">Fax</a></th>
                <th class="table-header-repeat line-left"><a href="">Function</a></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.products.Count == 0)
                        {
                            <input type="checkbox" name="@item.brand_id" />
                        }
                    </td>

                    <td>
                        @Html.Encode(item.brand_name)
                    </td>
                    <td>
                        @Html.Encode(item.brand_address)
                    </td>
                    <td>
                        @Html.Encode(item.brand_phone)
                    </td>
                    <td>
                        @Html.Encode(item.brand_fax)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.brand_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.brand_id })

                        @if (item.products.Count == 0)
                        {
                         <span> | </span>  @Html.ActionLink("Delete", "Delete", new { id = item.brand_id })
                        }

                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="actions-box"><input type="submit" value="Delete" onclick="javascript: return confirm('Are you sure to delete ?');" /></div>
</form>
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/Brands/Index?Order=@ViewBag.Order&Filter=@ViewBag.Filter&Keyword=@ViewBag.Keyword&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/Brands/Index?Order=@ViewBag.Order&Filter=@ViewBag.Filter&Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/Brands/Index?SortOrder=@ViewBag.CurrentSort&Filter=@ViewBag.Filter&Keyword=@ViewBag.SearchName&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/Brands/Index?SortOrder=@ViewBag.CurrentSort&Filter=@ViewBag.Filter&Keyword=@ViewBag.SearchName&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>
<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString())) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/Brands/Index?Order=@ViewBag.Order&Keyword=@ViewBag.Keyword&Filter=@ViewBag.Filter&PageNumber=" + textarea.value;
                }
            }
        }
    </script>
}
