﻿@model OnlineJewelleryShopping.Areas.Admin.Models.CustommerEditModel

@{
    ViewBag.Title = "Customer detail"; ViewBag.PageHeading = "Customer detail";
}
    <div id="table-content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table-form">
            <tr>
                <th align="left" scope="row">Email :</th>
                <td>@Model.customer_email</td>
            </tr>
            <tr>
                <th width="150px" align="left" scope="row">First Name:</th>
                <td width="">@Model.customer_firstname </td>
            </tr>
            <tr>
                <th align="left" scope="row">Last Name :</th>
                <td>@Model.customer_lastname</td>
            </tr>
            <tr>
                <th align="left" scope="row">Phone Number :</th>
                <td>@Model.customer_phone</td>
            </tr>
            <tr>
                <th align="left" scope="row">Country :</th>
                <td>@Model.customer_country</td>
            </tr>
            <tr>
                <th align="left" scope="row">City :</th>
                <td>@Model.customer_city</td>
            </tr>
            <tr>
                <th align="left" scope="row">State :</th>
                <td>@Model.customer_state</td>
            </tr>
            <tr>
                <th align="left" scope="row">Zip Code :</th>
                <td>@Model.customer_zipcode</td>
            </tr>
            <tr>
                <th align="left" scope="row">Address 1 :</th>
                <td>@Model.customer_address1</td>
            </tr>
            <tr>
                <th align="left" scope="row">Address 2 :</th>
                <td>@Model.customer_address2</td>
            </tr>
            <tr>
                <th align="left" scope="row">Company :</th>
                <td>@Model.customer_company</td>
            </tr>
            <tr>
                <th align="left" scope="row">Date added :</th>
                <td>@Model.customer_date</td>
            </tr>
            <tr>
                <th align="left" scope="row">Block :</th>
                <td>@Model.customer_block</td>
            </tr>
            <tr><td colspan="2" style="padding-left:10px;"> @Html.ActionLink("Edit", "Edit", new {id = Model.customer_id })  @Html.ActionLink("Back to list", "Index")</td></tr>
        </table>
    </div>
<div class="clear"></div>
