﻿@model OnlineJewelleryShopping.Areas.Admin.Models.CustommerEditModel

@{
    ViewBag.Title = "Edit Customer account"; ViewBag.PageHeading = "Edit Customer account";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.customer_id)
    <div id="table-content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table-form">
            <tr>
                <th align="left" scope="row">Email :</th>
                <td>@Html.TextBoxFor(m => m.customer_email) @Html.ValidationMessageFor(m => m.customer_email)</td>
            </tr>
            <tr>
                <th width="150px" align="left" scope="row">First Name:</th>
                <td width="">@Html.TextBoxFor(m => m.customer_firstname) @Html.ValidationMessageFor(m => m.customer_firstname) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Last Name :</th>
                <td>@Html.TextBoxFor(m => m.customer_lastname) @Html.ValidationMessageFor(m => m.customer_lastname)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Phone Number :</th>
                <td>@Html.TextBoxFor(m => m.customer_phone) @Html.ValidationMessageFor(m => m.customer_phone)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Country :</th>
                <td>@Html.DropDownListFor(m => m.customer_country, (SelectList)ViewBag.CountryList) @Html.ValidationMessageFor(m => m.customer_country)</td>
            </tr>
            <tr>
                <th align="left" scope="row">City :</th>
                <td>@Html.TextBoxFor(m => m.customer_city) @Html.ValidationMessageFor(m => m.customer_city)</td>
            </tr>
            <tr>
                <th align="left" scope="row">State :</th>
                <td>@Html.TextBoxFor(m => m.customer_state) @Html.ValidationMessageFor(m => m.customer_state)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Zip Code :</th>
                <td>@Html.TextBoxFor(m => m.customer_zipcode) @Html.ValidationMessageFor(m => m.customer_zipcode)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Address 1 :</th>
                <td>@Html.TextBoxFor(m => m.customer_address1) @Html.ValidationMessageFor(m => m.customer_address1)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Address 2 :</th>
                <td>@Html.TextBoxFor(m => m.customer_address2) @Html.ValidationMessageFor(m => m.customer_address2)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Company :</th>
                <td>@Html.TextBoxFor(m => m.customer_company) @Html.ValidationMessageFor(m => m.customer_company)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Block :</th>
                <td>@Html.EditorFor(m => m.customer_block)</td>
            </tr>
            <tr><td align="left" colspan="2"><input type="submit" name="Submit" value="Submit" />  @Html.ActionLink("Back to list", "Index")</td></tr>
        </table>

    </div>
}
<div class="clear"></div>
