﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <title>@ViewBag.Title</title>

    <!-- CSS Part Start-->
    <link href="@Url.Content("~/image/favicon.png")" rel="icon" />
    <link rel="stylesheet" class="theme" type="text/css" href="@Url.Content("~/css/stylesheet.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/flexslider.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/carousel.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/jquery-ui.css")" />
    <!-- CSS Part End-->




</head>

<body>

    <!-- Color Option Part Start-->
    <div class="clbox">
        <a class="toggle">Toggle</a>
        <h2>Color</h2>
        <ul id="changer">
            <li><a href="#" class="col-1" rel="@Url.Content("~/css/stylesheet.css")">&nbsp;</a></li>
            <li><a href="#" class="col-2" rel="@Url.Content("~/css/stylesheet-1.css")">&nbsp;</a></li>
            <li><a href="#" class="col-3" rel="@Url.Content("~/css/stylesheet-2.css")">&nbsp;</a></li>
            <li><a href="#" class="col-4" rel="@Url.Content("~/css/stylesheet-3.css")">&nbsp;</a></li>
            <li><a href="#" class="col-5" rel="@Url.Content("~/css/stylesheet-4.css")">&nbsp;</a></li>
        </ul>
        <h2>Patterns</h2>
        <ul class="patterns">
            <li><a href="pattern-1"><img alt="" src="@Url.Content("~/image/pattern/pattern-1.png")"></a></li>
            <li><a href="pattern-2"><img alt="" src="@Url.Content("~/image/pattern/pattern-2.png")"></a></li>
            <li><a href="pattern-3"><img alt="" src="@Url.Content("~/image/pattern/pattern-3.png")"></a></li>
            <li><a href="pattern-4"><img alt="" src="@Url.Content("~/image/pattern/pattern-4.png")"></a></li>
            <li><a href="pattern-5"><img alt="" src="@Url.Content("~/image/pattern/pattern-5.png")"></a></li>
            <li><a href="pattern-6"><img alt="" src="@Url.Content("~/image/pattern/pattern-6.png")"></a></li>
            <li><a href="pattern-7"><img alt="" src="@Url.Content("~/image/pattern/pattern-7.png")"></a></li>
            <li><a href="pattern-8"><img alt="" src="@Url.Content("~/image/pattern/pattern-8.png")"></a></li>
            <li><a href="pattern-9"><img alt="" src="@Url.Content("~/image/pattern/pattern-9.png")"></a></li>
            <li><a href="pattern-10"><img alt="" src="@Url.Content("~/image/pattern/pattern-10.png")"></a></li>
            <li><a href="pattern-11"><img alt="" src="@Url.Content("~/image/pattern/pattern-11.png")"></a></li>
            <li><a href="pattern-12"><img alt="" src="@Url.Content("~/image/pattern/pattern-12.png")"></a></li>
            <li><a href="pattern-13"><img alt="" src="@Url.Content("~/image/pattern/pattern-13.png")"></a></li>
            <li><a href="pattern-14"><img alt="" src="@Url.Content("~/image/pattern/pattern-14.png")"></a></li>
            <li><a href="pattern-15"><img alt="" src="@Url.Content("~/image/pattern/pattern-15.png")"></a></li>
        </ul>
    </div>
    <!-- Color Option Part End-->
    <!-- Top Part Start-->
    <div class="top-links">
        <div class="links">
            @Html.ActionLink("Home", "Index", "Home") |
            @Html.ActionLink("Wish List", "WishList", "Account")|
            @Html.ActionLink("My Account", "Index", "Account")|
           @Html.ActionLink("Shopping Cart", "Cart", "Checkout")|
            @Html.ActionLink("Checkout", "Index", "Checkout")
        </div>
        
    </div>
    <!-- Top Part End-->

    <div id="wrapper">

        <header id="headerWrapper">
            @{Html.RenderAction("Top","Site");}
            <nav id="nav">
                @{Html.RenderAction("Show", "Category");}
            </nav>
        </header>
        <section id="contentWrapper">

            <!-- START CONTENT-->
            @RenderBody()
            <!-- END CONTENT-->

        </section>
        <footer id="footerWrapper" class="clear">

            @{Html.RenderAction("Storeinfo","Site");}

            @{Html.RenderAction("Footer", "Site");}

            @Html.Partial("_power")

        </footer>
    </div>




    <!-- JS Part Start-->


    <script type='text/javascript'>
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#back-top').fadeIn();
                } else {
                    $('#back-top').fadeOut();
                }
            });
        });
        jQuery('.backtotop').click(function () {
            jQuery('html, body').animate({ scrollTop: 0 }, 'slow');
        });

    </script>


    <script type="text/javascript" src="@Url.Content("~/js/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.dcjqaccordion.2.9.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.steps.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/cloud-zoom.1.0.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/html5.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/tabs.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.flexslider-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.jcarousel.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.fancybox.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery-ui-timepicker-addon.js")"></script>


    <!-- JS Part End-->

</body>
</html>