﻿<div class="powered-main">
    <div id="powered">
        Theme by <a href="" >Ngo Duy Dai</a>
        <div class="fr">Bách Khoa - Aptech <a href="" target="_blank">C1208IJ</a> Your Store &copy; @DateTime.Now.Year</div>
        <div id="back-top" class="back-to-top"><a class="backtotop" href="javascript:void(0)" title="Back to Top"></a></div>
    </div>
</div>