﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.advertise>
@{
    ViewBag.Title = "List Advretise"; ViewBag.PageHeading = "List advertise";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
    <p>
        Position :
        <select name="Position" id="Position" onchange="RedirectPage();">
            <option value="All" @Html.Raw(ViewBag.Position == "All" ? "selected" : "")>All</option>
            <option value="Center" @Html.Raw(ViewBag.Position == "Center" ? "selected" : "")>Center</option>
            <option value="Footer" @Html.Raw(ViewBag.Position == "Footer" ? "selected" : "")>Footer</option>
            <option value="Product" @Html.Raw(ViewBag.Position == "Product" ? "selected" : "")>Product</option>
        </select>
    </p>

<br />
<form method="post" id="mainform">
    <div id="table-content">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
            <tr>
                <th class="table-header-check"><a id="toggle-all"></a></th>
                <th class="table-header-repeat line-left">
                    <a> Image</a>
                </th>
                <th class="table-header-repeat line-left">
                    <a>Url</a>
                </th>
                <th class="table-header-repeat line-left">
                    <a>Date Added</a>
                </th>
                <th class="table-header-repeat line-left"><a>Option</a></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td valign="top">
                        <input type="checkbox" name="@item.advertise_id" />
                    </td>
                    <td align="center" valign="middle">
                        <img src="@Url.Content(item.advertise_image)" alt="" width="50px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.advertise_url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.advertise_date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.advertise_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.advertise_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.advertise_id })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div id="actions-box"><input type="submit" value="Delete" onclick="javascript: return confirm('Are you sure to delete ?');" /></div>
</form>
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/A/Index?Position=@ViewBag.Position&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/A/Index?Position=@ViewBag.Position&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/A/Index?Position=@ViewBag.Position&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/A/Index?Position=@ViewBag.Position&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>

<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString())) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/A/Index?PageNumber=" + textarea.value;
                }
            }
        }
    </script>
    <script>
        function RedirectPage() {
            location.href = "/Admin/A/Index?Position=" + document.getElementById('Position').value;
        }
        
    </script>
}


