﻿@model OnlineJewelleryShopping.Models.product_discount

@{
    ViewBag.Title = "Delete Sale Off"; ViewBag.PageHeading = "Delete Sale Off";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.product_discount_id)
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="200px" align="left" scope="row">Name :</th>
                <td>@Html.DisplayFor(m => m.product_discount_name)  </td>
            </tr>
            <tr>
                <th align="left" scope="row">Amount :</th>
                <td>@Html.DisplayFor(m => m.product_discount_amount) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Start date:</th>
                <td>@Html.DisplayFor(m => m.product_discount_startdate, new { type = "date", id = "product_discount_startdate" }) </td>
            </tr>
            <tr>
                <th align="left" scope="row" valign="top">End date :</th>
                <td>
                    @Html.DisplayFor(m => m.product_discount_enddate, new { type = "date", id = "product_discount_enddate" }) 
                </td>
            </tr>
            <tr>
                <th align="left" scope="row" valign="top">Number of Product :</th>
                <td>
                    @ViewBag.CountProduct
                </td>
            </tr>
            <tr>
                <th align="center" colspan="2">
                    @if (ViewBag.CountProduct == 0)
                    {
                        <input type="submit" name="Submit" value="Delete" />
                    }
                    else
                    {
                        <p style="color:red;">You can not delete this sale off because this sale off have @ViewBag.CountProduct product, Please delete all product in this sale off then delete sale off.</p>
                        <br />
                    }
                   
                    @Html.ActionLink("Back to list", "Index")
                </th>
            </tr>
        </table>
    </div>
}
<div class="clear"></div>
