﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.product_discount>
@using PagedList.Mvc

@{
    ViewBag.Title = "List Sale Off";
    ViewBag.PageHeading = "List Sale off";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<form action="" method="get">
    <p>

        Search :
        <input type="text" class="cboFilter" name="Keyword" value="@ViewBag.KeyWord" placeholder="Enter key word to search..." height="30px" />
        <input type="submit" value="Filter" />

    </p>
</form>
<br />
@*<form id="mainform" method="post">*@
    <div id="table-content">

        <table id="product-table" width="100%">
            <tr>
                @*<th class="table-header-check"><a id="toggle-all"></a></th>*@
                <th class="table-header-repeat line-left" width="45px"><a href="">ID</a></th>
                <th class="table-header-repeat line-left"><a href="">Name</a></th>
                <th class="table-header-repeat line-left"><a href="">Amount</a></th>
                <th class="table-header-repeat line-left"><a href="">Start Date</a></th>
                <th class="table-header-repeat line-left"><a href="">End Date</a></th>
                <th class="table-header-repeat line-left"><a href="">Function</a></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        <input type="checkbox" name="@item.product_discount_id" />
                    </td>*@
                    <td>
                        @item.product_discount_id
                    </td>
                    <td>
                        @item.product_discount_name
                    </td>
                    <td>
                        @item.product_discount_amount %
                    </td>
                    <td>
                        @item.product_discount_startdate.Value.ToShortDateString()
                    </td>
                    <td>
                        @item.product_discount_enddate.Value.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.product_discount_id }) <span> | </span>
                        @if (item.product_discount_enddate >= DateTime.Today)
                        {
                            @Html.ActionLink("Add Product", "AddProduct", new { id = item.product_discount_id }) <span> | </span>
                        }
                        @Html.ActionLink("Remove Product", "RemoveProduct", new { id = item.product_discount_id })
                        @if (item.product_discount_detail.Count == 0)
                        {
                            <span> | </span>  @Html.ActionLink("Delete", "Delete", new { id = item.product_discount_id }, new { onclick = "javascript:return confirm('Are you sure to delete ?');" })
                        }
                        
                    </td>

                </tr>
            }

        </table>
    </div>
    @*<div id="actions-box"><input type="submit" value="Delete" onclick="javascript: return confirm('Are you sure to delete ?');" /></div>
</form>*@
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/SaleOff/Index?Keyword=@ViewBag.Keyword&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/SaleOff/Index?Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/SaleOff/Index?Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/SaleOff/Index?Keyword=@ViewBag.Keyword&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>
<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString()) || parseInt(textarea.value) < 1) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/SaleOff/Index?Keyword=@ViewBag.Keyword&PageNumber=" + textarea.value;
                }
            }
        }
    </script>
}
