﻿@{
    ViewBag.Title = "Block Error";
    ViewBag.PageHeading = "Block Error";
}

<h1>
    You can not block this customer(s) because this customer have order status is pending or shipping
</h1>
<p>@Html.ActionLink("Back to index", "Index")</p>
