﻿@model OnlineJewelleryShopping.Areas.Admin.Models.CustomerResetPassword

    @{
        ViewBag.Title = "Reset Password Customer account"; ViewBag.PageHeading = "Reset Password Customer account";
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.id)
        @Html.HiddenFor(m => m.ReturnUrl)
        <div id="table-content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table-form">
                <tr>
                    <th align="left" scope="row" width="150px">New Password :</th>
                    <td align="left">@Html.PasswordFor(m => m.NewPassword) @Html.ValidationMessageFor(m => m.NewPassword)</td>
                </tr>
                <tr>
                    <th align="left" scope="row">Retype Password :</th>
                    <td align="left">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </td>
                </tr>
                <tr><td align="left" colspan="2"><input type="submit" name="Submit" value="Reset Password" />  @Html.ActionLink("Back to list", "Index")</td></tr>
            </table>

        </div>
    }
    <div class="clear"></div>
