﻿@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@model OnlineJewelleryShopping.Models.customer
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}
<div id="content">


    <h1>Address Book</h1>
    <div class="rbox">
        <h2>Address Book Entries</h2>
        @this.Session["message"]
        <div class="content">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>First Name: </td>
                                    <td>@Html.DisplayFor(m => @Model.customer_firstname)</td>
                                </tr>
                                <tr>
                                    <td>Last Name: </td>
                                    <td>@Html.DisplayFor(m => @Model.customer_lastname)</td>
                                </tr>
                                <tr>
                                    <td>Company: </td>
                                    <td>@Html.DisplayFor(m => @Model.customer_company)</td>
                                </tr>
                                <tr>
                                    <td>Address1: </td>
                                    <td>@Html.DisplayFor(m => @Model.customer_address1)</td>
                                </tr>
                                <tr>
                                    <td>Address2: </td>
                                    <td>@Html.DisplayFor(m => @Model.customer_address2)</td>
                                </tr>
                                <tr>
                                    <td>City: </td>
                                    <td>@Html.DisplayFor(m => @Model.customer_city)</td>
                                </tr>
                                <tr>
                                    <td>Zipcode: </td>
                                    <td>@Html.DisplayFor(m => @Model.customer_zipcode)</td>
                                </tr>
                                <tr>
                                    <td>State: </td>
                                    <td>@Html.DisplayFor(m => @Model.customer_state)</td>
                                </tr>
                                <tr>
                                    <td>Country: </td>
                                    <td>@Html.DisplayFor(m => @Model.customer_country)</td>
                                </tr>
                                </table>
                        </td>
                        <td style="text-align: right;"><label class="btn"><a href="@Url.Action("Editaddress","Account", new { id = @Model.customer_id })" class="button">Edit</a></label> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="buttons borderTop">
        <div class="left"><label class="btn"><a href="@Url.Action("Index","Account")" class="button">Back</a></label></div>
    </div>
</div>