﻿@model OnlineJewelleryShopping.Models.customer
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}

<div id="content">

    <h1>My Account Information</h1>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
       <div class="rbox">
            <h2>Your Personal Details</h2>
            <div class="content">
                <table class="form">
                    <tbody>
                        <tr>
                            <td><span class="required">*</span> First Name:</td>
                            <td>
                                <input type="text" name="customer_firstname" required="" min="3" max="100" value="@Model.customer_firstname"  data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Last Name:</td>
                            <td>
                                <input type="text" name="customer_lastname" required="" min="3" max="100" value="@Model.customer_lastname"  data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> E-Mail:</td>
                            <td>
                                <input type="email" name="customer_email" required="" min="3" max="100" value="@Model.customer_email"  data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Telephone:</td>
                            <td>
                                <input type="text" name="customer_phone" required="" min="3" max="100" value="@Model.customer_phone" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name">

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttons borderTop">
            <div class="left"><label class="btn"><label class="btn"><a href="@Url.Action("Index","Account")" class="button">Back</a></label></label></div>
            <div class="right">
                <label class="btn"><label class="btn"><input type="submit" value="Continue" class="button"></label></label>
            </div>
        </div>
}
</div>