﻿@{
    ViewBag.Title = "Forget_Pwd";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}

<div id="content">

    


    <h1>Forgot Your Password?</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="rbox">
            <p>Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>
            <h2>Your E-Mail Address</h2>
            <div class="content">
                <table class="form">
                    <tbody>
                        <tr>
                            <td>E-Mail Address:</td>
                            <td><input type="text" name="email" value=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttons">
            <div class="left"><label class="btn"><a href="@Url.Action("Index", "Account")" class="button">Back</a></label></div>
            <div class="right">
                <label class="btn"><input type="submit" value="Continue" class="button"></label>
            </div>
        </div>
    </form>
</div>