﻿@model OnlineJewelleryShopping.Models.customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}
    <div id="content">

        <h1>My Account</h1>
        <div class="rbox">
            <h2>My Account</h2>
            <div class="content">
                <ul>
                    <li>@Html.ActionLink("Edit your account information", "Edit", new { id =@Model.customer_id }) </li>
                    <li>@Html.ActionLink("Change your password", "ChangePwd", new { id = @Model.customer_id })</li>
                    <li>@Html.ActionLink("Modify your address book entries", "Address",  new { id = @Model.customer_id })</li>
                    <li>@Html.ActionLink("Modify your wish list", "WishList",  new { id = @Model.customer_id })</li>
                </ul>
            </div>
            <h2>My Orders</h2>
            <div class="content">
                <ul>
                    <li>@Html.ActionLink("View your order history", "OrderHistory",new { id = @Model.customer_id })</li>
                    <li>@Html.ActionLink("Your Reward Points", "OrderReward",new { id = @Model.customer_id })</li>
                    <li>@Html.ActionLink("View your return requests", "OrderReturn",new { id = @Model.customer_id })</li>
                    <li>@Html.ActionLink("Your Transactions", "OrderTrans",new { id = @Model.customer_id })</li>
                </ul>
            </div>
        </div>

    </div>
