﻿@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}

<div id="content">

    <h1>Account Logout</h1>
    <p>You have been logged off your account. It is now safe to leave the computer.</p><p>Your shopping cart has been saved, the items inside it will be restored whenever you log back into your account.</p>  <div class="buttons">
        <div class="right"><label class="btn"><a href="@Url.Action("Index","Home")" class="button">Continue</a></label></div>
    </div>
</div>