﻿@model OnlineJewelleryShopping.Models.customer
<aside id="column-left">
    <div class="box">
        <div class="box-heading">Account</div>
        <div class="box-category">
            <ul>
                @if (Session["customer"] != null)
                {
                <li>@Html.ActionLink("My Account", "Index", "Account")</li>
                <li>@Html.ActionLink("Edit Account", "Edit", "Account", new { id = @Model.customer_id},null)</li>
                <li>@Html.ActionLink("Password", "ChangePwd", "Account")</li>
                <li>@Html.ActionLink("Address Books", "Address", "Account")</li>
                <li>@Html.ActionLink("Wish List", "WishList", "Account")</li>
                <li>@Html.ActionLink("Order History", "OrderHistory", "Account")</li>
                <li>@Html.ActionLink("Returns", "OrderReturn", "Account")</li>
                <li>@Html.ActionLink("Transactions", "OrderTrans", "Account")</li>
                }
                else
                {
                
                <li>@Html.ActionLink("My Account", "Index", "Account")</li>
                <li>@Html.ActionLink("Edit Account", "Index", "Account")</li>
                <li>@Html.ActionLink("Password", "Index", "Account")</li>
                <li>@Html.ActionLink("Address Books", "Index", "Account")</li>
                <li>@Html.ActionLink("Wish List", "Index", "Account")</li>
                <li>@Html.ActionLink("Order History", "Index", "Account")</li>
                <li>@Html.ActionLink("Returns", "Index", "Account")</li>
                <li>@Html.ActionLink("Transactions", "Index", "Account")</li>
                }
                

                @if (Session["customer"] != null)
                {
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>

                }
            </ul>
        </div>
    </div>
</aside>