﻿@model OnlineJewelleryShopping.Models.CustomerRegisterModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] != null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Index" }));

}

<div id="content">
    <h1>Register Account</h1>
    <p>If you already have an account with us, please login at the  @Html.ActionLink("login page","Login","Account").</p>
    <div class="rbox">        
        @Html.ValidationSummary(true)
        <h2>Your Personal Details</h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    
        <div class="content">
            <table class="form">
                      <tr>
                        <td><span class="required">*</span> First Name:</td>
                        <td>
                            @Html.TextBoxFor(m=>m.customer_firstname)
                            @Html.ValidationMessageFor(m=>m.customer_firstname)
                        </td>
                    </tr>

                    <tr>
                        <td><span class="required">*</span> Last Name:</td>
                        <td>
                            @Html.TextBoxFor(m => m.customer_lastname)
                            @Html.ValidationMessageFor(m => m.customer_lastname)
                        </td>
                    </tr>
                    					<tr>
                        <td><span class="required">*</span> E-Mail:</td>
                        <td>
                            @Html.TextBoxFor(m => m.customer_email)
                            @Html.ValidationMessageFor(m => m.customer_email)
						</td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Telephone:</td>
                        <td>
                            @Html.TextBoxFor(m => m.customer_phone)@Html.Label(" eg: 7776662222")
                            @Html.ValidationMessageFor(m => m.customer_phone)
							
						</td>
                    </tr>
                </table>
            </div>
                    
                    <h2>Your Address</h2>
                     <div class="content">
                <table class="form">

                    <tr>
                        <td>Company:</td>
                        <td>
                            @Html.TextBoxFor(m => m.customer_company)
                            @Html.ValidationMessageFor(m => m.customer_company)

                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Address 1:</td>
                        <td>
                            @Html.TextBoxFor(m => m.customer_address1)
                            @Html.ValidationMessageFor(m => m.customer_address1)
                        </td>
                    </tr>
                    <tr>
                        <td>Address 2:</td>
                        <td>                            
                            @Html.TextBoxFor(m => m.customer_address2)
                            @Html.ValidationMessageFor(m => m.customer_address2)
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> City:</td>
                        <td>
                            @Html.TextBoxFor(m => m.customer_city)
                            @Html.ValidationMessageFor(m => m.customer_city)
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> State:</td>
                        <td>
                            @Html.TextBoxFor(m => m.customer_state)
                            @Html.ValidationMessageFor(m => m.customer_state)
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Zipcode:</td>
                        <td>
                            @Html.TextBoxFor(m => m.customer_zipcode)
                            @Html.ValidationMessageFor(m => m.customer_zipcode)
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Country:</td>
                        <td>
                        @Html.DropDownListFor(m => m.customer_country, (SelectList)ViewBag.CountryList) 
                        @Html.ValidationMessageFor(m => m.customer_country)
                        </td>
                    </tr>


                    </table>
                         </div>
                     <h2>Your Password</h2>
            <div class="content">
                <table class="form">

                    <tr>
                        <td><span class="required">*</span> Password:</td>
                        <td>
                            @Html.PasswordFor(m => m.customer_password)
                            @Html.ValidationMessageFor(m => m.customer_password)
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Password Comfirm:</td>
                        <td>
                            @Html.PasswordFor(m => m.customer_password_confirm)
                            @Html.ValidationMessageFor(m => m.customer_password_confirm)
                        </td>
                    </tr>

                    </table>
                </div>

                     <div class="buttons">
                <div class="right">
                    I have read and agree to the
                    @Html.ActionLink("Privacy Policy","Parivacy","Home")
                    @Html.CheckBoxFor(m=>m.Ischeck)
                    <label class="btn"><input type="submit" class="button" value="Continue"></label>
                </div>
                         </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
        </div>
</div>