﻿@{
    ViewBag.Title = "WishList";
    Layout = "~/Views/Shared/_indexaccount.cshtml";
}
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Login" }));

}
<div id="content">

    <h1>My Wish List</h1>
    <div class="wishlist-info">
        <table>
            <thead>
                <tr>
                    <td class="image">Image</td>
                    <td class="name">Product Name</td>
                    <td class="model">Model</td>
                    <td class="stock">Stock</td>
                    <td class="price">Unit Price</td>
                    <td class="action">Action</td>
                </tr>
            </thead>
            <tbody id="wishlist-row43">
                <tr>
                    <td class="image">
                        <a href="#"><img title="" alt="" src="http://placehold.it/60x60"></a>
                    </td>
                    <td class="name">
                        <a href="#">Silver Rings</a>
                    </td>
                    <td class="model">Product 16</td>
                    <td class="stock">In Stock</td>
                    <td class="price">
                        <div class="price">$589.50</div>
                    </td>
                    <td class="action">
                        <img title="Add to Cart" alt="Add to Cart" src="image/cart-add.png">&nbsp;&nbsp;
                        <a href="#"><img title="Remove" alt="Remove" src="image/remove.png"></a>
                    </td>
                </tr>
            </tbody>
            <tbody id="wishlist-row28">
                <tr>
                    <td class="image">
                        <a href="#"><img title="" alt="" src="http://placehold.it/60x60"></a>
                    </td>
                    <td class="name">
                        <a href="#">Bracelet</a>
                    </td>
                    <td class="model">Product 1</td>
                    <td class="stock">In Stock</td>
                    <td class="price">
                        <div class="price">$119.50</div>
                    </td>
                    <td class="action">
                        <img title="Add to Cart" alt="Add to Cart" src="image/cart-add.png">&nbsp;&nbsp;
                        <a href="#"><img title="Remove" alt="Remove" src="image/remove.png"></a>
                    </td>
                </tr>
            </tbody>
            <tbody id="wishlist-row48">
                <tr>
                    <td class="image">
                        <a href="#"><img title="" alt="" src="http://placehold.it/60x60"></a>
                    </td>
                    <td class="name"><a href="#">Necklace</a></td>
                    <td class="model">product 20</td>
                    <td class="stock">In Stock</td>
                    <td class="price">
                        <div class="price">$119.50</div>
                    </td>
                    <td class="action">
                        <img title="Add to Cart" alt="Add to Cart" src="image/cart-add.png">&nbsp;&nbsp;
                        <a href="#"><img title="Remove" alt="Remove" src="image/remove.png"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <div class="right">
            <label class="btn"><a class="button" href="#">Continue</a></label>
        </div>
    </div>
</div>