﻿@{
    ViewBag.Title = "BuyVoucher";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}

<div id="content">


    <h1>Purchase a Gift Certificate</h1>
    <p>This gift certificate will be emailed to the recipient after your order has been paid for.</p>
    <form action=" " method="post" enctype="multipart/form-data">
        <table class="form">
            <tbody>
                <tr>
                    <td><span class="required">*</span> Recipient's Name:</td>
                    <td>
                        <input type="text" name="to_name" value="">
                    </td>
                </tr>
                <tr>
                    <td><span class="required">*</span> Recipient's Email:</td>
                    <td>
                        <input type="text" name="to_email" value="">
                    </td>
                </tr>
                <tr>
                    <td><span class="required">*</span> Your Name:</td>
                    <td>
                        <input type="text" name="from_name" value="yugesh m">
                    </td>
                </tr>
                <tr>
                    <td><span class="required">*</span> Your Email:</td>
                    <td>
                        <input type="text" name="from_email" value="yugesh.beyondweb@gmail.com">
                    </td>
                </tr>
                <tr>
                    <td><span class="required">*</span> Gift Certificate Theme:</td>
                    <td>
                        <input type="radio" name="voucher_theme_id" value="7" id="voucher-7">
                        <label for="voucher-7">Birthday</label>
                        <br>
                        <input type="radio" name="voucher_theme_id" value="6" id="voucher-6">
                        <label for="voucher-6">Christmas</label>
                        <br>
                        <input type="radio" name="voucher_theme_id" value="8" id="voucher-8">
                        <label for="voucher-8">General</label>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>Message:<br><span class="help">(Optional)</span></td>
                    <td><textarea name="message" cols="40" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td><span class="required">*</span> Amount:<br><span class="help">(Value must be between 0.72€ and 721.70€)</span></td>
                    <td>
                        <input type="text" name="amount" value="25.00" size="5">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="buttons">
            <div class="right">
                I understand that gift certificates are non-refundable.                <input type="checkbox" name="agree" value="1">
                <label class="btn"><input type="submit" value="Continue" class="button"></label>
            </div>
        </div>
    </form>
</div>