﻿@model OnlineJewelleryShopping.Areas.Admin.Models.ContactUsModel
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}

<div id="content">

    <h1>Contact Us</h1>

        <div class="rbox">
            
            <h2>Our Location</h2>
            <h2>@this.Session["sendcontactus"]</h2>
            <div class="contact-info">
                <div class="content">
                    <div class="left">
                        <b>Address:@ViewBag.add</b>
                    </div>
                    <div class="right">
                        <b>Telephone:@ViewBag.phone
                    </div>
                </div>
            </div>
            <h2>Contact Form</h2>
            @using(Html.BeginForm())
            {
            @Html.ValidationSummary(true)
            <div class="content">
                <b class="mb5">Full Name:</b><br>
                @Html.EditorFor(model => model.contact_us_fullname)
                @Html.ValidationMessageFor(model =>model.contact_us_fullname)
                <br><br>
                <b class="mb5">E-Mail Address:</b><br>                
                @Html.TextBoxFor(model => model.contact_us_email)
                @Html.ValidationMessageFor(model => model.contact_us_email)
                <br><br>
                <b class="mb5">Phone:</b><br>
                @Html.EditorFor(model => model.contact_us_phone)
                @Html.ValidationMessageFor(model => model.contact_us_phone)
                <br><br>
                <b class="mb5">Content:</b><br>
                @Html.TextAreaFor(model => model.contact_us_enquiry, new { style = "width: 60%;" })
                @Html.ValidationMessageFor(model => model.contact_us_enquiry)
                <br><br>
            </div>
            <div class="buttons">
                <div class="left"><label class="btn"><input type="submit" class="button" value="Continue"></label></div>
            </div>
            }
    
           
        </div>


</div>
