﻿@{
    ViewBag.Title = "DeliveryInformation";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}

<div id="content">


    <h1>Delivery Information</h1>
    <p>
        Delivery Information
    </p>
    <div class="buttons">
        <div class="right"><label class="btn"><a href="" class="button">Continue</a></label></div>
    </div>
</div>