﻿@model OnlineJewelleryShopping.ViewModel.ShoppingCartView
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/js/jquery-1.7.1.min.js")"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                clearUpdateMessage();
                // Perform the ajax post
                $.post("/Checkout/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        //if (data.ItemCount == 0) {
                        $('#row-' + data.DeleteId).fadeOut('slow');
                        //} else {
                        //    $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        //}
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(htmlDecode(data.Message));
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });

        $(".UpdateCartCount").click(function () {
            // Get the id from the link
            var recordToUpdate = $(this).attr("data-id");
            //Set quantity number to 0 if input value is empty
            var countToUpdate = 0;
            if ($("#" + $(this).attr("txt-id")).val().trim() !== '') {
                countToUpdate = $("#" + $(this).attr("txt-id")).val();
            }
            if (recordToUpdate != '') {
                clearUpdateMessage();
                // Perform the ajax post
                $.post("/Checkout/UpdateCart", { "id": recordToUpdate, "count": countToUpdate },
                function (data) {
                    // Successful requests get here
                    // Update the page elements
                    if (data.ItemCount == 0) {
                        $('#row-' + data.DeleteId).fadeOut('slow');
                    }
                    $('#update-message').text(htmlDecode(data.Message));

                    //Check for not process the callback data when server error occurs
                    if (data.ItemCount != -1) {
                        $('#cart-total').text(data.CartTotal);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    }
                });
            }
        });
    });

    function clearUpdateMessage() {
        // Reset update-message area
        $('#update-message').text('');
    }
    function htmlDecode(value) {
        if (value) {
            return $('<div />').html(value).text();
        }
        else {
            return '';
        }
    }
    if (typeof String.prototype.trim !== 'function') {
        String.prototype.trim = function () {
            return this.replace(/^\s+|\s+$/g, '');
        }
    }
</script>



@if (@Model.CartItems.Count>0)
{
    <div id="content">
        @RenderPage("~/Views/Shared/_social.cshtml")

        <h1>
            Shopping Cart @ViewBag.id
        </h1>
        <div class="cart-info">
            @using (Html.BeginForm())
            {

                <table>
                    <thead>
                        <tr>
                            <td class="image">Image</td>
                            <td class="name">Product Name</td>
                            <td class="name">Model</td>
                            <td class="quantity">Quantity</td>
                            <td class="price">Unit Price</td>
                            <td class="price">Total</td>
                        </tr>
                    </thead>
                    @{int ix = 0;}
                    @foreach (var item in Model.CartItems)
                    {

                        <tr id="row-@item.shopping_cart_recordid">
                            <td class="image">
                                <a href="@Url.Action("Index", "Product", new { id =item.product_id },null)"><img src="@Url.Content(item.product.product_images_01)" alt="@item.product.product_name" title="@item.product.product_name" width="60" height="60" /></a>
                            </td>
                            <td class="name">
                                <a href="@Url.Action("Index", "Product", new { id =item.product_id },null)">@item.product.product_name</a>
                            </td>

                            <td class="model">
                                <a href="@Url.Action("Index", "Product", new { id =item.product_id },null)">Product @item.product.product_id</a>
                            </td>
                            <td class="quantity" id="item-count-@item.shopping_cart_recordid">
                                &nbsp;
                                @Html.TextBoxFor(m => Model.CartItems[ix].shopping_cart_count,
                                                            new { style = "width:30px; text-align:right;" }
                        )
                                <a href="#" class="UpdateCartCount" txt-id="CartItems_@(ix)__shopping_cart_count" data-id="@item.shopping_cart_recordid">
                                    <input type="image" src="@Url.Content("~/data/files/update.png")" alt="Update" title="Update">
                                </a>
                                &nbsp;<a href="" class="RemoveLink" data-id="@item.shopping_cart_recordid"><img src="@Url.Content("~/data/files/remove.png")" alt="Remove" title="Remove"></a>
                            </td>
                            @if (@item.product.product_discount_detail.Count > 0)
                            {
                                foreach (var dis in item.product.product_discount_detail)
                                {
                                    if(dis.product_discount.product_discount_startdate<= DateTime.Now && dis.product_discount.product_discount_enddate>= DateTime.Now)
                                    {
                                    <td class="price">
                                        @{float priceold = (float)item.product.product_price * (int)dis.product_discount.product_discount_amount / 100;}
                                        @{float oldnew = (float)item.product.product_price - (float)priceold;}
                                        $@string.Format("{0:F}",@oldnew)<br />

                                        <span style="text-decoration:line-through">
                                            $@string.Format("{0:F}",@item.product.product_price) 
                                        </span>
                                    </td>

                                    <td class="price">
                                        @{float totalprice = (float)oldnew * (int)item.shopping_cart_count;}
                                        $@string.Format("{0:F}",@totalprice)
                                    </td>
                                }
                                else
                                    {
                                        
                                <td class="price">
                                    $@item.product.product_price
                                </td>

                                <td class="price">
                                    @{float totalprice = (float)item.product.product_price * (int)item.shopping_cart_count;}
                                    $@totalprice
                                </td>
                                    }
                                }
                            }
                            else
                            {

                                <td class="price">
                                    $@item.product.product_price
                                </td>

                                <td class="price">
                                    @{float totalprice = (float)item.product.product_price * (int)item.shopping_cart_count;}
                                    $@totalprice
                                </td>
                            }

                        </tr>
                            ix++;
                    }

                </table>
            }

        </div>

        <div class="cart-total">
            <table id="total">
                <tbody>
                    <tr>
                        <td class="right"><b>Sub-Total:</b></td>
                        @{float subtoal = float.Parse(@Model.CartTotal.ToString());}
                        <td class="right">$@string.Format("{0:F}", @subtoal) </td>
                    </tr>
                    <tr>
                        <td class="right"><b>VAT (@ViewBag.vat%):</b></td>
                        <td class="right">$@string.Format("{0:F}", @Model.CartVAT)</td>
                    </tr>
                    <tr>
                        <td class="right"><b>Total:</b></td>
                        <td class="right">$@string.Format("{0:F}", @Model.TotalOrder)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="buttons">
            <div class="right"><label class="btn"><a href="@Url.Action("Index","Checkout")" class="button">Checkout</a></label></div>

            <div class="center"><label class="btn"><a href="@Url.Action("Index","Home")" class="button">Continue Shopping</a></label></div>
        </div>


    </div>

}
else
{

    @RenderPage("~/Views/Shared/_social.cshtml")
    <div id="content">

        <h1>Shopping Cart</h1>
        <div class="content">Your shopping cart is empty!</div>
        <div class="buttons">
            <div class="right"><label class="btn"><a href="@Url.Action("Index","Home")" class="button">Continue</a></label></div>
        </div>
    </div>

}
