﻿@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}



    <div id="content">

        @RenderPage("~/Views/Shared/_social.cshtml")


        <h1>Your Order Has Been Processed!</h1>
        <p>Your order has been successfully processed!</p><p>You can view your order history by going to the <a href="@Url.Action("Index","Account")">my account</a>
         page and by clicking on <a href="@Url.Action("OrderHistory", "Account")">history</a>.</p>
        <p>Please direct any questions you have to the 
            <a href="@Url.Action("ContactUs", "Home")">store owner</a>.</p><p>Thanks for shopping with us online!</p>  <div class="buttons">
        <div class="right"><label class="btn"><a href="@Url.Action("Index", "Home")" class="button">Continue</a></label></div>
        </div>
    </div>
