﻿@model OnlineJewelleryShopping.Models.order

@{
    ViewBag.Title = "Order detail "; ViewBag.PageHeading = "Order Details";
}


    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <td align="left" valign="top" width="50%">
                    <b>Billing infomation</b>
                    <br />
                    <br />
                    <b>First Name:</b>
                    @Html.DisplayFor(m => m.billing_firstname) 
                    <br />
                    <b>Last Name:</b>
                   
                    @Html.DisplayFor(m => m.billing_lastname) 
                    <br />
                    <b>Address 1:</b>
                   
                    @Html.DisplayFor(m => m.billing_address1) 
                    <br />
                     <b>Address 2:</b>
                   
                    @Html.DisplayFor(m => m.billing_address2) 
                    <br />
                    <b>State:</b>
                   
                    @Html.DisplayFor(m => m.billing_state) 
                    <br />
                    <b>City:</b>
                   
                    @Html.DisplayFor(m => m.billing_city) 
                    <br />
                    <b>Country:</b>
                   
                    @Html.DisplayFor(m => m.billing_country) 
                    <br />
                    <b>Zipcode:</b>
                   
                    @Html.DisplayFor(m => m.billing_zipcode) 
                    <br />
                    <b>Phone:</b>
                   
                    @Html.DisplayFor(m => m.billing_phone) 
                    <br />
                    <b>Company:</b>
                   
                    @Html.DisplayFor(m => m.billing_company) 
                </td>
                <td align="left" valign="top">
                    <b>Shipping infomation</b>
                    <br />
                    <br />
                    <b>First Name:</b>
                   
                    @Html.DisplayFor(m => m.shipping_firstname) 
                    <br />
                    <b>Last Name:</b>
                  
                    @Html.DisplayFor(m => m.shipping_lastname) 
                    <br />
                    <b>Address 1:</b>
                  
                    @Html.DisplayFor(m => m.shipping_address1) 
                    <br />
                    <b>Address 2:</b>
                   
                    @Html.DisplayFor(m => m.shipping_address2) 
                    <br />
                    <b>State:</b>
                  
                    @Html.DisplayFor(m => m.shipping_state) 
                    <br />
                    <b>City:</b>
                 
                    @Html.DisplayFor(m => m.shipping_city) 
                    <br />
                    <b>Country:</b>
              
                    @Html.DisplayFor(m => m.shipping_country) 
                    <br />
                    <b>Zipcode:</b>
                
                    @Html.DisplayFor(m => m.shipping_zipcode) 
                    <br />
                    <b>Phone:</b>
                
                    @Html.DisplayFor(m => m.shipping_phone) 
                    <br />
                    <b>Company:</b>
             
                    @Html.DisplayFor(m => m.shipping_company) 
                </td>
            </tr>

            <tr>
                <td colspan="2" valign="top">
                    Payment :@Html.DisplayFor(m => m.orders_payment)
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top">
                    <p><b>Comment :</b> @Model.orders_comment</p>  
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top">
                    <p><b>Product List</b></p>
                    @{Html.RenderAction("ProductList", new { id = Model.orders_id });}
                </td>
            </tr>
            <tr>
                <th align="center" colspan="2">
                 
                    @Html.ActionLink("Back to list", "Index")
                </th>
            </tr>
        </table>
    </div>
<div class="clear"></div>
