﻿@model OnlineJewelleryShopping.Areas.Admin.Models.OrderModel

@{
    ViewBag.Title = "Edit Order"; ViewBag.PageHeading = "Edit Order";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.orders_id)
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <td align="left" valign="top" width="50%">
                    <b>Billing infomation</b>
                    <br />
                    <br />
                    *First Name:
                    <br />
                    @Html.TextBoxFor(m => m.billing_firstname) @Html.ValidationMessageFor(m => m.billing_firstname)
                    <br />
                    *Last Name:
                    <br />
                    @Html.TextBoxFor(m => m.billing_lastname) @Html.ValidationMessageFor(m => m.billing_lastname)
                    <br />
                    *Address 1:
                    <br />
                    @Html.TextBoxFor(m => m.billing_address1) @Html.ValidationMessageFor(m => m.billing_address1)
                    <br />
                    Address 2:
                    <br />
                    @Html.TextBoxFor(m => m.billing_address2) @Html.ValidationMessageFor(m => m.billing_address2)
                    <br />
                    *State:
                    <br />
                    @Html.TextBoxFor(m => m.billing_state) @Html.ValidationMessageFor(m => m.billing_state)
                    <br />
                    *City:
                    <br />
                    @Html.TextBoxFor(m => m.billing_city) @Html.ValidationMessageFor(m => m.billing_city)
                    <br />
                    Country:
                    <br />
                    @Html.DropDownListFor(m => m.billing_country, (SelectList)ViewBag.Country) @Html.ValidationMessageFor(m => m.billing_country)
                    <br />
                    *Zipcode:
                    <br />
                    @Html.TextBoxFor(m => m.billing_zipcode) @Html.ValidationMessageFor(m => m.billing_zipcode)
                    <br />
                    *Phone:
                    <br />
                    @Html.TextBoxFor(m => m.billing_phone) @Html.ValidationMessageFor(m => m.billing_phone)
                    <br />
                    Company:
                    <br />
                    @Html.TextBoxFor(m => m.billing_company) @Html.ValidationMessageFor(m => m.billing_company)
                </td>
                <td align="left" valign="top">
                    <b>Shipping infomation</b>
                    <br />
                    <br />
                    *First Name:
                    <br />
                    @Html.TextBoxFor(m => m.shipping_firstname) @Html.ValidationMessageFor(m => m.shipping_firstname)
                    <br />
                    *Last Name:
                    <br />
                    @Html.TextBoxFor(m => m.shipping_lastname) @Html.ValidationMessageFor(m => m.shipping_lastname)
                    <br />
                    *Address 1:
                    <br />
                    @Html.TextBoxFor(m => m.shipping_address1) @Html.ValidationMessageFor(m => m.shipping_address1)
                    <br />
                    Address 2:
                    <br />
                    @Html.TextBoxFor(m => m.shipping_address2) @Html.ValidationMessageFor(m => m.shipping_address2)
                    <br />
                    *State:
                    <br />
                    @Html.TextBoxFor(m => m.shipping_state) @Html.ValidationMessageFor(m => m.shipping_state)
                    <br />
                    *City:
                    <br />
                    @Html.TextBoxFor(m => m.shipping_city) @Html.ValidationMessageFor(m => m.shipping_city)
                    <br />
                    Country:
                    <br />
                    @Html.DropDownListFor(m => m.shipping_country, (SelectList)ViewBag.Country) @Html.ValidationMessageFor(m => m.shipping_country)
                    <br />
                    *Zipcode:
                    <br />
                    @Html.TextBoxFor(m => m.shipping_zipcode) @Html.ValidationMessageFor(m => m.shipping_zipcode)
                    <br />
                    *Phone:
                    <br />
                    @Html.TextBoxFor(m => m.shipping_phone) @Html.ValidationMessageFor(m => m.shipping_phone)
                    <br />
                    Company:
                    <br />
                    @Html.TextBoxFor(m => m.shipping_company) @Html.ValidationMessageFor(m => m.shipping_company)
                </td>
            </tr>

            <tr>
                <td colspan="2" valign="top">
                    Payment :
                    <select name="orders_payment">
                        <option value="Cash">Cash</option>
                        <option value="Card">Card</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top">
                    Comment : @Html.TextAreaFor(m => m.orders_comment, new { cols = "100", rows = "10" })
                </td>
            </tr>
            <tr>
                <th align="center" colspan="2">
                    <input type="submit" name="Submit" value="Save Change" />
                    @Html.ActionLink("Back to list", "Index")
                </th>
            </tr>
        </table>
    </div>
}
<div class="clear"></div>
@section Scripts{
    <script>


    </script>
}