﻿<div id="footer">
    <!--  start footer-left -->
    <div id="footer-left">

        Admin Skin &copy; Copyright Internet Dreams Ltd. <span id="spanYear"></span> <a href="">www.netdreams.co.uk</a>. All rights reserved.
    </div>
    <!--  end footer-left -->
    <div class="clear">&nbsp;</div>
</div>