﻿@{
    if (!(Session["AdminID"] != null && Session["AdminName"] != null && Session["IsAuthorized"] != null && (bool)Session["IsAuthorized"] == true))
    {
        Response.Redirect("/Admin/Admin/Login");
    }
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Begin Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Title - Admin manager Page</title>
    <link rel="stylesheet" href="~/Areas/Admin/Content/screen.css" type="text/css" media="screen" title="default" />
    <!--[if IE]>
    <link rel="stylesheet" media="all" type="text/css" href="css/pro_dropline_ie.css" />
    <![endif]-->
    <!--  jquery core -->
    <script src="~/Areas/Admin/Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>

    <!--  checkbox styling script -->
    <script src="~/Areas/Admin/Scripts/ui.core.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/ui.checkbox.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/jquery.bind.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('input').checkBox();
            $('#toggle-all').click(function () {
                $('#toggle-all').toggleClass('toggle-checked');
                $('#mainform input[type=checkbox]').checkBox('toggle');
                return false;
            });
        });
    </script>

    <![if !IE 7]>

    <!--  styled select box script version 1 -->
    <script src="~/Areas/Admin/Scripts/jquery.selectbox-0.5.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect').selectbox({ inputClass: "selectbox_styled" });
        });
    </script>


    <![endif]>

    <!--  styled select box script version 2 -->
    <script src="~/Areas/Admin/Scripts/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
            $('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
        });
    </script>

    <!--  styled select box script version 3 -->
    <script src="~/Areas/Admin/Scripts/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
        });
    </script>

    <!--  styled file upload script -->
    <script src="~/Areas/Admin/Scripts/jquery.filestyle.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $("input.file_1").filestyle({
                image: "images/forms/choose-file.gif",
                imageheight: 21,
                imagewidth: 78,
                width: 310
            });
        });
    </script>

    <!-- Custom jquery scripts -->
    <script src="~/Areas/Admin/Scripts/custom_jquery.js" type="text/javascript"></script>

    <!-- Tooltips -->
    <script src="~/Areas/Admin/Scripts/jquery.tooltip.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/jquery.dimensions.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('a.info-tooltip ').tooltip({
                track: true,
                delay: 0,
                fixPNG: true,
                showURL: false,
                showBody: " - ",
                top: -35,
                left: 5
            });
        });
    </script>


    <!--  date picker script -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/datePicker.css" type="text/css" />
    <script src="~/Areas/Admin/Scripts/date.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/jquery.datePicker.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {

            // initialise the "Select date" link
            $('#date-pick')
                .datePicker(
                    // associate the link with a date picker
                    {
                        createButton: false,
                        startDate: '01/01/2005',
                        endDate: '31/12/2020'
                    }
                ).bind(
                    // when the link is clicked display the date picker
                    'click',
                    function () {
                        updateSelects($(this).dpGetSelected()[0]);
                        $(this).dpDisplay();
                        return false;
                    }
                ).bind(
                    // when a date is selected update the SELECTs
                    'dateSelected',
                    function (e, selectedDate, $td, state) {
                        updateSelects(selectedDate);
                    }
                ).bind(
                    'dpClosed',
                    function (e, selected) {
                        updateSelects(selected[0]);
                    }
                );

            var updateSelects = function (selectedDate) {
                var selectedDate = new Date(selectedDate);
                $('#d option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
                $('#m option[value=' + (selectedDate.getMonth() + 1) + ']').attr('selected', 'selected');
                $('#y option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
            }
            // listen for when the selects are changed and update the picker
            $('#d, #m, #y')
                .bind(
                    'change',
                    function () {
                        var d = new Date(
                                    $('#y').val(),
                                    $('#m').val() - 1,
                                    $('#d').val()
                                );
                        $('#date-pick').dpSetSelected(d.asString());
                    }
                );

            // default the position of the selects to today
            var today = new Date();
            updateSelects(today.getTime());

            // and update the datePicker to reflect it...
            $('#d').trigger('change');
        });
    </script>

    <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
    <script src="~/Areas/Admin/Scripts/jquery.pngFix.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).pngFix();
        });
    </script>
   
</head>
<!--End Head-->
<body>
    <!-- Start: page-top-outer -->
    @{Html.RenderPartial("~/Areas/Admin/Views/Shared/_Page_Top_Outer.cshtml");}
    <!-- End: page-top-outer -->

    <div class="clear">&nbsp;</div>

    <!--  start nav-outer-repeat................................................................................................. START -->
    @{Html.RenderPartial("~/Areas/Admin/Views/Shared/_nav-outer-repeat.cshtml"); }
    <!--  End nav-outer-repeat................................................................................................... END -->

    <div class="clear"></div>

    <!-- start content-outer ........................................................................................................................START -->
    <div id="content-outer">
        <!-- start content -->
        <div id="content">

            <!--  start page-heading -->
            <div id="page-heading">
                <h1>@ViewBag.PageHeading</h1>
            </div>
            <!-- end page-heading -->

            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
                <tr>
                    <th rowspan="3" class="sized"><img src="~/Areas/Admin/Content/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
                    <th class="topleft"></th>
                    <td id="tbl-border-top">&nbsp;</td>
                    <th class="topright"></th>
                    <th rowspan="3" class="sized"><img src="~/Areas/Admin/Content/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
                </tr>
                <tr>
                    <td id="tbl-border-left"></td>
                    <td valign="top">
                        <!--  start content-table-inner ...................................................................... START -->
                        @RenderBody()
                        <!--  end content-table-inner ............................................END  -->
                    </td>
                    <td id="tbl-border-right"></td>
                </tr>
                <tr>
                    <th class="sized bottomleft"></th>
                    <td id="tbl-border-bottom">&nbsp;</td>
                    <th class="sized bottomright"></th>
                </tr>
            </table>
            <div class="clear">&nbsp;</div>

        </div>
        <!--  end content -->
        <div class="clear">&nbsp;</div>
    </div>

    <!--  end content-outer........................................................END -->

    <div class="clear">&nbsp;</div>

    <!-- start footer -->
    @{Html.RenderPartial("~/Areas/Admin/Views/Shared/_Footer.cshtml");}
    <!-- end footer -->
    <script src="~/Areas/Admin/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Areas/Admin/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Scripts/ckfinder/ckfinder.js"></script>
    <script>
        function Logout() {
            if (confirm('Are you sure to logout ?')) {
                return document.getElementById('frmLogout').submit();
            }
            return false;
        }
        function BrowseServerFile(idInput) {
            var f = new CKFinder();
            f.selectActionFunction = function (fileUrl) {
                document.getElementById(idInput).value = fileUrl;
            };
            f.popup();
        }
        function BrowseServerFileAndSetImage(IdInput,IdImage) {
            var f = new CKFinder();
            f.selectActionFunction = function (fileUrl) {
                document.getElementById(IdInput).value = fileUrl;
                document.getElementById(IdImage).src = fileUrl;
            };
            f.popup();
        }
    </script>
    @RenderSection("Scripts", false)
</body>
</html>