﻿<div id="message-blue">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="blue-left">@ViewBag.MessageBlue</td>
            <td class="blue-right"><a class="close-blue"><img src="~/Areas/Admin/Content/images/table/icon_close_blue.gif" alt="" /></a></td>
        </tr>
    </table>
</div>