﻿<div class="nav-outer-repeat">
    <!--  start nav-outer -->
    <div class="nav-outer">
        <!--  start nav -->
        <div class="nav">
            <div class="table">
                <ul @Html.ClassParent("Products")>
                    <li>
                        <a href="/Admin/Products"><b>Products</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("Products")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("Index", "Products")>@Html.ActionLink("View All", "Index", "Products", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "Products")>@Html.ActionLink("Add New", "Create", "Products", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Edit", "Products")><a>Edit</a></li>
                                <li @Html.ClassChildCurrent("Details", "Products")><a>Details</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParent("Categories")>
                    <li>
                        <a href="/Admin/Categories"><b>Categories</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("Categories")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("Index", "Categories")>@Html.ActionLink("View All", "Index", "Categories", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "Categories")>@Html.ActionLink("Add New", "Create", "Categories", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Edit", "Categories")><a>Edit</a></li>
                                <li @Html.ClassChildCurrent("Details", "Categories")><a>Details</a></li>
                                <li @Html.ClassChildCurrent("Delete", "Categories")><a>Delete</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParent("Brands")>
                    <li>
                        <a href="/Admin/Brands"><b>Brands</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("Brands")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("Index", "Brands")>@Html.ActionLink("View All", "Index", "Brands", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "Brands")>@Html.ActionLink("Create", "Create", "Brands", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Edit", "Brands")><a>Edit</a></li>
                                <li @Html.ClassChildCurrent("Detailss", "Brands")><a>Details</a></li>
                                <li @Html.ClassChildCurrent("Delete", "Brands")><a>Delete</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParent("Orders")>
                    <li>
                        <a href="/Admin/Orders"><b>Orders</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("Orders")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("Index", "Orders")>@Html.ActionLink("View All", "Index", "Orders", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "Orders")>@Html.ActionLink("Create", "Create", "Orders", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("AddProduct", "Orders")><a>Add Product</a></li>
                                <li @Html.ClassChildCurrent("EditProduct", "Orders")><a>Edit Product</a></li>
                                <li @Html.ClassChildCurrent("Details", "Orders")><a>Details</a></li>
                                <li @Html.ClassChildCurrent("Delete", "Orders")><a>Delete</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParent("Customers")>
                    <li>
                        <a href="/Admin/Customers"><b>Customers</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("Products")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("Index", "Customers")>@Html.ActionLink("View All", "Index", "Customers", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "Customers")>@Html.ActionLink("Create", "Create", "Customers", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Edit", "Customers")><a>Edit</a></li>
                                <li @Html.ClassChildCurrent("Details", "Customers")><a>Details</a></li>
                                <li @Html.ClassChildCurrent("Delete", "Customers")><a>Delete</a></li>
                                <li @Html.ClassChildCurrent("ResetPassword", "Customers")><a>Reset Password</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParent("Contacts")>
                    <li>
                        <a href="/Admin/Contacts"><b>Contacts</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("Contacts")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("Index", "Contacts")>@Html.ActionLink("View All", "Index", "Contacts", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "Contacts")>@Html.ActionLink("Create", "Create", "Contacts", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Edit", "Contacts")><a>Edit</a></li>
                                <li @Html.ClassChildCurrent("Details", "Contacts")><a>Details</a></li>
                                <li @Html.ClassChildCurrent("Delete", "Contacts")><a>Delete</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParent("A")>
                    <li>
                        <a href="/Admin/A"><b>Advertises</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("A")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("Index", "A")>@Html.ActionLink("View All", "Index", "A", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "A")>@Html.ActionLink("Create", "Create", "A", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Edit", "A")><a>Edit</a></li>
                                <li @Html.ClassChildCurrent("Details", "A")><a>Details</a></li>
                                <li @Html.ClassChildCurrent("Delete", "A")><a>Delete</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>


                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParent("Banner")>
                    <li>
                        <a href="/Admin/Banner"><b>Banner</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("Banner")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("View List", "Banner")>@Html.ActionLink("View All", "Index", "Banner", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "Banner")>@Html.ActionLink("Create", "Create", "Banner", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Edit", "Banner")><a>Edit</a></li>
                                <li @Html.ClassChildCurrent("Details", "Banner")><a>Details</a></li>
                                <li @Html.ClassChildCurrent("Delete", "Banner")><a>Delete</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParent("SaleOff")>
                    <li>
                        <a href="/Admin/SaleOff"><b>SaleOff</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("SaleOff")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("Index", "SaleOff")>@Html.ActionLink("List Sale Off", "Index", "SaleOff", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "SaleOff")>@Html.ActionLink("Create Sale Off", "Create", "SaleOff", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("AddProduct", "SaleOff")><a>Add Product</a></li>
                                <li @Html.ClassChildCurrent("RemoveProduct", "SaleOff")><a>Remove Product</a></li>
                                <li @Html.ClassChildCurrent("Delete", "SaleOff")><a>Delete</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParent("Admin")>
                    <li>
                        <a href="/Admin/Admin"><b>Admin</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("Admin")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrent("Index", "Admin")>@Html.ActionLink("View All", "Index", "Admin", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Create", "Admin")>@Html.ActionLink("Create", "Create", "Admin", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrent("Edit", "Admin")><a >Edit</a></li>
                                <li @Html.ClassChildCurrent("Details", "Admin")><a>Details</a></li>
                                <li @Html.ClassChildCurrent("Delete", "Admin")><a>Delete</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
                <div class="nav-divider">&nbsp;</div>
                <ul @Html.ClassParentMore()>
                    <li>
                        <a href="/Admin/More"><b>Config</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div @Html.ClassChild("More")>
                            <ul class="sub">
                                <li @Html.ClassChildCurrentMore("ContactsInfo")>@Html.ActionLink("Contacts Infomatiom", "Index", "ContactsInfo", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrentMore("AboutUS")>@Html.ActionLink("About Us", "Index", "AboutUs", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrentMore("TermAndConditional")>@Html.ActionLink("Term And Conditional", "Index", "TermAndConditional", new { area = "Admin" }, null)</li>
                                <li @Html.ClassChildCurrentMore("Acountant")>@Html.ActionLink("Acountant", "Index", "Acountant", new { area = "Admin" }, null)</li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!--  start nav -->

    </div>
    <div class="clear"></div>
    <!--  start nav-outer -->
</div>