﻿<div id="page-top-outer">
    <!-- Start: page-top -->
    <div id="page-top">

        <!-- start logo -->
        <div id="logo">
            <a href=""><img src="~/Areas/Admin/Content/images/shared/logo.png" width="156" height="40" alt="" /></a>
        </div>
        <!-- end logo -->
        <!--  start top-search -->
        <div id="welcomeAdmin">
            Well come @Session["AdminName"]! | <a href="/" target="_blank">Home Page</a> | <a href="#" id="lbtLogout" onclick="javascript: return Logout();">Logout</a>
        </div>
        @using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "frmLogout" }))
        {
           
        }
        <div class="clear"></div>

    </div>
    <!-- End: page-top -->
</div>