﻿@model IEnumerable<OnlineJewelleryShopping.Models.category>
@{
    ViewBag.Title = "Menu";
}

<ul id="camaccordion">
    @foreach (var category_null in Model)
    {
        <li class="cid26 dcjq-parent-li">
            @if (category_null.category_id == ViewBag.categoryid)
            {
                <a href="@Url.Action("Index", "Category", new { id = @category_null.category_id })"  class="active">@category_null.category_name</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Category", new { id = @category_null.category_id })" class="havechild  dcjq-parent">@category_null.category_name</a>
            }
            <ul style="display: none;">
                @foreach (var item in category_null.category1)
                {
                    if (item.category_id == ViewBag.categoryid)
                    {
                        <li class="cid26"><a href="@Url.Action("Index", "Category", new { id = @item.category_id })" class="active">@item.category_name</a></li>
                    }
                    else
                    {
                        <li class="cid26"><a href="@Url.Action("Index", "Category", new { id = @item.category_id })" class="nochild">@item.category_name</a></li>

                    }

                }
            </ul>
        </li>
    }




</ul>