﻿@model OnlineJewelleryShopping.Areas.Admin.Models.AdminCreateModel

@{
    ViewBag.Title = "Create admin account"; ViewBag.PageHeading = "Create admin account";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="200px" align="left" scope="row">Full Name :</th>
                <td>@Html.TextBoxFor(m => m.FullName) @Html.ValidationMessageFor(m => m.FullName) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Email :</th>
                <td>@Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Phone Number :</th>
                <td>@Html.TextBoxFor(m => m.Phone) @Html.ValidationMessageFor(m => m.Phone)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Password :</th>
                <td>@Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Confirm Password :</th>
                <td>@Html.PasswordFor(m => m.ConfirmPassword) @Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
            </tr>
            <tr><td align="left" colspan="2"><input type="submit" name="Submit" value="Create" /> @Html.ActionLink("Back to list","Index")</td></tr>
        </table>
    </div>
}
<div class="clear"></div>
