﻿@model OnlineJewelleryShopping.Models.admin_login

@{
    ViewBag.Title = "Details";
}

@{ViewBag.PageHeading = "Admin Details";}

<div id="table-content">
    <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
        <tr>
            <th width="20%" align="left" scope="row">Admin ID :</th>
            <td width="80%">@Html.DisplayFor(m => m.admin_id) </td>
        </tr>
        <tr>
            <th width="20%" align="left" scope="row">Full Name :</th>
            <td width="80%">@Html.DisplayFor(m => m.admin_fullname) </td>
        </tr>
        <tr>
            <th align="left" scope="row">Email :</th>
            <td>@Html.DisplayFor(m => m.admin_username)</td>
        </tr>
        <tr>
            <th align="left" scope="row">Phone Number :</th>
            <td>@Html.DisplayFor(m => m.admin_phone)</td>
        </tr>
        <tr>
            <th align="left" scope="row">Status :</th>
            <td>
                @if (Model.admin_block != null && Model.admin_block == false)
                {
                    @Html.Raw("Active") <span> | </span> @Html.ActionLink("Block", "Block", new { id = Model.admin_id })
                }
                else
                {
                    @Html.Raw("Bolcked") <span> | </span> @Html.ActionLink("Active", "Block", new { id = Model.admin_id })
                }
            </td>
        </tr>
        <tr><th>@Html.ActionLink("Edit", "Edit", new { id = Model.admin_id }) <span> | </span> @Html.ActionLink("Back to List", "Index")</th> </tr>
    </table>
</div>
<div class="clear"></div>
