﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.admin_login>
@using PagedList.Mvc;

@{
    ViewBag.Title = "List Admin Account";
    ViewBag.PageHeading = "List aAmin account";
}
<p>@Html.ActionLink("Create Admin Account", "Create")</p>
<br />
@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <p>
        Search by Name:
        <input type="text" name="Keyword" id="Keyword" placeholder="Enter name to search..." class="cboFilter" value="@ViewBag.Keyword" />
        <input type="submit" value="Search" />
    </p>
}
<br />
<form id="mainform" method="post">
    <div id="table-content">

        @if (Model.Count() == 0)
        {
            <h3>No data.</h3>
        }
        else
        {
            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                <tr>
                    <th class="table-header-check"><a id="toggle-all"></a></th>
                    <th class="table-header-repeat line-left">@Html.ActionLink(linkText: "Full Name", actionName: "Index", routeValues: new { Keyword = ViewBag.Keyword, Sort = ViewBag.NameParameter, PageNumber = Model.PageNumber })</th>
                    <th class="table-header-repeat line-left">@Html.ActionLink(linkText: "Email", actionName: "Index", routeValues: new { Keyword = ViewBag.Keyword, Sort = ViewBag.EmailParameter, PageNumber = Model.PageNumber })</th>
                    <th class="table-header-repeat line-left"><a>Phone</a></th>
                    <th class="table-header-options line-left"><a>Options</a></th>
                </tr>
                @foreach (OnlineJewelleryShopping.Models.admin_login item in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="@item.admin_id" /></td>
                        <td>@item.admin_fullname</td>
                        <td>@item.admin_username</td>
                        <td>@item.admin_phone</td>
                        <td class="">
                            <a href="/Admin/Admin/Details/@item.admin_id" title="Details page" class="icon-detail info-tooltip"></a>
                            <a href="/Admin/Admin/Edit/@item.admin_id" title="Edit infomation" class="icon-edit info-tooltip"></a>
                            @if (item.admin_block != null && item.admin_block == true)
                            {
                                <a href="/Admin/Admin/Block/@item.admin_id" title="Unlock Admin" class="icon-block info-tooltip" onclick="javascript: return confirm('Are you sure to unlock this admin account ?');"></a>
                            }
                            else
                            {
                                <a href="/Admin/Admin/Block/@item.admin_id" title="Block Admin" class="icon-unlock info-tooltip" onclick="javascript: return confirm('Are you sure to block this admin account ?');"></a>
                            }
                            <a href="/Admin/Admin/ResetPassword/@item.admin_id" title="Reset password" class="icon-reset-password info-tooltip"></a>
                            <a href="/Admin/Admin/Delete/@item.admin_id" onclick="javascript: return confirm('Are you sure to delete ?')" title="Delete Admin" class="icon-delete info-tooltip"></a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>

    <div id="actions-box"><input type="submit" value="Delete" onclick="javascript: return confirm('Are you sure to delete ?');" /></div>
</form>
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/Admin/Index?Sort=@ViewBag.CurrentSort&Keyword=@ViewBag.Keyword&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/Admin/Index?Sort=@ViewBag.CurrentSort&Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/Admin/Index?Sort=@ViewBag.CurrentSort&Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/Admin/Index?Sort=@ViewBag.CurrentSort&Keyword=@ViewBag.Keyword&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>
<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString())) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else  {
                    location.href = "/Admin/Admin/Index?Sort=@ViewBag.CurrentSort&Keyword=@ViewBag.Keyword&PageNumber=" + textarea.value;
                }  
            }
        }
    </script>
}