﻿@model OnlineJewelleryShopping.Areas.Admin.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Online Jwellery Store Management Page</title>
    <link rel="stylesheet" href="~/Areas/Admin/Content/screen.css" type="text/css" media="screen" title="default" />
    <!--  jquery core -->
    <script src="~/Areas/Admin/Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>

    <!-- Custom jquery scripts -->
    <script src="~/Areas/Admin/Scripts/custom_jquery.js" type="text/javascript"></script>

    <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
    <script src="~/Areas/Admin/Scripts/jquery.pngFix.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).pngFix();
        });
    </script>
</head>
<body id="login-bg">

    <!-- Start: login-holder -->
    <div id="login-holder">

        <!-- start logo -->
        <div id="logo-login">
            <a href="../../index.html"><img src="~/Areas/Admin//Content/images/shared/logo.png" width="156" height="40" alt="" /></a>
        </div>
        <!-- end logo -->

        <div class="clear"></div>

        <!--  start loginbox ................................................................................. -->
        <div id="loginbox">

            <!--  start login-inner -->
            <div id="login-inner">
                @*Begin form login*@
                @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new  { name = "frmLogin", id="frmLogin" }))
                {
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="2"><span style="color:red">@ViewBag.Message</span></td>

                        </tr>
                        <tr>
                            <th>Email</th>
                           @*<td><input type="text" class="login-inp" placeholder="Email Address" autofocus="true" /></td>*@
                            <td>@Html.TextBoxFor(m => m.Email, new { @class = "login-inp", placeholder = "Email Address", style = "width:205px;", autofocus = "true" })</td>
                          
                        </tr>
                        <tr><td></td> <td>@Html.ValidationMessageFor(m => m.Email)</td></tr>
                        <tr>
                            <th>Password</th>
                            <td>@Html.PasswordFor(m => m.Password, new { placeholder = "********", @class = "login-inp", style = "width:205px;" })</td>
                            @*<td><input type="password" value="" placeholder="********" onfocus="this.value=''" class="login-inp" /></td>*@
                        </tr>
                        <tr><td></td><td>@Html.ValidationMessageFor(m => m.Password)</td></tr>
                        <tr>
                            <th></th>
                            <td valign="top">@Html.CheckBoxFor(m => m.IsRemember, new { @class = "checkbox-size", id = "login-check" })<label for="login-check">Keep me Login</label></td>
                            @*<td valign="top"><input type="checkbox" class="checkbox-size" id="login-check" /><label for="login-check">Remember me</label></td>*@
                        </tr>
                        <tr>
                            <th></th>
                            <td><input type="submit" class="submit-login" form="frmLogin" /></td>
                        </tr>
                    </table>
                }  @*End form login*@
            </div>
            <!--  end login-inner -->
            <div class="clear"></div>
            <a href="" class="forgot-pwd">Forgot Password?</a>
        </div>
        <!--  end loginbox -->
        <!--  start forgotbox ................................................................................... -->
        <div id="forgotbox">
            <div id="forgotbox-text">Please send us your email and we'll reset your password.</div>
            <!--  start forgot-inner -->
            <div id="forgot-inner">
              
                @using (Html.BeginForm("Forgot", "Admin", FormMethod.Post, new { name = "frmFogot", id = "frmForgot", onsubmit = "javascript: return CheckEmail();" }))
                {
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>Email address:</th>
                            <td><input type="email" value="" class="login-inp" name="txtEmailForgot" id="txtEmailForgot"  style="width:205px;" /></td>
                        </tr>
                        <tr>
                            <th> </th>
                            <td><input type="submit" class="submit-login" form="frmForgot"  /></td>
                        </tr>
                    </table>
                }
               
            </div>
            <!--  end forgot-inner -->
            <div class="clear"></div>
            <a href="" class="back-login">Back to login</a>
        </div>
        <!--  end forgotbox -->

    </div>
    <!-- End: login-holder -->
    <script type="text/javascript">
        function CheckEmail() {
            if (document.getElementById("txtEmailForgot").value == "") {
                alert("Please enter email address.");
                return false;
            }
            document.getElementById("frmFogot").submit();
        }
        </script>
</body>
</html>