﻿@model OnlineJewelleryShopping.Areas.Admin.Models.AdminResetPassModel

@{
    ViewBag.Title = "Reset Password";
}
@{
    ViewBag.PageHeading = "Reset admin password";

}
@using (Html.BeginForm("ResetPassword", "Admin", new { area = "Admin" }, FormMethod.Post, new { name = "frmAddNewAdmin", onsubmit = "javascript: return ValidateForm();" }))
{
    @Html.AntiForgeryToken()
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr valign="top">
            <td>
                @Html.HiddenFor(m => m.ID)
                <!-- start id-form -->
                <table border="0" cellpadding="0" cellspacing="0" id="id-form" width="100%">

                    <tr>
                        <th valign="top" width="250px">New Password: </th>
                        <td>
                            @Html.PasswordFor(m => m.NewPassword, new { id = "txtNewPassword" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </td>
                    </tr>
                    <tr>
                        <th valign="top" width="300px">Comfirm Password: </th>
                        <td>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { id = "txtConfirmPassword" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </td>
                    </tr>
                    <tr>
                        <th valign="top"></th>
                        <td>
                            <input type="submit" value="Reset">
                            @Html.ActionLink("Back to list admin", "Index")
                        </td>
                    </tr>
                </table>

                <!-- end id-form  -->
            </td>
            <td></td>
        </tr>
        <tr>
            <td><img src="~/Areas/Admin/Content/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
            <td></td>
        </tr>
    </table>
}
<div class="clear"></div>


