﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}
@model OnlineJewelleryShopping.Models.about_us

<div id="content">
    <!--Social Icons Start-->
    @RenderPage("~/Views/Shared/_social.cshtml")
    <!--Social Icons End-->

    <h1>About Us</h1>
    <html>
    @Html.Raw(@Model.about_us_conten)
    
    </html>
</div>
