﻿@model IEnumerable<OnlineJewelleryShopping.Models.product>
<div class="box">
    <div class="box-heading-1"><span>Latest @ViewBag.id</span></div>
    <div class="box-content-1">
        <div class="box-product-1">
            @foreach (var item in Model)
            {
                <div>
                    <div class="image">
                        <a href="@Url.Action("Index", "Product", new { id = @item.product_id })"><img src="@Url.Content(@item.product_images_01)" alt="@item.product_name" title="@item.product_name" height="150" width="150" /></a>
                    </div>
                    <div class="proName">

                        @if (item.product_discount_detail.Count > 0)
                        {
                            foreach (var dis in item.product_discount_detail)
                            {
                                if (dis.product_discount.product_discount_startdate <= DateTime.Now && dis.product_discount.product_discount_enddate >= DateTime.Now)
                                {
                                    <div class="name"><a href="@Url.Action("Index", "Product", new { id = @item.product_id })">@item.product_name</a>  <font color="#bd5367">@Html.Label("- Save You: ")@dis.product_discount.product_discount_amount@Html.Label("%")</font></div>
                                    <div class="price">
                                        @Html.Label("$")@string.Format("{0:F}", @item.product_price)
                                    </div>
                                }
                                else
                                {

                                    <div class="name"><a href="@Url.Action("Index", "Product", new { id = @item.product_id })">@item.product_name</div>
                                    <div class="price">
                                        @Html.Label("$")@string.Format("{0:F}", @item.product_price)
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="name"><a href="@Url.Action("Index", "Product", new { id = @item.product_id })">@item.product_name</div>
                            <div class="price">
                                @Html.Label("$")@string.Format("{0:F}", @item.product_price)
                            </div>
                        }


                        <div class="cart"> <a href="@Url.Action("Index", "Product", new { id = @item.product_id })"><input type="button" value="Add to Cart" class="button" /></a> </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>