﻿@model OnlineJewelleryShopping.Models.term_and_conditional
@{
    ViewBag.Title = "Parivacy";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}

<div id="content">


    <h1>Terms &amp; Conditions</h1>
    <p>
        @Html.Raw(@Model.term_and_conditional_conten)
    </p>
    <div class="buttons">
        <div class="right"><label class="btn"><a href="@Url.Action("Home","Index",null)" class="button">Continue</a></label></div>
    </div>
</div>