﻿@{
    ViewBag.Title = "Special";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}

<div id="content">
    <h1>Special Offers</h1>
    <div class="product-filter">
        <div class="display"><b>Display:</b> <span class="list">List</span> <a class="gridSelect" onclick="display('grid');">Grid</a></div>
        <div class="limit">
            <b>Show:</b>
            <select onchange="location = this.value;">
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;limit=15">15</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;limit=25">25</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;limit=50">50</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;limit=75">75</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;limit=100" selected="selected">100</option>
            </select>
        </div>
        <div class="sort">
            <b>Sort By:</b>
            <select onchange="location = this.value;">
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;sort=ps.price&amp;order=ASC">Price (Low &gt; High)</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;sort=ps.price&amp;order=DESC">Price (High &gt; Low)</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
                <option value="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/special&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
            </select>
        </div>
    </div>
    <div class="product-compare"><a href="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/compare" id="compare-total">Product Compare (0)</a></div>
    <div class="product-list">
        <div>
            <div class="right">
                <div class="price">
                    <span class="price-old">86.24€</span> <span class="price-new">69.28€</span>
                    <span class="price-tax">Ex Tax: 57.74€</span>
                </div>  <div class="cart"><label class="btn"><input type="button" value="Add to Cart" onclick="addToCart('30');" class="button"></label></div>  <div class="wishlist"><a onclick="addToWishList('30');">Add to Wish List</a></div>  <div class="compare"><a onclick="addToCompare('30');">Add to Compare</a></div>
            </div><div class="left"><div class="image"><a href="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/product&amp;product_id=30"><img src="http://www.themehive.net/opencart/jewelleryonlinestore/image/cache/data/bracelet-11-80x80.jpg" title="Bracelet" alt="Bracelet"></a></div>  <div class="name"><a href="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/product&amp;product_id=30">Bracelet</a></div>  <div class="description">Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we're n..</div></div>
        </div>
        <div>
            <div class="right">
                <div class="price">
                    <span class="price-old">86.24€</span> <span class="price-new">77.76€</span>
                    <span class="price-tax">Ex Tax: 64.95€</span>
                </div>  <div class="cart"><label class="btn"><input type="button" value="Add to Cart" onclick="addToCart('42');" class="button"></label></div>  <div class="wishlist"><a onclick="addToWishList('42');">Add to Wish List</a></div>  <div class="compare"><a onclick="addToCompare('42');">Add to Compare</a></div>
            </div><div class="left"><div class="image"><a href="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/product&amp;product_id=42"><img src="http://www.themehive.net/opencart/jewelleryonlinestore/image/cache/data/mangalsutra-5-80x80.jpg" title="Mangalsutra" alt="Mangalsutra"></a></div>  <div class="name"><a href="http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/product&amp;product_id=42">Mangalsutra</a></div>  <div class="description">The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed speci..</div></div>
        </div>
    </div>
    <div class="pagination"><div class="results">Showing 1 to 2 of 2 (1 Pages)</div></div>
</div>
<script type="text/javascript">
<!--
function display(view) {
	if (view == 'list') {
		$('.product-grid').attr('class', 'product-list');

		$('.product-list > div').each(function(index, element) {
			html  = '<div class="right">';
			var price = $(element).find('.price').html();

			if (price != null) {
				html += '<div class="price">' + price  + '</div>';
			}

			html += '  <div class="cart">' + $(element).find('.cart').html() + '</div>';
			html += '  <div class="wishlist">' + $(element).find('.wishlist').html() + '</div>';
			html += '  <div class="compare">' + $(element).find('.compare').html() + '</div>';
			html += '</div>';

			html += '<div class="left">';

			var image = $(element).find('.image').html();

			if (image != null) {
				html += '<div class="image">' + image + '</div>';
			}

			html += '  <div class="name">' + $(element).find('.name').html() + '</div>';
			html += '  <div class="description">' + $(element).find('.description').html() + '</div>';

			var rating = $(element).find('.rating').html();

			if (rating != null) {
				html += '<div class="rating">' + rating + '</div>';
			}

			html += '</div>';

			$(element).html(html);
		});

		$('.display').html('<b>Display:</b> <span class="list">List</span> <a class="gridSelect" onclick="display(\'grid\');">Grid</a>');

		$.totalStorage('display', 'list');
	} else {
		$('.product-list').attr('class', 'product-grid');

		$('.product-grid > div').each(function(index, element) {
			html = '';

			var image = $(element).find('.image').html();

			if (image != null) {
				html += '<div class="image">' + image + '</div>';
			}

			html += '<div class="name">' + $(element).find('.name').html() + '</div>';
			html += '<div class="description">' + $(element).find('.description').html() + '</div>';

			var price = $(element).find('.price').html();

			if (price != null) {
				html += '<div class="price">' + price  + '</div>';
			}

			var rating = $(element).find('.rating').html();

			if (rating != null) {
				html += '<div class="rating">' + rating + '</div>';
			}

			html += '<div class="cart">' + $(element).find('.cart').html() + '</div>';
			html += '<div class="wishlist">' + $(element).find('.wishlist').html() + '</div>';
			html += '<div class="compare">' + $(element).find('.compare').html() + '</div>';

			$(element).html(html);
		});

		$('.display').html('<b>Display:</b> <a class="listSelect" onclick="display(\'list\');">List</a> <span class="grid">Grid</span>');

		$.totalStorage('display', 'grid');
	}
}

view = $.totalStorage('display');

if (view) {
	display(view);
} else {
	display('list');
}
//--></script>
