﻿@model OnlineJewelleryShopping.Areas.Admin.Models.SaleOffModel

@{
    ViewBag.Title = "Edit Sale Off"; ViewBag.PageHeading = "Edit Sale Off";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.product_discount_id)
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="200px" align="left" scope="row">Name :</th>
                <td>@Html.TextBoxFor(m => m.product_discount_name) @Html.ValidationMessageFor(m => m.product_discount_name) </td>
            </tr>
            <tr> 
                <th align="left" scope="row">Amount :</th>
                <td>@Html.TextBoxFor(m => m.product_discount_amount) @Html.ValidationMessageFor(m => m.product_discount_amount)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Start date:</th>
                <td>@Html.TextBox("product_discount_startdate", @Model.product_discount_startdate.Value.ToString("yyyy-MM-dd"), new { type ="date"}) @Html.ValidationMessageFor(m => m.product_discount_startdate)</td>
            </tr>
            <tr>
                <th align="left" scope="row" valign="top">End date :</th>
                <td>
                    @Html.TextBox("product_discount_enddate", @Model.product_discount_enddate.Value.ToString("yyyy-MM-dd"), new { type = "date"}) @Html.ValidationMessageFor(m => m.product_discount_enddate)
                </td>
            </tr>
            <tr>
                <th align="center" colspan="2">
                    <input type="submit" name="Submit" value="Update" onclick="javascript: return ValidateDatetime();" />
                    @Html.ActionLink("Back to list", "Index")
                </th>
            </tr>
        </table>
    </div>
}
<div class="clear"></div>
@section Scripts{
    <script>
        function ValidateDatetime() {
            var start = document.getElementById('product_discount_startdate').value;
            var end = document.getElementById('product_discount_enddate').value;
            if (start != "" && end != "") {
                start = Date.parse(start);
                end = Date.parse(end);
                if (start > end) {
                    alert('Start date must be before end date');
                    return false;
                }
            }

        }
    </script>


}