﻿@model PagedList.PagedList<OnlineJewelleryShopping.Models.product>

@using PagedList.Mvc;
@helper Truncate(string input, int length)
{

    if (input.Length <= length)
    {
        @Html.Raw(input);
    }
    else
    {
        var thisString = input.Substring(0, length);
        @Html.Raw(thisString);
    }
}
<section id="mainContent">

    <div id="content">

        <!--Social Icons Start-->
        @RenderPage("~/Views/Shared/_social.cshtml")
        <!--Social Icons End-->
        @{Html.RenderAction("InfoCategory", "Category");}
        <!--Product Filter Start-->
        <form method="get" id="frmFilter">
            <div class="product-filter">
                <div class="display"><b>Display:</b>  <a href="" class="gridSelect">Grid</a></div>
                <div class="limit">
                    <b>Show:</b>
                    <select onchange="javascript: return document.getElementById('frmFilter').submit();" name="PageSize">
                        <option value="15" @if (ViewBag.CurrentPageSize == 15) { Html.Raw("selected"); }>15</option>
                        <option value="25" @if (ViewBag.CurrentPageSize == 25) { Html.Raw("selected"); }>25</option>
                        <option value="50" @if (ViewBag.CurrentPageSize == 50) { Html.Raw("selected"); }>50</option>
                        <option value="75" @if (ViewBag.CurrentPageSize == 75) { Html.Raw("selected"); }>75</option>
                        <option value="100" @if (ViewBag.CurrentPageSize == 100) { Html.Raw("selected"); }>100</option>
                    </select>
                </div>
                <div class="sort" >
                    <b>Sort By:</b>
                    <select onchange="javascript: return document.getElementById('frmFilter').submit();" name="Order">
                        <option selected="selected" value="" @if (ViewBag.CurrentOrder == "") { Html.Raw("selected"); }>Default</option>
                        <option value="Name_asc" @if (ViewBag.CurrentOrder == "Name_asc") { Html.Raw("selected"); }>Name (A - Z)</option>
                        <option value="Name_desc" @if (ViewBag.CurrentOrder == "Name_desc") { Html.Raw("selected"); }>Name (Z - A)</option>
                        <option value="Price_asc" @if (ViewBag.CurrentOrder == "Price_asc") { Html.Raw("selected"); }>Price (Low &gt; High)</option>
                        <option value="Price_desc" @if (ViewBag.CurrentOrder == "Price_desc") { Html.Raw("selected"); }>Price (High &gt; Low)</option>
                    </select>
                </div>
            </div>
            </form>
            <!--Product Filter End-->
            <!--Product List Start-->
            @foreach (var item in Model)
            {
                <div class="product-list">
                    <div>
                        <div class="right">
                            @if (item.product_discount_detail.Count > 0)
                            {
                                <div class="price">
                                    @foreach (var dis in item.product_discount_detail)
                                    {
                                        if (dis.product_discount.product_discount_startdate <= DateTime.Now && dis.product_discount.product_discount_enddate >= DateTime.Now)
                                        {
                                            <span class="price-old">$@item.product_price</span>
                                            <span class="price-new">
                                                @{float pricenew = (float)item.product_price * (float)dis.product_discount.product_discount_amount / 100;}
                                            @{float pricen = (float)item.product_price - pricenew;}
                                            $@string.Format("{0:f}", pricen)
                                        </span>
                                        }
                                    }
                                </div>
                            }
                            else
                            {

                                <div class="price">
                                    $@string.Format("{0:f}", @item.product_price) <br>
                                </div>
                            }

                            @using (Html.BeginForm("AddToCart", "Checkout", FormMethod.Post))
                            {
                                <div class="cart">
                                    <label class="btn">

                                        <input type="hidden" name="quantity" value="1" />
                                        <input type="hidden" name="txtproduct_id" value="@item.product_id" />
                                        @if (item.product_quantity != 0)
                                        {
                                            <label class="btn"><input type="submit" class="button" onclick="" value="Add to Cart"></label>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Index", "Product", new { id = @item.product_id })"><label class="btn"><input type="button" class="button" onclick="" value="Out stock"></label></a>
                                        }
                                    </label>
                                </div>
                            }

                            <div class="wishlist"><a href="#">Add to Wish List</a></div>
                            <div class="compare"><a href="#">Add to Compare</a></div>
                        </div>
                        <div class="left">
                            <div class="image">
                                <a href="@Url.Action("Index", "Product", new { id = @item.product_id }, null)"><img alt="@item.product_name" title="@item.product_name" src="@Url.Content(item.product_images_01)" height="100" width="100" /></a>
                            </div>
                            <div class="name"><a href="@Url.Action("Index","Product",new{ id = @item.product_id },null)">@item.product_name</a></div>
                            <div class="description">@Truncate((item.product_descripttion) == null ? "" : item.product_descripttion, 70)</div>
                        </div>
                    </div>



                    <!--Product List Start-->

                </div>
            }
            <div class="pagination">
                <div class="results">
                    Showing (
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount )
                    @Html.PagedListPager(Model, page => Url.Action("Index", "Category", new { page, id = ViewBag.categoryid, PageSize = ViewBag.CurrentPageSize,Order = ViewBag.CurrentOrder }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

                </div>
            </div>
    
    </div>
</section>