﻿@model IEnumerable<OnlineJewelleryShopping.Models.product>
<div class="box mb0">
    <div class="box-heading-1"><span>Featured</span></div>
    <div class="box-content-1">
        <div class="box-product-1">
            @foreach(var item in Model)
            {
            <div>
                <div class="image">
                    <a href="@Url.Action("Index", "Product", new { id =@item.product_id })"><img alt="@item.product_name" src="@Url.Content(@item.product_images_01)" height="60" width="60"/></a>
                </div>
                <div class="proName">
                    <div class="name"><a href="@Url.Action("Index", "Product", new { id =@item.product_id })">@item.product_name</a></div>
                    @if (item.product_discount_detail.Count > 0)
                    {
                        <div class="price">
                            @foreach (var dis in item.product_discount_detail)
                            {
                                if (dis.product_discount.product_discount_startdate <= DateTime.Now && dis.product_discount.product_discount_enddate >= DateTime.Now)
                                {
                                    <span  style="text-decoration:line-through">$@item.product_price</span>
                                    <span class="price-new">
                                        @{float pricenew = (float)item.product_price * (float)dis.product_discount.product_discount_amount / 100;}
                                    @{float pricen = (float)item.product_price - pricenew;}
                                    $@string.Format("{0:f}", pricen)
                                </span>
                                }
                            }
                        </div>
                    }
                    else
                    {

                        <div class="price">
                            $@string.Format("{0:f}", @item.product_price) <br>
                        </div>
                    }
                </div>
            </div>
                }
        </div>
    </div>
</div>