﻿@model  IEnumerable<OnlineJewelleryShopping.Models.category>


@{
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}


<script type="text/javascript">
    $(window).load(function () {
        $('#camaccordion').dcAccordion({
            classExpand: 'cid20',
            menuClose: false,
            autoClose: true,
            saveState: false,
            disableLink: true,
            autoExpand: true
        });
    });
</script>
<div id="container">
    <!--Left Part Start-->
    <aside id="column-left">
        <!--Accordian Start-->
        <div class="box">
            <div class="box-heading">Categories</div>
            <div class="box-content">
                <div class="box-category">
                    @{Html.RenderAction("Menu", "Category");}
                </div>
            </div>
        </div>
        <!--Accordian Start-->
        <!--Featured Product Start-->
        @{Html.RenderAction("Featured", "Category");}<script>
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 00,
                    max: 500,
                    values: [22, 500],
                    slide: function (event, ui) {
                        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    },
                    stop: function (event, ui) {
                        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));
                        var from = $("#slider-range").slider("values", 0);
                        var to = $("#slider-range").slider("values", 1);
                        //window.location.href = "http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/product_sort&from=" + from + "&to=" + to;
                        window.location.href = "@Url.Action("PriceRange", "Product")?from=" + from + "&to=" + to;
                    }
                });
                $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));
            });
</script>
        @{Html.RenderAction("pricerangeshow", "Product");}
        <!--Featured Product end-->
        <!--Special Offer Start-->
        @{Html.RenderAction("Advproduct", "Site");}
        <!--Special Offer End-->
    </aside>
    <!--Left Part End-->
                @{Html.RenderAction("Conten", "Category");}
</div>