﻿@model OnlineJewelleryShopping.Models.category
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(input)
    }
    else
    {
        var thisString = input.Substring(0, length);
        @Html.Raw(thisString)
    }
}
<h1>@Model.category_name</h1>

<div class="category-info">
    <div class="image"><img alt="@Model.category_name" title="@Model.category_name" src="@Url.Content(@Model.category_image)" height="100" width="100"></div>
    <p>@Truncate((@Model.category_descripttion) == null ? "" : (@Model.category_descripttion) ,80)</p>
</div>