﻿@model IEnumerable<OnlineJewelleryShopping.Models.category>

<div id="menu">
    <h3 class="menuarrow"><span>Menu</span></h3>
    <ul>
        @foreach(var category in Model)
        {
        <li>
            @if(category.category_parent == null)
            {
            @Html.ActionLink(category.category_name, "Index", "Category", new {id = category.category_id },null)
            }
            <div>
                    
                <ul>
                    @foreach(var child in category.category1)
                    {
                    <li>@Html.ActionLink(child.category_name, "Index", "Category", new { id = child.category_id }, null) 
                        
                    </li>
                    }
                </ul>
                    
            </div>
        </li>
        }
    </ul>
</div>