﻿@model OnlineJewelleryShopping.Models.banner

@{
    ViewBag.Title = "Details";
}
@{

    ViewBag.PageHeading = "Detail Banner";
}
<div id="table-content">
    <table width="100%" id="table-form">
        <tr align="left">
            <th width="100px">Url</th>
            <td>@Html.DisplayFor(model => model.banner_url)</td>
        </tr>
        <tr align="left">
            <th>Image</th>
            <td><img src="@Url.Content(Model.banner_image)" alt="" style="max-width:930px;"/></td>
        </tr>
        <tr><th colspan="2">@Html.ActionLink("Edit", "Edit", new { id = Model.banner_id }) |
        @Html.ActionLink("Back to List", "Index")</th></tr>
    </table>
</div>