﻿@model OnlineJewelleryShopping.Areas.Admin.Models.BannerModel

@{
    ViewBag.Title = "Edit";
}
@{

    ViewBag.PageHeading = "Edit Banner";
}
<div id="table-content">
@using (Html.BeginForm("Edit", "Banner", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table width="100%" id="table-form">
        <tr align="left">
            @Html.HiddenFor(m => m.banner_id)
            <th width="100px">Url</th>
            <td>@Html.TextBoxFor(m => m.banner_url, new { id = "banner_url" }) @Html.ValidationMessageFor(m => m.banner_url)</td>
        </tr>
        <tr>
            <th width="100px" align="left" valign="top">Image</th>
            <td>
                @Html.TextBoxFor(m => m.banner_image, new { id = "banner_image", @readonly = "readonly" })
                <input type="button" name="name" value="Browse Server" onclick="BrowseServerFileAndSetImage('banner_image', 'imgPreview');" />
                @Html.ValidationMessageFor(m => m.banner_image)
                <br />
                <img src="@Url.Content(Model.banner_image)" alt="" style="max-width:930px;" id="imgPreview" />
            </td>
        </tr>
        <tr><th colspan="2"><input type="submit" value="Save" /> @Html.ActionLink("Back to List", "Index")</th></tr>
    </table>
}
</div>
