﻿@model OnlineJewelleryShopping.Models.term_and_conditional

@{
    ViewBag.Title = "Edit Term and conditional infomation";
}
@{
    ViewBag.PageHeading = "Edit Term and conditional infomation";

}
@using (Html.BeginForm("Edit", "TermAndConditional", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.TextAreaFor(model => model.term_and_conditional_conten, new { @class = "ckeditor" })
    <br />
    <br />
    <div class="clear"></div>
    <p align="center" style="font-weight:bold;">
        <input type="submit" value="Save" />@Html.ActionLink("Back to view content", "Index")
    </p>
}
