﻿@model OnlineJewelleryShopping.Models.term_and_conditional

@{
    ViewBag.Title = "Term and Conditional Infomation";
}
@{
    ViewBag.PageHeading = "Term and Conditional Infomation";
}


<div id="table-content">
    @if (Model != null && Model.term_and_conditional_conten != null)
    {
        @Html.Raw(Model.term_and_conditional_conten)
    }
    else
    {
        <p>No data</p>
    }

</div>
<p align="center" style="font-weight:bold;">
    @Html.ActionLink("Edit Content", "Edit", "TermAndConditional", new { area = "Admin" }, new { @class = "btn" })
</p>