﻿@model OnlineJewelleryShopping.Models.about_us

@{
    ViewBag.Title = "Edit About infomation";
}
@{
    ViewBag.PageHeading = "Edit About infomation";

}
@using (Html.BeginForm("Edit", "AboutUs", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.TextAreaFor(model => model.about_us_conten, new { @class = "ckeditor" })
    <br />
    <br />
    <div class="clear"></div>
    <p align="center" style="font-weight:bold;">
        <input type="submit" value="Save" /> @Html.ActionLink("Back to List", "Index")
    </p>
}
