﻿@model OnlineJewelleryShopping.Areas.Admin.Models.ContactUsModel

@{
    ViewBag.Title = "Edit Contact";
    ViewBag.PageHeading = "Edit Contact";
}

<div id="table-content">
    <table width="100%" cellspacing="20" cellpadding="20" id="table-from">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.contact_us_id)
            <tr>
                <th width="100px" align="left" scope="row">
                    Full Name
                </th>
                <td>
                    @Html.TextBoxFor(model => model.contact_us_fullname)
                    @Html.ValidationMessageFor(model => model.contact_us_fullname)
                </td>
            </tr>
            <tr>
                <th width="100px" align="left" scope="row">
                    Phone
                </th>
                <td>
                    @Html.TextBoxFor(model => model.contact_us_phone)
                    @Html.ValidationMessageFor(model => model.contact_us_phone)
                </td>
            </tr>
            <tr>
                <th width="100px" align="left" scope="row">
                    Email
                </th>
                <td>
                    @Html.TextBoxFor(model => model.contact_us_email)
                    @Html.ValidationMessageFor(model => model.contact_us_email)
                </td>
            </tr>
            <tr>
                <th width="100px" align="left" scope="row">
                    Enquiry
                </th>
                <td>
                    @Html.ValidationMessageFor(model => model.contact_us_enquiry)
                    <br />
                    @Html.TextAreaFor(model => model.contact_us_enquiry, new { cols = "100", rows = "10" })
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value="Save" />
                    @Html.ActionLink("Back to List", "Index")
                </th>
            </tr>
        }
    </table>
</div>







