﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.contact_us>
@using PagedList.Mvc

@{
    ViewBag.Title = "List Contacts";
    ViewBag.PageHeading = "List Contacts";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<form action="" method="get">
    <p>

        Search :
        <input type="text" class="cboFilter" name="Keyword" value="@ViewBag.KeyWord" placeholder="Enter key word to search..." height="30px" />
        Filter:
        <select name="Filter" class="Filter">
            <option value="All" @Html.Raw(ViewBag.Filter == "All" ? "selected" : "")>All</option>
            <option value="Name" @Html.Raw((ViewBag.Filter == "Name" ? "selected" : ""))>Name</option>
            <option value="Enquiry" @Html.Raw((ViewBag.Filter == "Enquiry" ? "selected" : ""))>Enquiry</option>
        </select>
        Order: 
        <select name="Order" class=" cboFilter">
            <option value="asc" @Html.Raw((ViewBag.Order == "asc" ? "selected" : ""))>Ascending</option>
            <option value="desc" @Html.Raw((ViewBag.Order == "desc" ? "selected" : ""))>Descending</option>
        </select>
        <input type="submit" value="Filter" />

    </p>
</form>
<br />
<form id="mainform" method="post">
    <div id="table-content">

        <table id="product-table" width="100%">
            <tr>
                <th class="table-header-check"><a id="toggle-all"></a></th>
                <th class="table-header-repeat line-left"><a href="">Full Name</a></th>
                <th class="table-header-repeat line-left"><a href="">Phone</a></th>
                <th class="table-header-repeat line-left"><a href="">Email</a></th>
                <th class="table-header-repeat line-left"><a href="">Enqiury</a></th>
                <th class="table-header-repeat line-left"><a href="">Func.</a></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="@item.contact_us_id" />
                    </td>
                    <td>
                        @item.contact_us_fullname
                    </td>
                    <td>
                        @item.contact_us_phone
                    </td>
                    <td>
                        @item.contact_us_email
                    </td>
                    <td>
                        @item.contact_us_enquiry
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.contact_us_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.contact_us_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.contact_us_id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="actions-box"><input type="submit" value="Delete" onclick="javascript: return confirm('Are you sure to delete ?');" /></div>
</form>
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/Contacts/Index?Order=@ViewBag.Order&Filter=@ViewBag.Filter&Keyword=@ViewBag.Keyword&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/Contacts/Index?Order=@ViewBag.Order&Filter=@ViewBag.Filter&Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/Contacts/Index?SortOrder=@ViewBag.CurrentSort&Filter=@ViewBag.Filter&Keyword=@ViewBag.SearchName&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/Contacts/Index?SortOrder=@ViewBag.CurrentSort&Filter=@ViewBag.Filter&Keyword=@ViewBag.SearchName&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>
<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString())) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/Contacts/Index?Order=@ViewBag.Order&Keyword=@ViewBag.Keyword&Filter=@ViewBag.Filter&PageNumber=" + textarea.value;
                }
            }
        }
    </script>
}
