﻿@model IEnumerable<OnlineJewelleryShopping.Models.advertise>
<div id="banner0" class="banner">
    @foreach(var adv in Model)
    {
        if(adv.advertise_name.Equals("center"))
        {
    <div style="display:block;"><a href="@adv.advertise_url"><img src="@Url.Content(adv.advertise_image)" alt="" title="" /></a></div>
        }
        }
</div>