﻿@model IEnumerable<OnlineJewelleryShopping.Models.advertise>
<div class="banner" id="banner0">
@foreach(var adv in Model)
    {
        if(adv.advertise_name.Equals("advproduct"))
        {
    <div style="display:block;"><a href="@adv.advertise_url"><img title="@adv.advertise_name" alt="@adv.advertise_name" src="@Url.Content(@adv.advertise_image)"></a></div>
        }
        }
    </div>