﻿@model IEnumerable<OnlineJewelleryShopping.Models.banner>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider();
    });
</script>
<div class="flexslider">
    <ul class="slides">
        @foreach (var item in Model)
        {
        <li><a href="@item.banner_url"><img src="@item.banner_image" alt="Banner" /></a></li>
        }
    </ul>
</div>
