﻿<div id="footer">
    <div class="column">
        <h3>Information</h3>
        <ul>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Delivery Information", "DeliveryInformation", "Home")</li>
            <li>@Html.ActionLink("Privacy Policy", "Parivacy", "Home")</li>
            <li>@Html.ActionLink("Terms &amp; Conditions", "Parivacy", "Home")</li>
        </ul>
    </div>
    <div class="column">
        <h3>Customer Service</h3>
        <ul>
            <li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
            <li>@Html.ActionLink("Returns", "Index", "Home")</li>
            <li>@Html.ActionLink("Site Map", "Index", "Home")</li>
        </ul>
    </div>
    <div class="column">
        <h3>Extras</h3>
        <ul>
            <li>@Html.ActionLink("Brands", "Index", "Home")</li>
            <li>@Html.ActionLink("Gift Vouchers", "Index", "Home")</li>
            <li>@Html.ActionLink("Affiliates", "Index", "Home")</li>
            <li>@Html.ActionLink("Specials", "Index", "Home")</li>
        </ul>
    </div>
    <div class="column">
        <h3>My Account</h3>
        <ul>
            <li>@Html.ActionLink("My Account", "Index", "Account")</li>
            <li>@Html.ActionLink("Order History", "OrderHistory", "Account")</li>
            <li>@Html.ActionLink("Wish List", "WishList", "Account")</li>
            <li>@Html.ActionLink("Newsletter", "Index", "Home")</a></li>
        </ul>
    </div>
</div>