﻿<div class="box-heading-1"><span>Your Recently Viewed Items</span></div>
<br />
<div id="carousel0">
    <ul class="jcarousel-skin-opencart">
        <li><a href="#"><img src="" alt="" title="" /></a></li>
        <li><a href="#"><img src="" alt="" title="" /></a></li>
        <li><a href="#"><img src="" alt="" title="" /></a></li>
        <li><a href="#"><img src="" alt="" title="" /></a></li>
        <li><a href="#"><img src="" alt="" title="" /></a></li>
        <li><a href="#"><img src="" alt="" title="" /></a></li>
    </ul>
</div>