﻿@using (Html.BeginForm("SearchByName", "Product",FormMethod.Get))
{
    <div id="search">
        <div class="button-search"></div>
        <input type="text" class="ac_input"  name="Keyword" id="Keyword" placeholder="Search" value="" />
    </div>
}