﻿@model OnlineJewelleryShopping.Areas.Admin.Models.ContactUsModel

@{
    ViewBag.Title = "Create Contact"; ViewBag.PageHeading = "Create Contact";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="200px" align="left" scope="row">Full Name :</th>
                <td>@Html.TextBoxFor(m => m.contact_us_fullname) @Html.ValidationMessageFor(m => m.contact_us_fullname) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Phone :</th>
                <td>@Html.TextBoxFor(m => m.contact_us_phone) @Html.ValidationMessageFor(m => m.contact_us_phone)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Email:</th>
                <td>@Html.TextBoxFor(m => m.contact_us_email) @Html.ValidationMessageFor(m => m.contact_us_email)</td>
            </tr>
            <tr>
                <th align="left" scope="row" valign="top">Enquiry :</th>
                <td>
                    @Html.ValidationMessageFor(m => m.contact_us_enquiry)
                    <br />
                    @Html.TextAreaFor(m => m.contact_us_enquiry, new { rows = "10", cols ="100"})
                </td>
            </tr>
            <tr>
                <th align="center" colspan="2">
                    <input type="submit" name="Submit" value="Create" />
                    @Html.ActionLink("Back to list", "Index")
                </th>
            </tr>
        </table>
    </div>
}
<div class="clear"></div>
