﻿@model OnlineJewelleryShopping.Models.contact_us

@{
    ViewBag.Title = "Delete Contact";
    ViewBag.PageHeading = "Delete Contact";
}

<div id="table-content">
    <h4>Are you sure to delete this contact ?</h4>
    <table width="100%" cellspacing="20" cellpadding="20" id="table-from">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.contact_us_id)
            <tr>
                <th width="100px" align="left" scope="row">
                    Full Name
                </th>
                <td>
                    @Model.contact_us_fullname
                </td>
            </tr>
            <tr>
                <th width="100px" align="left" scope="row">
                    Phone
                </th>
                <td>
                    @Model.contact_us_phone
                </td>
            </tr>
            <tr>
                <th width="100px" align="left" scope="row">
                    Email
                </th>
                <td>
                    @Model.contact_us_email

                </td>
            </tr>
            <tr>
                <th width="100px" align="left" scope="row">
                    Date added:
                </th>
                <td>
                    @Model.contact_us_date

                </td>
            </tr>
            <tr>
                <th width="100px" align="left" scope="row">
                    Enquiry
                </th>
                <td>
                    @Model.contact_us_enquiry
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Delete" />
                    @Html.ActionLink("Back to List", "Index")
                </td>
            </tr>
        }
    </table>
</div>







