﻿@model OnlineJewelleryShopping.Models.contact_us

@{
    ViewBag.Title = "Contact Details";
    ViewBag.PageHeading = "Contact Details";
}

<div id="table-content">
    <table width="100%" cellspacing="20" cellpadding="20" id="table-from">
        <tr>
            <th width="100px" align="left" scope="row">
                Full Name
            </th>
            <td>
                @Model.contact_us_fullname
            </td>
        </tr>
        <tr>
            <th width="100px" align="left" scope="row">
                Phone
            </th>
            <td>
                @Model.contact_us_phone
            </td>
        </tr>
        <tr>
            <th width="100px" align="left" scope="row">
                Email
            </th>
            <td>
                @Model.contact_us_email
            </td>
        </tr>
        <tr>
            <th width="100px" align="left" scope="row">
                Date added
            </th>
            <td>
                @Model.contact_us_date
            </td>
        </tr>
        <tr>
            <th width="100px" align="left" scope="row">
                Enquiry
            </th>
            <td>
                @Model.contact_us_enquiry
            </td>
        </tr>

        <tr>
            <td colspan="2">@Html.ActionLink("Edit", "Edit", new { id = Model.contact_us_id }) @Html.ActionLink("Bact to list", "Index") </td>
        </tr>
    </table>
</div>







