﻿<div id="message-green">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="green-left">@ViewBag.MessageGreen</td>
            <td class="green-right"><a class="close-green"><img src="~/Areas/Admin/Content/images/table/icon_close_green.gif" alt="" /></a></td>
        </tr>
    </table>
</div>