﻿<div id="message-yellow">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="yellow-left">@ViewBag.MessageYellow</td>
            <td class="yellow-right"><a class="close-yellow"><img src="~/Areas/Admin/Content/images/table/icon_close_yellow.gif" alt="" /></a></td>
        </tr>
    </table>
</div>