﻿<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="" class="page-far-left"></a>
            <a href="" class="page-left"></a>
            <div id="page-info">Page <strong>1</strong> / 15</div>
            <a href="" class="page-right"></a>
            <a href="" class="page-far-right"></a>
        </td>
        <td>
            <select class="styledselect_pages">
                <option value="">Number of rows</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </td>
    </tr>
</table>