﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.product>
@using PagedList.Mvc

@{
    ViewBag.Title = "Edit product in Order ";
    ViewBag.PageHeading = "Edit product in Order ";
}

<br />
<form action="" method="get">
    <p><strong>Select product to remove to order  </strong></p>
    <br />
    <p>
        Search :
        <input type="text" class="cboFilter" name="Keyword" value="@ViewBag.KeyWord" placeholder="Enter key word to search..." height="30px" />
        Brand :
        <select name="Brand">
            @foreach (SelectListItem b in ViewBag.Brands)
            {
                <option value="@b.Value" @if (ViewBag.CurrentBrand == b.Value) { @Html.Encode("selected")  }>@b.Text</option>
            }
        </select>

        Category :
        <select name="Category">
            @foreach (SelectListItem b in ViewBag.Categories)
            {
                <option value="@b.Value" @if (ViewBag.CurrentCategory == b.Value) { @Html.Encode("selected")   }>@b.Text</option>
            }
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<br />
<form id="mainform" method="post">
    <div id="table-content">

        <table id="product-table" width="100%">
            <tr>
                @*<th class="table-header-check"><a id="toggle-all"></a></th>*@
                <th class="table-header-repeat line-left" width="45px"><a>Quan.</a></th>
                <th class="table-header-repeat line-left"><a>Image</a></th>
                <th class="table-header-repeat line-left"><a>Name</a></th>
                <th class="table-header-repeat line-left"><a>Price</a></th>
                <th class="table-header-repeat line-left"><a>Quantity</a></th>
                <th class="table-header-repeat line-left"><a>Option</a></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            <input type="checkbox" name="@item.product_id" />
                        </td>*@
                    <td>
                        <input type="number" min="0" max="@item.product_quantity" required name="@Html.Raw(item.product_id)" value="@item.orders_detail.First(m => m.orders_id == ViewBag.ID).orders_detail_quantity" style="width:35px;" />
                    </td>
                    <td align="center" valign="bottom">
                        <img src="@Url.Content(item.product_images_01)" width="50px" height="50px" alt="" />
                    </td>
                    <td>
                        @item.product_name
                    </td>
                    <td>
                        $@string.Format("{0:F}", item.product_price)
                    </td>
                    <td>
                        @item.product_quantity
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Products", new { id = item.product_id }, null) |
                        @Html.ActionLink("Details", "Details", new { id = item.product_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.product_id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="actions-box">
        <input type="submit" value="Submit" />
        @Html.ActionLink("Add Product to Order", "AddProduct", new {id = ViewBag.CurrentID }) <span> | </span>
        @Html.ActionLink("Back to list order", "Index")
    </div>
</form>
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/SaleOff/AddProduct/@ViewBag.CurrentID?Keyword=@ViewBag.Keyword&Brand=@ViewBag.CurrentBrand&Category=@ViewBag.CurrentCategory&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/SaleOff/AddProduct/@ViewBag.CurrentID?Keyword=@ViewBag.Keyword&Brand=@ViewBag.CurrentBrand&Category=@ViewBag.CurrentCategory&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/SaleOff/AddProduct/@ViewBag.CurrentID?Keyword=@ViewBag.Keyword&Brand=@ViewBag.CurrentBrand&Category=@ViewBag.CurrentCategory&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/SaleOff/AddProduct/@ViewBag.CurrentID?Keyword=@ViewBag.KeyWord&Brand=@ViewBag.CurrentBrand&Category=@ViewBag.CurrentCategory&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>
<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString()) || parseInt(textarea.value) < 1) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/SaleOff/AddProduct/@ViewBag.CurrentID?Keyword=@ViewBag.Keyword&Brand=@ViewBag.CurrentBrand&Category=@ViewBag.CurrentCategory&PageNumber=" + textarea.value;
                }
            }
        }

    </script>
}
