﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Models.order>
@using PagedList.Mvc

@{
    ViewBag.Title = "List Order";
    ViewBag.PageHeading = "List Order";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<form action="" method="get" id="frmFilter">
    <p>
        Status: 
        <select name="Status" onchange="document.getElementById('frmFilter').submit();">
            <option value="All" @if (ViewBag.CurrentStatus == "All") { @Html.Encode("selected") }>All</option>
            <option value="Done" @if (ViewBag.CurrentStatus == "Done") { @Html.Encode("selected") }>Done</option>
            <option value="Shipping" @if (ViewBag.CurrentStatus == "Shipping") { @Html.Encode("selected") }>Shipping</option>
            <option value="Pending" @if (ViewBag.CurrentStatus == "Pending") { @Html.Encode("selected") }>Pending</option>
            <option value="Cancel" @if(ViewBag.CurrentStatus == "Cancel"){@Html.Encode("selected")}>Cancel</option>
        </select>
        <br />
        Search: 
        <input type="text" class="cboFilter" name="Keyword" value="@ViewBag.KeyWord" placeholder="Enter key word to search..." height="30px" />
        Filter: 
        <select name="Filter">
            <option value="All" @if (@ViewBag.CurentFilter == "All") { @Html.Encode("selected")   }>All</option>
            <option value="CustomerName" @if (@ViewBag.CurentFilter == "CustomerName") { @Html.Encode("selected")   }>Customer Name</option>
            <option value="CustomerAddress" @if (@ViewBag.CurentFilter == "CustomerAddress") { @Html.Encode("selected")  }>Customer Address</option>
        </select>
        <input type="submit" value="Filter" />

    </p>
</form>
<br />
@*<form id="mainform" method="post">*@
    <div id="table-content">

        <table id="product-table" width="100%">
            <tr>
                @*<th class="table-header-check"><a id="toggle-all"></a></th>*@
                <th class="table-header-repeat line-left" width="45px"><a href="">ID</a></th>
                <th class="table-header-repeat line-left"><a href="">Name</a></th>
                <th class="table-header-repeat line-left"><a href="">Address</a></th>
                <th class="table-header-repeat line-left"><a href="">Ship Address</a></th>
                <th class="table-header-repeat line-left"><a href="">Total</a></th>
                <th class="table-header-repeat line-left"><a href="">Status</a></th>
                <th class="table-header-repeat line-left" width="200px"><a href="">Option</a></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        <input type="checkbox" name="@item.product_discount_id" />
                    </td>*@
                    <td>
                        @item.orders_id
                    </td>
                    <td>
                        @item.billing_firstname @item.billing_lastname
                    </td>
                    <td>
                        @item.billing_address1 
                    </td>
                    <td>
                        @item.shipping_address1
                    </td>
                    <td>
                        $@string.Format("{0:F}",item.orders_total)
                    </td>
                    <td>
                        <select onchange="javascript: return ChangeStatus(@item.orders_id);" class="cboStatus" id="@Html.Raw("cboStatus"+item.orders_id)">
                            <option value="Done" @if (item.orders_status == "Done") { @Html.Encode("selected")  }>Done</option>
                            <option value="Shipping" @if (item.orders_status == "Shipping")
                                                     { @Html.Encode("selected")  }>Shipping</option>
                            <option value="Pending" @if (item.orders_status == "Pending")
                                                    { @Html.Encode("selected")  }>Pending</option>
                            <option value="Cancel" @if (item.orders_status == "Cancel")
                                                   { @Html.Encode("selected") }>Cancel</option>
                        </select>
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.orders_id }) <span> | </span>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.orders_id })*@
                        @if (item.orders_status == "Pending")
                        {
                            <span> | </span> @Html.ActionLink("Add Product", "AddProduct", new { id = item.orders_id })
                            <span> | </span> @Html.ActionLink("Edit Product", "EditProduct", new { id = item.orders_id })
                        }
                        @if (item.orders_status == "Pending" || item.orders_status == "Cancel" || item.orders_status == "Shipping")
                        {
                            <span> | </span>   @Html.ActionLink("Delete", "Delete", new { id = item.orders_id }, new { onclick = "return confirm('Are you sure to delete ?');" })
                        }

                    </td>


                </tr>
            }

        </table>
    </div>
    @*<div id="actions-box"><input type="submit" value="Delete" onclick="javascript: return confirm('Are you sure to delete ?');" /></div>
</form>*@
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/Orders/Index?Keyword=@ViewBag.Keyword&Filter=@ViewBag.CurrentFilter&Status=@ViewBag.CurrentStatus&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/Orders/Index?Keyword=@ViewBag.Keyword&Filter=@ViewBag.CurrentFilter&Status=@ViewBag.CurrentStatus&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/Orders/Index?Keyword=@ViewBag.Keyword&Filter=@ViewBag.CurrentFilter&Status=@ViewBag.CurrentStatus&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/Orders/Index?Keyword=@ViewBag.Keyword&Filter=@ViewBag.CurrentFilter&Status=@ViewBag.CurrentStatus&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>
<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString()) || parseInt(textarea.value) < 1) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/Orders/Index?Keyword=@ViewBag.Keyword&Filter=@ViewBag.CurrentFilter&Status=@ViewBag.CurrentStatus&PageNumber=" + textarea.value;
                }
            }
        }
        function ChangeStatus(id) {
            var newst = document.getElementById('cboStatus'+id).value;
            if (confirm("Are you sure to change status to " + newst+ " ?" )) {
                location.href = "/Admin/Orders/ChangeStatus/"+id+"?NewStatus="+newst+"&returnurl=/Admin/Orders/Index?Keyword=@ViewBag.Keyword&Filter=@ViewBag.CurrentFilter&Status=@ViewBag.CurrentStatus&PageNumber=@Model.PageCount";
            }
        }
    </script>
}
