﻿@{
    Layout = null;
    
}

<table id="product-table" width="100%">
    <tr>
        <th class="table-header-repeat line-left" width="45px"><a>ID</a></th>
        <th class="table-header-repeat line-left"><a>Image</a></th>
        <th class="table-header-repeat line-left"><a>Name</a></th>
        <th class="table-header-repeat line-left"><a>Quantity</a></th>
        <th class="table-header-repeat line-left"><a>Price</a></th>
        <th class="table-header-repeat line-left"><a>Total</a></th>
    </tr>

    @foreach (var item in ViewBag.Model)
    {
        <tr>
            <td>
                @item.id
            </td>
            <td align="center" valign="bottom">
                <img src="@Url.Content(item.image)" width="50px" height="50px" alt="" />
            </td>
            <td>
                @item.name
            </td>
            <td>
                @item.quantity
            </td>
            <td>
                @if (item.discount != null & item.discount > 0)
                {
                    <strike>
                        <span>$</span>@Html.Encode(string.Format("{0:F}", item.price))
                    </strike>
                    <br/>
                     <span>$</span>@Html.Encode(string.Format("{0:F}", item.price - item.price*item.discount/100))

                }
                else
                {
                    <span>$</span> @Html.Encode(string.Format("{0:F}", (item.price - item.price * item.discount / 100) * item.quantity))
                }

            </td>
            <td>
               $ @Html.Encode(string.Format("{0:F}", item.price))
            </td>
        </tr>
    }
    <tr>
        <td align="right" style="font-weight:bold;" valign="top" colspan="6">
            VAT: @Html.Encode(string.Format("{0:F}", ViewBag.VAT))
            <br />
            <br />
            Total: $ @string.Format("{0:F}", ViewBag.OrderTotal)
        </td>
    </tr>
</table>