﻿@model OnlineJewelleryShopping.Areas.Admin.Models.CategoryModel

@{
    ViewBag.Title = "Create category"; ViewBag.PageHeading = "Create category";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="200px" align="left" scope="row">Name :</th>
                <td>@Html.TextBoxFor(m => m.category_name) @Html.ValidationMessageFor(m => m.category_name) </td>
            </tr>
            <tr>
                <th align="left" scope="row">Image :</th>
                <td>@Html.TextBoxFor(m => m.category_image, new { @readonly = "readonly", id = "category_image" }) <input type="button" name="name" value="Browse Server" onclick="BrowseServerFile('category_image');" /> @Html.ValidationMessageFor(m => m.category_image)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Parent Category :</th>
                <td>@Html.DropDownListFor(m => m.category_parent, (SelectList)ViewBag.TopCategory)</td>
            </tr>
            <tr>
                <th align="left" scope="row">Description :</th>
                <td>@Html.TextAreaFor(m => m.category_descripttion, new { @class = "ckeditor" })</td>
            </tr>
            <tr><td align="left" colspan="2"><input type="submit" name="Submit" value="Submit" />  @Html.ActionLink("Back to list", "Index")</td></tr>
        </table>
    </div>
}
<div class="clear"></div>