﻿@model OnlineJewelleryShopping.Models.category

@{
    ViewBag.Title = "Delete category"; ViewBag.PageHeading = "Delete category";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.category_id)
    <div id="table-content">
        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-form">
            <tr>
                <th width="200px" align="left" scope="row">Name :</th>
                <td>@Model.category_name</td>
            </tr>
            <tr>
                <th align="left" scope="row">Image :</th>
                <td> <img src="@Model.category_image" alt="" style="max-width: 200px; max-height: 200px;" /></td>
            </tr>
            @if (Model.category_parent != null)
                {
                    <tr>
                        <th align="left" scope="row">Parent Category :</th>
                        <td>Parent @ViewBag.Category1</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th align="left" scope="row">Child Category :</th>
                        <td>Sub @ViewBag.Category1*</td>
                    </tr>
                }
            <tr>
                <th align="left" scope="row">Number of product :</th>
                <td>@ViewBag.NumberOfProduct</td>
            </tr>
            <tr>
                <th align="left" scope="row">Description :</th>
                <td>@Html.Raw(Model.category_descripttion)</td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (!(Model.products.Count() > 0 || Model.product_discount_detail.Count() > 0))
                    {
                        <input type="submit" name="name" value="Delete" />
                    }
                    else
                    {
                        <h3>You can not delete this category because it have product or saleoff references to</h3>
                    }
                    @Html.ActionLink("Back to list", "Index")
                </td>
            </tr>
        </table>
    </div>
}

<div class="clear"></div>