﻿@model PagedList.IPagedList<OnlineJewelleryShopping.Areas.Admin.Models.CategoryModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "List Category";
    ViewBag.PageHeading = "List Category";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<form action="" method="get">
    <p>

        Search :
        <input type="text" class="cboFilter" name="Keyword" value="@ViewBag.KeyWord" placeholder="Enter key word to search..." height="30px" />
        Order:
        <select name="Order" class=" cboFilter">
            <option value="asc" @Html.Raw((ViewBag.Order == "asc" ? "selected" : ""))>Ascending</option>
            <option value="desc" @Html.Raw((ViewBag.Order == "desc" ? "selected" : ""))>Descending</option>
        </select>
        <input type="submit" value="Filter" />

    </p>
</form>
<br />
<form id="mainform" method="post">
    <div id="table-content">

        <table id="product-table" width="100%">
            <tr>
                <th class="table-header-check"><a id="toggle-all"></a></th>
                <th class="table-header-repeat line-left" width="70px"><a href="">Image</a></th>
                <th class="table-header-repeat line-left"><a href="">Name</a></th>
                <th class="table-header-repeat line-left" width="200px"><a href="">Function</a></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @using (var ctx = new OnlineJewelleryShopping.Models.OnlineJewelleryStoreEntities())
                        {
                            if (ctx.products.Where(m => m.category_id == item.category_id).Count() == 0)
                            {
                                <input type="checkbox" name="@item.category_id" />
                            }
                        }

                    </td>

                    <td align="center" valign="bottom">
                        <img src="@Url.Content(item.category_image)" alt="" width="50px" height="50px" />
                    </td>
                    <td>
                        @Html.Raw(item.category_name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.category_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.category_id }) 
                        @if (item.IsDelete)
                        {
                         <span> | </span>   @Html.ActionLink("Delete", "Delete", new { id = item.category_id })
                        }

                    </td>

                </tr>
            }

        </table>
    </div>
    <div id="actions-box"><input type="submit" value="Delete" onclick="javascript: return confirm('Are you sure to delete ?');" /></div>
</form>
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="/Admin/Categories/Index?Order=@ViewBag.Order&Keyword=@ViewBag.Keyword&PageNumber=1" class="page-far-left"></a>
            <a href="/Admin/Categories/Index?Order=@ViewBag.Order&Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == 1 ? 1 : Model.PageNumber - 1).ToString())" class="page-left"></a>
            <div id="page-info">Page <strong>@Model.PageNumber</strong> / @Model.PageCount</div>
            <a href="/Admin/Categories/Index?Order=@ViewBag.Order&Keyword=@ViewBag.Keyword&PageNumber=@Html.Raw((Model.PageNumber == Model.PageCount ? Model.PageCount : Model.PageNumber + 1).ToString())" class="page-right"></a>
            <a href="/Admin/Categories/Index?SortOrder=Order=@ViewBag.Order&Keyword=@ViewBag.Keyword&PageNumber=@Model.PageCount" class="page-far-right"></a>
            <input type="number" name="PageNumber" value="" max="@Model.PageCount" min="1" style="width:50px;" onkeypress="enterpressalert(event, this);" />
        </td>
    </tr>
</table>
<div class="clear"></div>
@section Scripts{
    <script>
        function enterpressalert(e, textarea) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                if (textarea.value == "" || parseInt(textarea.value) > parseInt(@Model.PageCount.ToString())) {
                    alert('Please enter a number in the range of total page.Max page number is @Model.PageCount .');
                } else {
                    location.href = "/Admin/Categories/Index?Order=@ViewBag.Order&Keyword=@ViewBag.Keyword&PageNumber=" + textarea.value;
                }
            }
        }
    </script>
}
