﻿@model OnlineJewelleryShopping.Models.order
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}
@if (Session["customer"] == null)
{


    Response.Redirect(Url.RouteUrl(new { controller = "Account", action = "Index" }));

}
@if (!Request.Cookies.AllKeys.Contains("cart"))
{
    Response.Redirect(Url.RouteUrl(new { controller = "Home", action = "Index" }));
}
    @*@if (Session["addcart"] == null)
        {
            Response.Redirect(Url.RouteUrl(new { controller = "Home", action = "Index" }));
        }*@
    @*@if (ViewBag.check == null)
        {

            Response.Redirect(Url.RouteUrl(new { controller = "Home", action = "Index" }));
        }*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/checkout.css")" />
    <script language="JavaScript">
        // <!--
        function shipsame(form) {

            if (form.samebilling.checked) {

                form.txtfirstname_ship.value = form.txtfirstname.value;
                form.txtlastname_ship.value = form.txtlastname.value;
                form.txtcompany_ship.value = form.txtcompany.value;
                form.txtaddress1_ship.value = form.txtaddress1.value;
                form.txtaddress2_ship.value = form.txtaddress2.value;
                form.txtcity_ship.value = form.txtcity.value;
                form.txtstate_ship.value = form.txtstate.value;
                form.txtzipcode_ship.value = form.txtzipcode.value;
                form.shipping_country.selectedIndex = form.billing_country.selectedIndex;
                form.txtphone_ship.value = form.txtphone.value;

            }
            else {
                form.txtfirstname_ship.value = "";
                form.txtlastname_ship.value = "";
                form.txtcompany_ship.value = "";
                form.txtaddress1_ship.value = "";
                form.txtaddress2_ship.value = "";
                form.txtcity_ship.value = "";
                form.txtstate_ship.value = "";
                form.txtzipcode_ship.value = "";
                form.txtphone_ship.value = "";
            }
        }
        //-->
    </script>

    <script type="text/javascript">
<!--
$(document).ready(function() {
	if ($.browser.msie && $.browser.version == 6) {
		$('.date, .datetime, .time').bgIframe();
	}

	$('.date').datepicker({dateFormat: 'yy-mm-dd'});
	$('.datetime').datetimepicker({
		dateFormat: 'yy-mm-dd',
		timeFormat: 'h:m'
	});
	$('.time').timepicker({timeFormat: 'h:m'});
});

//zoom on link click
$(".cloud-zoom-gallery").click(function (){
    $('#zoom_image').attr('href',$(this).attr('href'));
});
//--></script>
    <div id="content">


        @using (Html.BeginForm())
        {
            <table width="100%" border="0">
                <tr>
                    <td>
                        <h1>Billing Details</h1>
                        <table class="form">
                            <tbody>
                                <tr>
                                    <td><span class="required">*</span> First Name:</td>
                                    <td><input type="text" required value="@ViewBag.view1" name="txtfirstname"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> Last Name:</td>
                                    <td><input type="text" required value="@ViewBag.view2" name="txtlastname"></td>
                                </tr>

                                <tr>
                                    <td><span class="required"></span> Company:</td>
                                    <td><input type="text" value="@ViewBag.view3" name="txtcompany"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> Address1:</td>
                                    <td><input type="text" required value="@ViewBag.view4" name="txtaddress1"></td>
                                </tr>
                                <tr>
                                    <td><span class="required"></span> Address2:</td>
                                    <td><input type="text" value="@ViewBag.view5" name="txtaddress2"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> City:</td>
                                    <td><input type="text" required value="@ViewBag.view6" name="txtcity"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> State:</td>
                                    <td><input type="text" required value="@ViewBag.view7" name="txtstate"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> Zipcode:</td>
                                    <td><input type="text" required value="@ViewBag.view8" name="txtzipcode"></td>
                                </tr>

                                <tr>
                                    <td><span class="required">*</span> Country:</td>
                                    <td>@Html.DropDownListFor(m => m.billing_country, (SelectList)ViewBag.CountryList) </td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> Telephone:</td>
                                    <td><input type="text" required value="@ViewBag.view10" name="txtphone"></td>
                                </tr>


                            </tbody>
                        </table>
                    </td>

                    <td>
                        <h1>Delivery Details</h1>
                        <table class="form">
                            <tbody>
                                <tr>
                                    <td><span class="required">*</span> First Name:</td>
                                    <td><input type="text" required value="" name="txtfirstname_ship"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> Last Name:</td>
                                    <td><input type="text" required value="" name="txtlastname_ship"></td>
                                </tr>

                                <tr>
                                    <td><span class="required"></span> Company:</td>
                                    <td><input type="text" value="" name="txtcompany_ship"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> Address1:</td>
                                    <td><input type="text" required value="" name="txtaddress1_ship"></td>
                                </tr>
                                <tr>
                                    <td><span class="required"></span> Address2:</td>
                                    <td><input type="text" value="" name="txtaddress2_ship"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> City:</td>
                                    <td><input type="text" required value="" name="txtcity_ship"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> State:</td>
                                    <td><input type="text" required value="" name="txtstate_ship"></td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> Zipcode:</td>
                                    <td><input type="text" required value="" name="txtzipcode_ship"></td>
                                </tr>

                                <tr>
                                    <td><span class="required">*</span> Country:</td>
                                    <td>@Html.DropDownListFor(m => m.shipping_country, (SelectList)ViewBag.CountryList) </td>
                                </tr>
                                <tr>
                                    <td><span class="required">*</span> Telephone:</td>
                                    <td><input type="text" required value="" name="txtphone_ship"></td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input style="float:left;width:12px;" type="checkbox" name="samebilling" onclick="shipsame(this.form);" />My delivery and billing addresses are the same.
                       
                    </td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h1>Payment Method</h1>
                <tr>
                    <td><span class="required">*</span> Shipping Date:</td>
                    <td><input type="date" required value="" class="date" name="txtdatereceive"></td>
                </tr>
                <tr>
                    <td><span class="required">*</span> Payment Method:</td>
                    <td>
                        <select class="large-field" name="txtpayment">
                            <option value="Cash On Delivery">Cash On Delivery</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td> Add Comments About Your Order:</td>
                    <td>
                        <textarea name="txtcomment" cols="50" rows="10"></textarea>
                    </td>
                </tr>

                @*</td>
                    </tr>*@
                @{Html.RenderAction("OrderComfirm", "Checkout");}
            </table>
        }
    </div>