﻿@model OnlineJewelleryShopping.ViewModel.ShoppingCartView
<tr>
    <td colspan="2">
        <div id="confirm">
            <h1>Confirm Order</h1>
            <div class="accordion-content" style="display: block;">
                <div class="checkout-product">
                    <table>
                        <tbody>
                            <tr>
                                <td class="name">Product Name</td>
                                <td class="model">Model</td>
                                <td class="quantity">Quantity</td>
                                <td class="price">Price</td>
                                <td class="total">Total</td>
                            </tr>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td class="name"><a href="@Url.Action("Index", "Product", new {id= item.product_id})">@item.product.product_name</a></td>
                                    <td class="model">Product @item.product_id</td>
                                    <td class="quantity">@item.shopping_cart_count</td>
                                    @if (@item.product.product_discount_detail.Count > 0)
                                    {
                                        foreach (var dis in item.product.product_discount_detail)
                                        {
                                            if (dis.product_discount.product_discount_startdate <= DateTime.Now && dis.product_discount.product_discount_enddate >= DateTime.Now)
                                            {
                                                <td class="price">
                                                    @{float priceold = (float)item.product.product_price * (int)dis.product_discount.product_discount_amount / 100;}
                                                    @{float oldnew = (float)item.product.product_price - (float)priceold;}
                                                    $@string.Format("{0:F}", @oldnew)<br />

                                                    <span style="text-decoration:line-through">
                                                        $@string.Format("{0:F}", @item.product.product_price)
                                                    </span>
                                                </td>

                                                <td class="price">
                                                    @{float totalprice = (float)oldnew * (int)item.shopping_cart_count;}
                                                    $@string.Format("{0:F}", @totalprice)
                                                </td>
                                            }
                                            else
                                            {

                                                <td class="price">
                                                    $@item.product.product_price
                                                </td>

                                                <td class="price">
                                                    @{float totalprice = (float)item.product.product_price * (int)item.shopping_cart_count;}
                                                    $@totalprice
                                                </td>
                                            }
                                        }

                                    }
                                    else
                                    {

                                        <td class="price">
                                            $@item.product.product_price
                                        </td>

                                        <td class="price">
                                            @{float totalprice = (float)item.product.product_price * (int)item.shopping_cart_count;}
                                            $@totalprice
                                        </td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td class="price" colspan="4"><b>Sub-Total:</b></td>
                                <td class="total">$@string.Format("{0:F}", @Model.CartTotal)</td>
                            </tr>
                            <tr>
                                <td class="price" colspan="4"><b>Vat:</b></td>
                                <td class="total">$@string.Format("{0:F}", @Model.CartVAT)</td>
                                <input type="hidden" name="txtvat" value="@string.Format("{0:F}",@Model.CartVAT)" />
                            </tr>
                            <tr>
                                <td class="price" colspan="4"><b>Total:</b></td>
                                <td class="total">$@string.Format("{0:F}", @Model.TotalOrder)</td>
                                <input type="hidden" name="txttotal" value="@Model.TotalOrder" />
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="float:right;padding-right:120px">
                    <input type="submit" class="submit-login" id="button-confirm" value="Confirm Order">
                </div>
            </div>
        </div>
    </td>
</tr>