﻿@model  PagedList.IPagedList<OnlineJewelleryShopping.Models.product>

@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}

<div id="content">

    <h1>@ViewBag.Title</h1>
    <div class="product-filter">
        <div class="display"><b>Display:</b> List </div>
        <div class="limit">
            <b>Show:</b>
            <select onchange="location = this.value;">
                <option value="" selected="selected">15</option>
            </select>
        </div>
        <div class="sort">
            <b>Sort By:</b>
            <select onchange="location = this.value;">
                <option value="" selected="selected">Default</option>
            </select>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div>
            <div class="product-list">
                <div>
                    <div class="right">
                        <div class="cart">
                            <a href="@Url.Action("Index", "Product", new {id =@item.product_id })"><label class="btn"><input type="button" value="Add to Cart" onclick="addToCart('41');" class="button"></label></a>
                        </div>
                    </div><div class="left">
                        <div class="image">
                            <a href="@Url.Action("Index", "Product", new {id = @item.product_id })">
                                <img src="@Url.Content(@item.product_images_01)" title="@item.product_name" alt="@item.product_name" width="80" height="80" />
                            </a>
                        </div>
                        <div class="price">
                            $@string.Format("{0:F}",@item.product_price)
                            @if(item.product_discount_detail.Count>0)
                            {
                                foreach(var dis in item.product_discount_detail)
                                {
                                    if(dis.product_discount.product_discount_startdate<=DateTime.Now && dis.product_discount.product_discount_enddate>= DateTime.Now){
                                        <span class="price-new">Save You: @dis.product_discount.product_discount_amount%</span>
                                }
                                }
                            }
                        </div>
                        <div class="name"><a href="@Url.Action("Index", "Product", new {id = @item.product_id })">@item.product_name</a></div>
                        <div class="description">@Html.Raw(@item.product_descripttion)</div>
                    </div>
                </div>

            </div>
        </div>
    }


    <div class="pagination">
        Showing (
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount )

        @Html.PagedListPager(Model, page => Url.Action("Brand", "Product", new { page, currentfiler = ViewBag.txtname }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

    </div>

</div>