﻿@model PagedList.PagedList<OnlineJewelleryShopping.Models.product>
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(input)
    }
    else
    {
        var thisString = input.Substring(0, length);
        @Html.Raw(thisString)
    }
}
@using PagedList.Mvc;
@{
    
    ViewBag.Title = "Price Range";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}
<div id="container">
    <!--Left Part Start-->
    <aside id="column-left">
        <!--Accordian Start-->
        <div class="box">
            <div class="box-heading">Categories</div>
            <div class="box-content">
                <div class="box-category">
                    @{Html.RenderAction("MenuPrice", "Category");}
                </div>
            </div>
        </div>
        <!--Accordian Start-->
        <!--Featured Product Start-->
        @{Html.RenderAction("Featured", "Category");}
        <script>
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 00,
                    max: 500,
                    values: [@ViewBag.from, @ViewBag.to],
                    slide: function (event, ui) {
                        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    },
                    stop: function (event, ui) {
                        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));
                        var from = $("#slider-range").slider("values", 0);
                        var to = $("#slider-range").slider("values", 1);
                        //window.location.href = "http://www.themehive.net/opencart/jewelleryonlinestore/index.php?route=product/product_sort&from=" + from + "&to=" + to;
                        window.location.href = "@Url.Action("PriceRange", "Product")?from=" + from + "&to=" + to;
                    }
                });
                $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));
            });
        </script>
        @{Html.RenderAction("pricerangeshow", "Product");}
        <!--Featured Product end-->
        <!--Special Offer Start-->
        @{Html.RenderAction("Advproduct", "Site");}
        <!--Special Offer End-->
    </aside>
    <!--Left Part End-->
    <section id="mainContent">

        <div id="content">
            <h1>Price Range</h1>
            <h2>Products meeting the filter criteria</h2>
            <!--Social Icons Start-->
            @RenderPage("~/Views/Shared/_social.cshtml")
            <!--Social Icons End-->
            <!--Product Filter Start-->
            <form method="get" id="frmFilter">
                <div class="product-filter">
                    <div class="display"><b>Display:</b>  <a href="" class="gridSelect">Grid</a></div>
                    <div class="limit">
                        <b>Show:</b>
                        <select onchange="location = this.value;">
                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=@ViewBag.CurrentOrder&PageSize=15" @if (ViewBag.CurrentPageSize == 15) { Html.Raw("selected"); }>
                                15
                            </option>
                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=@ViewBag.CurrentOrder&PageSize=25" @if (ViewBag.CurrentPageSize == 25) { Html.Raw("selected"); }>25</option>
                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=@ViewBag.CurrentOrder&PageSize=50" @if (ViewBag.CurrentPageSize == 50) { Html.Raw("selected"); }>50</option>
                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=@ViewBag.CurrentOrder&PageSize=75" @if (ViewBag.CurrentPageSize == 75) { Html.Raw("selected"); }>75</option>
                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=@ViewBag.CurrentOrder&PageSize=100" @if (ViewBag.CurrentPageSize == 100) { Html.Raw("selected"); }>100</option>
                        </select>
                    </div>
                    <div class="sort">
                        <b>Sort By:</b>
                        <select onchange="location = this.value;">

                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=" >Default</option>
                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=Price_asc" @if (ViewBag.CurrentOrder == "Price_asc")
                                                                                               { @Html.Raw("selected")         ; }>Price (Low > High)</option>

                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=Price_desc" @if (ViewBag.CurrentOrder == "Price_desc")
                                                                                                { @Html.Raw("selected")          ; }>Price (High > Low)</option>

                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=Name_asc" @if (ViewBag.CurrentOrder == "Name_asc")
                                                                                              { @Html.Raw("selected")           ; }>Name (A > Z)</option>

                            <option value="?from=@ViewBag.from&to=@ViewBag.to&order=Name_desc" @if (ViewBag.CurrentOrder == "Name_desc")
                                                                                               { @Html.Raw("selected")            ; }>Name (Z > A)</option>



                        </select>
                    </div>
                </div>
            </form>
            <!--Product Filter End-->
            <!--Product List Start-->
            @foreach (var item in Model)
            {
                <div class="product-list">
                    <div>
                        <div class="right">
                            @if (item.product_discount_detail.Count > 0)
                            {
                                <div class="price">
                                    @foreach (var dis in item.product_discount_detail)
                                    {
                                        if (dis.product_discount.product_discount_startdate <= DateTime.Now && dis.product_discount.product_discount_enddate >= DateTime.Now)
                                        {
                                            <span class="price-old">$@item.product_price</span>
                                            <span class="price-new">
                                                @{float pricenew = (float)item.product_price * (float)dis.product_discount.product_discount_amount / 100;}
                                            @{float pricen = (float)item.product_price - pricenew;}
                                            $@string.Format("{0:f}", pricen)
                                        </span>
                                        }
                                    }
                                </div>
                            }
                            else
                            {

                                <div class="price">
                                    $@string.Format("{0:f}", @item.product_price) <br>
                                </div>
                            }

                            @using (Html.BeginForm("AddToCart", "Checkout", FormMethod.Post))
                            {
                                <div class="cart">
                                    <label class="btn">

                                        <input type="hidden" name="quantity" value="1" />
                                        <input type="hidden" name="txtproduct_id" value="@item.product_id" />
                                        @if (item.product_quantity != 0)
                                        {
                                            <label class="btn"><input type="submit" class="button" onclick="" value="Add to Cart"></label>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Index", "Product", new { id = @item.product_id })"><label class="btn"><input type="button" class="button" onclick="" value="Out stock"></label></a>
                                        }
                                    </label>
                                </div>
                            }

                            <div class="wishlist"><a href="#">Add to Wish List</a></div>
                            <div class="compare"><a href="#">Add to Compare</a></div>
                        </div>
                        <div class="left">
                            <div class="image">
                                <a href="@Url.Action("Index", "Product", new { id = @item.product_id }, null)"><img alt="@item.product_name" title="@item.product_name" src="@Url.Content(item.product_images_01)" height="100" width="100" /></a>
                            </div>
                            <div class="name"><a href="@Url.Action("Index","Product",new{ id = @item.product_id },null)">@item.product_name</a></div>
                            <div class="description">@Truncate(@item.product_descripttion,70)</div>
                        </div>
                    </div>



                    <!--Product List Start-->



                </div>
            }
            <div class="pagination">
                <div class="results">
                    Showing (
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount )
                    @Html.PagedListPager(Model, page => Url.Action("PriceRange", "Product", new { from = ViewBag.from, to = ViewBag.to, page , PageSize = ViewBag.CurrentPageSize, Order = ViewBag.CurrentOrder}), PagedListRenderOptions.OnlyShowFivePagesAtATime)

                </div>
            </div>
        </div>
    </section>
</div>