﻿
<div class="box">
    <div class="box-heading">Price Range slider</div>
    <div class="box-content" style="text-align: center;">
        <form name="frmprice" id="frmprice" action="" method="get">
            <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
        </form>
        <div id="slider-range"></div>
    </div>
</div>