﻿@model OnlineJewelleryShopping.Areas.Admin.Models.AdminEditModel

@{
    ViewBag.Title = "Edit";
}
@{
    ViewBag.PageHeading = "Edit Admin infomation";
}

@using (Html.BeginForm("Edit", "Admin", new { area = "Admin" }, FormMethod.Post, new { name = "frmAddNewAdmin" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="table-form">
        <tr valign="top">
            <td>
                @Html.HiddenFor(m => m.ID)
                <!-- start id-form -->
                <table border="0" cellpadding="0" cellspacing="0" id="id-form">
                    <tr>
                        <th valign="top">
                            Email:
                        </th>
                        <td>
                            @Html.TextBoxFor(m => m.Email, new { @readonly= "readonly"})
                            @Html.ValidationMessageFor(m => m.Email)
                        </td>
                    </tr>
                    <tr>
                        <th valign="top">Fullname: </th>
                        <td>@Html.TextBoxFor(m => m.FullName)</td>
                        <td>@Html.ValidationMessageFor(m => m.FullName)</td>
                    </tr>
                    <tr>
                        <th valign="top">Phone number: </th>
                        <td>@Html.TextBoxFor(m => m.Phone)</td>
                        <td>@Html.ValidationMessageFor(m => m.Phone)</td>
                    </tr>
                    <tr>
                        <th valign="top"></th>
                        <td>
                            <input type="submit" value="Save">
                            @Html.ActionLink("Back to list", "Index")
                        </td>
                        <td></td>
                    </tr>
                </table>

                <!-- end id-form  -->
            </td>
            <td></td>
        </tr>
        <tr>
            <td><img src="~/Areas/Admin/Content/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
            <td></td>
        </tr>
    </table>
}
<div class="clear"></div>
