﻿@model IEnumerable<OnlineJewelleryShopping.Models.advertise>
<div class="box-heading-1"><span>Advertising</span></div>
<br />
<div id="carousel0">
    <ul class="jcarousel-skin-opencart">
        @foreach (var advertising in Model)
        {
            if (advertising.advertise_name.Equals("footer"))
            { 
        <li><a href="@advertising.advertise_url"><img src="@Url.Content(advertising.advertise_image)" alt="" title="" /></a></li>
            }
        }
    </ul>
</div>