﻿@model OnlineJewelleryShopping.Models.contact_info
<div id="customHome" class="container_12">
    <!-- About Text -->
    <div id="about_us_footer">
        <h2>Lorem Ipsum is simply </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br /><br />Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <!--  TWITTER Twites -->
    <div id="contact_footer">
        <h2>Office Hours & Locations</h2>
        <ul>
            Phone Hours of Operation:
            <br>
            <br>

            Mon - Fri: 5:30am - 5:30pm PT
            <br>

            Saturday: 8:30am - 5:00pm PT
            <br>

            Sunday: Closed
            <br>
            Fax:@Html.DisplayFor(m =>@Model.contact_info_fax)

            <br>
            <br>

            Address: @Html.DisplayFor(m => @Model.contact_info_address)
        </ul>
    </div>

    <!-- contact Info -->
    <div id="contact_footer">
        <h2>Contact Info</h2>
        <ul>
            <li>
                <!-- TELEPHONE -->
                <ul id="tel" class="contact_column">
                    <li id="footer_telephone">@Html.DisplayFor(m => @Model.contact_info_phone)</li>
                </ul>

                <!-- FAX  -->
                <ul id="fax" class="contact_column">
                    <li id="footer_fax">@Html.DisplayFor(m => @Model.contact_info_fax)</li>
                </ul>

                <!-- EMAIL -->
                <ul id="mail" class="contact_column">
                    <li id="footer_email">@Html.DisplayFor(m => @Model.contact_info_email)</li>
                </ul>

                <!-- SKYPE -->
                <ul id="skype" class="contact_column">
                    <li id="footer_skype">@Html.DisplayFor(m => @Model.contact_info_skype)</li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Facebook LikeBox -->
    <div id="facebook_footer">
        <h2>Facebook</h2>
        <div id="facebook">

        </div>
    </div>
</div>