﻿@model OnlineJewelleryShopping.ViewModel.ShoppingCartView


<script type="text/javascript" src="@Url.Content("~/js/custom.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/jquery-1.7.1.min.js")"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                clearUpdateMessage();
                // Perform the ajax post
                $.post("/Checkout/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        //if (data.ItemCount == 0) {
                        $('#row-' + data.DeleteId).fadeOut('slow');
                        //} else {
                        //    $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        //}
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(htmlDecode(data.Message));
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });

        $(".UpdateCartCount").click(function () {
            // Get the id from the link
            var recordToUpdate = $(this).attr("data-id");
            //Set quantity number to 0 if input value is empty
            var countToUpdate = 0;
            if ($("#" + $(this).attr("txt-id")).val().trim() !== '') {
                countToUpdate = $("#" + $(this).attr("txt-id")).val();
            }
            if (recordToUpdate != '') {
                clearUpdateMessage();
                // Perform the ajax post
                $.post("/Checkout/UpdateCart", { "id": recordToUpdate, "count": countToUpdate },
                function (data) {
                    // Successful requests get here
                    // Update the page elements
                    if (data.ItemCount == 0) {
                        $('#row-' + data.DeleteId).fadeOut('slow');
                    }
                    $('#update-message').text(htmlDecode(data.Message));

                    //Check for not process the callback data when server error occurs
                    if (data.ItemCount != -1) {
                        $('#cart-total').text(data.CartTotal);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    }
                });
            }
        });
    });

    function clearUpdateMessage() {
        // Reset update-message area
        $('#update-message').text('');
    }
    function htmlDecode(value) {
        if (value) {
            return $('<div />').html(value).text();
        }
        else {
            return '';
        }
    }
    if (typeof String.prototype.trim !== 'function') {
        String.prototype.trim = function () {
            return this.replace(/^\s+|\s+$/g, '');
        }
    }
</script>

<div id="header">
    <div id="logo">
        <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/image/logo.png")" title="Your Store" alt="Your Store" /></a>
    </div>
    <!-- Mini Cart Start-->
    @if (ViewBag.check != null)
                    {
    <div id="cart">
        <div class="heading"><a><span> @{Html.RenderAction("CartSummary","Site");}</span></a></div>
        <div class="content">
            <span class="topArrow">&nbsp;</span>
            <div class="mini-cart-info">
                <table cellpadding="0" cellspacing="0">
                    @foreach(var item in Model.CartItems)
                    {
                    <tr>
                        <td class="image">
                            <a href="@Url.Action("Index", "Product", new { id = item.product_id })"><img title="Bracelet" alt="Bracelet" src="@Url.Content(item.product.product_images_01)" width="60" height="60" /></a>
                        </td>
                        <td class="name"><a href="@Url.Action("Index", "Product", new { id = item.product_id })">@item.product.product_name</a></td>
                        <td class="quantity">x @item.shopping_cart_count</td>
                        <td class="total">$@item.product.product_price</td>
                        <td class="remove"><a href="" class="RemoveLink" data-id="@item.shopping_cart_recordid"><img src="@Url.Content("~/data/files/remove.png")" alt="Remove" title="Remove"></a>
</td>
                    </tr>
                        
                   }
                </table>

            </div>
           
            <div class="checkout"><a href="@Url.Action("Cart", "Checkout")" class="btn"><span>View Cart</span></a> &nbsp; <a href="@Url.Action("Index", "Checkout")" class="btn"><span>Checkout</span></a></div>
        </div>
    </div>
                    }
                else
                {
                    
        <div id="cart">
        <div class="heading"><a><span> @{Html.RenderAction("CartSummary","Site");}</span></a></div>
        <div class="content">
            <span class="topArrow">&nbsp;</span>
            <div class="mini-cart-info">
                <table cellpadding="0" cellspacing="0">
                    <div class="empty">@Html.ActionLink("Your shopping cart is empty!","Index","Home")</div>
                    
                </table>
            </div>
        </div>
    </div>   
                    
                }
    <!-- Mini Cart End-->
    @if (Session["customer"] == null)
    {
        <div id="welcome"> Welcome visitor you can @Html.ActionLink("Login", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account"). </div>
    }
    else
    {
        <div id="welcome"> You are logged in as <a href="@Url.Action("Index","Account")">@Session["customer_firstname"] @Session["customer_lastname"]</a> as (@Html.ActionLink("Logout", "Logout", "Account").) </div>

    }
    @{Html.RenderAction("Search", "Site");}
</div>