/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/pro_dropline.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

.nav	{
	background: #4f4f4f url(../images/shared/nav/pro_line_0.gif) repeat-x;
	font-family:Tahoma;
	font-size: 14px;
	height: 29px;
	position: relative;
	margin: 0 auto;
	min-width: 780px;
	max-width: 1260px;
	z-index: 500;
	}
.nav .table	{
	display: table;
	 
	}
.nav .select,
.nav .current	{
	display: table-cell;
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	}
.nav li	{
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	}
.nav .select a	{
	background: url(../images/shared/nav/pro_line_0.gif);
	color: #fff;
	display: block;
	float: left;
	height: 29px;
	line-height: 29px;
	padding: 0 30px 0 30px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a	{
	background: url(images/shared/nav/pro_line_1.gif);
	color: #fff;
	display: block;
	float: left;
	height: 29px;
	line-height: 29px;
	padding: 0 0 0 15px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a b	{
	background: url(images/shared/nav/pro_line_1.gif) right top;
	display: block;
	padding: 0 30px 0 15px;
	}
.nav .select a:hover, 
.nav .select li:hover a	{
	background: url(images/shared/nav/pro_line_1.gif);
	color: #fff;
	cursor: pointer;
	padding: 0 0 0 15px;
	}
.nav .select a:hover b, 
.nav .select li:hover a b	{
	background: url(images/shared/nav/pro_line_1.gif) right top;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0 30px 0 15px;
	}
.nav .select_sub	{
	display: none;
	}

/* IE6 only */
.nav table	{
	border-collapse: collapse;
	font-size: 1em;
	height: 0;
	margin: -1px;
	width: 0;
	}
.nav .sub	{
	display: table;
	list-style: none;
	/* margin: 0 auto; */
	padding: 0;
	}
.nav .sub_active .current_sub a, 
.nav .sub_active a:hover	{
	background: transparent;
	color: #f00;
	}
.nav .select :hover .select_sub, 
.nav .current .show	{
	background: url(images/shared/nav/back_0.gif);
	 
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 29px;
	width: 750px;
	z-index: 100;
	}
.nav .current .show	{
	z-index: 10;
	}
.nav .select :hover .sub li a, 
.nav .current .show .sub li a	{
	background: transparent;
	border: 0;
	color: #444;
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	white-space: nowrap;
	}
.nav .current .sub li.sub_show a	{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #088;
	cursor: default;
	}
.nav .select :hover .sub li a:hover, 
.nav .current .sub li a:hover	{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #088;
	visibility: visible;
	}