﻿@model OnlineJewelleryShopping.Areas.Admin.Models.BrandModel

@{
    ViewBag.Title = "Edit";
    ViewBag.PageHeading = "Edit brand";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.brand_id)
    <div id="table-content">

        <table width="100%" border="0" cellspacing="20" cellpadding="20" id="table-from">
            <tr>
                <th width="100px" align="left">Name</th>
                <td>@Html.TextBoxFor(m => m.brand_name) @Html.ValidationMessageFor(m => m.brand_name)</td>
            </tr>
            <tr>
                <th width="100px" align="left">Phone</th>
                <td>@Html.TextBoxFor(m => m.brand_phone) @Html.ValidationMessageFor(m => m.brand_phone)</td>
            </tr>
            <tr>
                <th width="100px" align="left">Fax</th>
                <td>@Html.TextBoxFor(m => m.brand_fax) @Html.ValidationMessageFor(m => m.brand_fax)</td>
            </tr>
            <tr>
                <th width="100px" align="left">Address</th>
                <td>@Html.TextBoxFor(m => m.brand_address) @Html.ValidationMessageFor(m => m.brand_address)</td>
            </tr>
            <tr>
                <th width="100px" align="left">Description</th>
                <td>@Html.TextAreaFor(m => m.brand_descripttion, new { height = "300px", @class = "ckeditor" })</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save" /> @Html.ActionLink("Back to List", "Index")</td>
            </tr>
        </table>


    </div>

}

