﻿@model OnlineJewelleryShopping.Models.about_us

@{
    ViewBag.Title = "About Us Infomation";
}
@{
    ViewBag.PageHeading = "About Us Infomation";
}


<div id="table-content">
    @if (Model != null && Model.about_us_conten != null)
    {
        @Html.Raw(Model.about_us_conten)
    }
    else
    {
       <p>No data</p>
    }

</div>
<p align="center" style="font-weight: bold;">
    @Html.ActionLink("Edit Content", "Edit", "AboutUs", new { area = "Admin" }, new { @class = "" })
</p>